.sidebar_wrapper
	.sidebar_inner_wrapper
		-if current_user
			.profile
				.user_info
					.name
						%h2
							=link_to user.name, user_path(user.id)
						%p.credential.grey= user.credential
			
				.stats
					%h2.section_title.stats
						=render 'svg/stats_icon'
						%span
							=t 'sidebar.stats.title'
					.stats_item
						%p 
							=t('sidebar.stats.posts', count: user.posts.count)
					.stats_item
						%p	
							=t('sidebar.stats.follower', count: user.followers.count)
					.stats_item
						%p
							=t('sidebar.stats.following', count: user.following.count)
				.like_stats
					%h2.section_title.like
						=render 'svg/like_icon'
						%span
							=t 'sidebar.likes.title'
						
					%p 
						=t 'sidebar.likes.all_time'
						\: #{user.liked_count}
						
				#favorite_tags
					%h2.section_title.tag
						=render 'svg/tag_icon_circle'
						%span
							=t 'sidebar.favorite_tags.title'
					.favorite_tags_block
						-unless user.favorites.empty?
							-user.favorites.includes(:tag).each do |favorite|
								=link_to "\##{favorite.tag.name}", tag_path(favorite.tag.name), class: "tag"
									
						
					=link_to "#{t('sidebar.favorite_tags.link')} >>", tags_path, class: "tags_link"
					
		-else
			.profile.not_signed_in
				.user_info
					.name
						%h2
							=t('sidebar.no_account')

				.stats
					%h2.section_title.stats
						=render 'svg/stats_icon'
						Stats
					.stats_item
						%p 
							Posts: -
					.stats_item
						%p	
							Follower: -
					.stats_item
						%p
							Following: -
				.like_stats
					%h2.section_title
						=render 'svg/like_icon'
						%span
							Likes
						
					%p 
						ALL-TIME: -
				
				#favorite_tags
					%h2.section_title.tag
						=render 'svg/tag_icon_circle'
						%span
							=t 'sidebar.favorite_tags.title'
					.favorite_tags_block
						%p
							\-
					
	
					
			
			
			
		