- comment.replies.each do |reply|  
  .reply{class: "reply_#{reply.id}"}
    .content.clearfix
      .user_block.clearfix{class: "user_#{post.user.id}"}
        =image_tag reply.user.image.url, class:"pull-left"
        =link_to reply.user, class: "pull-left" do
          =reply.user.name
          %span.grey
            #{time_ago_in_words(reply.created_at)} ago
          %p.user_shoulder_name
            =reply.user.shoulder_name
        .follow_switch.pull-right
          =render "/shared/follow_form_icon.html.haml", user: reply.user
      %p.give_me_ellipsis 
        =reply.content
      - if current_user.id == reply.user_id
        =link_to "EDIT", edit_reply_path(reply.id), remote: true, class: "edit_link_btn"  
        |            
        =link_to "DELETE", reply_path(reply.id), class: "edit_link_btn" , data: {confirm: "are you sure you want to delete your post?"}, method: :delete  
      .status
        .like_link
          =render '/likes/like_reply', reply: reply