.reply.clearfix{class: "reply_#{reply.id}"}
	.main.clearfix
		=image_tag reply.user.image.url, class: "img-circle"
		.body
			.user_info
				.user_name
					=link_to reply.user do
						%span.user_name.light_navy.bold
							=reply.user.name
					%span.user_shoulder_name.sm.grey
						=reply.user.shoulder_name
				.option
					%i.fa.fa-ellipsis-h.reply_option_link
					=render '/dropdown/reply_option', reply: reply
				
			.content
				=truncate(simple_format(reply.content), escape: false, length: 200) do
					%span.light_navy.read_more{class: "reply_read_more_#{reply.id}"}
						Raed more
			.status.clearfix
				.reply_like_link.grey
					=render '/likes/like_reply', reply: reply

				
:javascript 
	$(".reply_read_more_#{reply.id}").click(function(){
		$(this).parent('.content').html('#{ simple_format(reply.content)}');
	});
					
	$('.reply_option_link').click(function () {
			console.log("yoyoma");
			// ボタンが押されたら、モーダルウィンドウを表示
			$(".ddm").hide();
			$(this).parents(".reply").find('.reply_ddm').css("display", "flex");
			
			return false;
	});
	
	$('body').click(function (event) {
		if(!$(event.target).closest('.reply_ddm').length && !$(event.target).is('.reply_ddm')) {
			$(".reply_ddm").hide();
		}     
	});