.reply.clearfix{class: "reply_#{reply.id}"}
	.main.clearfix
		=image_tag reply.user.image.url, class: "img-circle"
		.body
			.user_info
				.user_name
					=link_to reply.user do
						%span.user_name.light_navy.bold
							=reply.user.name
					%span.user_shoulder_name.sm.grey
						=reply.user.shoulder_name
				.option
					%i.fa.fa-ellipsis-h
			
			.content
				=simple_format(reply.content)
			.status.clearfix
				.like_link.grey
					=render '/likes/like_reply', reply: reply
					
					
					