#post_form.edit_draft_form.admin_draft_form
	.body
		.form_main.clearfix
			=form_tag publish_draft_admin_path(post.id), method: :post, remote: true do
				.field.form-group.form_check_group
					- Category.all.each do |category|
						-if post.category.id == category.id 
							.category_radio_btn{class: "category_#{category.id}"}
								=radio_button_tag 'post[category_id]', category.id, {:checked => true}
								=label :'post[category_id]', category.name, value: category.id
						-else
							.category_radio_btn{class: "category_#{category.id}"}
								=radio_button_tag 'post[category_id]', category.id
								=label :'post[category_id]', category.name, value: category.id
			
				.field.form-group.form_check_group
					.check
						=check_box_tag "post[fake_news_report]", true, post.fake_news_report
						=label_tag "post[fake_news_report]", 'post as a fake news report'
				
				.field.form-group#post_textarea
					.textarea
						= text_area_tag 'post[content]', post.content, placeholder: "your awesome comment *optional", class: "post_textarea"
			
				.post_submit_menu
					#sns_post_form_menu
						=render 'snss/sns_post_form_menu', user: current_user
			
					.submit_btn_group
						= submit_tag "PUBLISH", class: "form_btn #post_submit_btn"					
						=link_to "MEH", hide_draft_admin_path(post), method: :post, remote: true, class: "form_btn text-center"
							
			

=render 'js/autocomplete'

:javascript
	
	$("#post_textarea textarea").height(30);//init
	$("#post_textarea textarea").css("lineHeight","20px");//init
	
	$("#post_textarea textarea").on("input",function(evt){
		console.log("post_content");
		if(evt.target.scrollHeight > evt.target.offsetHeight){
			$(evt.target).height(evt.target.scrollHeight);
		}else{
			var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
			while (true){
				$(evt.target).height($(evt.target).height() - lineHeight);
				if(evt.target.scrollHeight > evt.target.offsetHeight){
					$(evt.target).height(evt.target.scrollHeight);
				}
				break;
			}
		}
	});
	
	
	$("#post_form .cancel_btn").click(function(){
		$(this).parents(".post").find(".edit_form").hide();
		$(this).parents(".post").find(".opinion").fadeIn();
		$(".draft_menu").fadeIn();
	});

	

	


	

