$('.article_#{@article.id}').find('.priority_level_counter').text("#{@article.priority_level}");
$('.notice_bar.for_js').hide();
$('.notice_bar.for_js').css("display", "flex").delay(4000).fadeOut('slow'); 
$('.notice_bar.for_js').text("Priority level - 10"); 