-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.post_drafts
	.sub_function_main_section
		.sub_function_nav
			%h2
				Draft
			
		#main_contents
			-if @post_drafts.empty?
				.result_not_found
					%h4.not_found_content
						=t('not_found.user_drafts')
			-else
				#post_drafts_index
					= render partial: "post_drafts/admin_draft", collection: @post_drafts.includes(:article), as: :post_draft
					-if @post_drafts.count < 30
						.scroll_btn.stop_loading
							NO MORE DRAFTS	
					-else
						.scroll_btn.load_admin_drafts
							LOAD MORE	
						
	.sub_function_sidebar

		.articles_count_section
	
			.user_block
				.user_image
					=user_image_helper(current_user)
				.user_info
					=link_to current_user  do
						.give_me_short_ellipsis.light_navy.bold
							=current_user.name
					%p.user_credential.sm.grey
						=current_user.credential
			.articles_count_block
				%h3
					Japan
				.today
					.result
						=current_user.post_drafts.where.not(hide: true).where(country_id: Country.find_by(name: "Japan").id).count
			.articles_count_block
				%h3
					USA
				.today
					.result
						=current_user.post_drafts.where.not(hide: true).where(country_id: Country.find_by(name: "United States").id).count
			
			=link_to "CALL SCHNEIDER", prepare_admin_posts_path, id: "schneider_btn", method: :post
			
:javascript
	$('.scroll_btn.load_admin_drafts').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_admin_drafts_path}",
				type: "GET",
				data: {existing_admin_drafts: $('#main_contents').find('.admin_draft').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})