-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.post_drafts
	.sub_function_main_section
		.sub_function_nav
			%h2
				NEWSB PUBLIC NOTIFICATIONS
		.newsb_notification_form_section
			=render 'admins/newsb_notification_form'
			
		#main_contents.newsb_notifications
			#newsb_notifications_index
				= render partial: "admins/newsb_notification", collection: @newsb_notifications.includes(:target_user), as: :notification
			.scroll_btn.newsb_notifications
				LOAD MORE
				
:javascript
	$('.scroll_btn.newsb_notifications').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_newsb_notifications_path}",
				type: "GET",
				data: {existing_newsb_notifications : $('#main_contents').find('.newsb_notification').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})