$('.post_#{@post_draft.id}').hide();
$('.notice_bar.for_js').hide();
$('.notice_bar.for_js').css("display", "flex").delay(4000).fadeOut('slow'); 
$('.notice_bar.for_js').text("Your draft has been published."); 