.comment{class: "comment_#{comment.id}"}
	.body
		.main
			.content
				.user_block
					.user_image_sm
						=user_image_helper(comment.user)
					.user_info
						.user_name
							=link_to comment.user do
								%span.user_name.bold
									=comment.user.name
							%p.user_credential.sm.grey
								=comment.user.credential
				%span.opinion.comment_opinion
					=truncate( simple_format(comment.content), escape: false, length: 200) do
						%span.light_navy.read_more{class: "comment_read_more_#{comment.id}"}
							Raed more
		.status
			.comment_like_block
				=render '/likes/like_comment', comment: comment
			.option
				%i.fa.fa-ellipsis-h.comment_option_link
				=render 'dropdown/comment_option', comment: comment

			
:javascript 
	$(".comment_read_more_#{comment.id}").click(function(){
		$(this).parents('.content').html("#{ escape_javascript(simple_format(comment.content))}");
	});

	$('.comment_option_link').click(function () {
			var height = $(this).parents(".comment").find('.opinion').css("height");
			$(this).parents(".comment").find('.opinion').attr("data-height", height);
			// ボタンが押されたら、モーダルウィンドウを表示
			$(".ddm").hide();
			$(this).parents(".comment").find('.comment_ddm').css("display", "flex");
			
			return false;
	});
	
	$('body').click(function (event) {
	  if(!$(event.target).closest('.comment_ddm').length && !$(event.target).is('.comment_ddm')) {
			$(".comment_ddm").hide();
	  }     
	});

