.comments
  %h2.title
    COMMENTS・#{post.comments.count}
  - post.comments.each do |comment| 
    .comment.clearfix{class: "comment_#{comment.id}"}
      .body.clearfix
        .main.pull-left
          = render "shared/user_mini_profile", user: comment.user, object: comment
          =simple_format(comment.content)
          .status.clearfix
            .like_link
              =render '/likes/like_comment', comment: comment
            =link_to "Reply", "/replies/#{comment.id}/new", remote: true, class: "reply_link"
              
      .reply_form.clearfix
            
      .reply_index
        =render "replies/best_replies", comment: comment

    
    
    
        
        
        
        
    
