.comment_form.edit_form
	.body
		.form_main.clearfix
			=form_tag "/comments/#{comment.id}", remote: true, method: :patch do
				.field.form-group.comment_textarea
					.textarea
						=text_area_tag 'comment[content]', comment.content, placeholder: "your awesome comment *optional", class: "form_content comment_textarea form-control", style: "border: none; box-shadow: none; resize: none;"
		
					.comment_submit
						= submit_tag "Submit", class: "form_btn .comment_submit"
						.cancel_btn
							=link_to "Cansel", cancel_edit_comment_path(comment), remote: true
			
		
:javascript
		$(".form_content").height(30);//init
		$(".form_content").css("lineHeight","20px");//init
		
		$(".form_content").on("input",function(evt){
						console.log("comment");
				if(evt.target.scrollHeight > evt.target.offsetHeight){
						$(evt.target).height(evt.target.scrollHeight);
				}else{
						var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
						while (true){
								$(evt.target).height($(evt.target).height() - lineHeight);
								if(evt.target.scrollHeight > evt.target.offsetHeight){
										$(evt.target).height(evt.target.scrollHeight);
								}
								break;
						}
				}
		});
			
