
-if current_user
  = form_tag comments_path, remote: true do
    .field.form-group.form_textarea.comment_textarea
      .user_image_sm
        =user_image_helper(current_user)
      = text_area_tag 'comment[content]', "", placeholder: "comment", class: "form-control form_content", style: "box-shadow: none; resize: none;"
      = hidden_field_tag 'comment[post_id]', post.id
    .comment_submit
      = submit_tag "Comment", class: "submit_btn btn"
      .cancel_btn
        Cancel
        
      
   

