-content_for(:sidebar) do
	"Do not show"

#index_nav.text-center.search_nav
	=link_to "/search/#{@key_word}/articles", class: "search_articles" do
		.index_btn
			articles
	=link_to "/search/#{@key_word}/posts", class: "search_posts" do
		.index_btn
			posts
	=link_to "/search/#{@key_word}/users", class: "search_users"  do
		.index_btn.active
			users
	=link_to "/search/#{@key_word}/tags", class: "search_tags"  do
		.index_btn
			tags
	
#main_contents.user_lists
	-if @users_search_results.empty?
		=render 'shared/result_not_found', key_word: @key_word
	-else
		=render partial: "users/user_list", collection: @users_search_results, as: :user

