.sub_function_wrapper.search
	.sub_function_main_section
		.sub_function_nav
			%h2
				"#{@keyword}"
			
			.nav_options	
				=link_to t('search.nav.item.articles'), search_articles_path(@keyword), class: "search_articles"
				=link_to t('search.nav.item.posts'), search_posts_path(@keyword), class: "search_posts"
				=link_to t('search.nav.item.users'), search_users_path(@keyword), class: "search_users active" 
				=link_to t('search.nav.item.tags'), search_tags_path(@keyword), class: "search_tags"
			
		#main_contents.user_lists
			-if @users_search_results.empty?
				.result_not_found
					%h4.not_found_content
						=t('not_found.search_result')
						%br
						"
						=@keyword
						"
			-else
				=render @users_search_results
				-if @users_search_results.count < 30
					.scroll_btn.stop_loading
						NO MORE NOTIFICATIONS	
				-else
					.scroll_btn.searched_users
						LOAD MORE	
				
	.sub_function_sidebar
		%h2
			=t('sidebar.title.new_users')
		.new_users_section
			-if @new_users.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_users')
			-else
				= render partial: "users/card", collection: @new_users, as: :user
				
:javascript
	$('.scroll_btn.searched_users').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_searched_users_path}",
				type: "GET",
				data: {existing_users: $('#main_contents').find('.user').length,
				keyword: "#{@keyword}"
				},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})

	
