#selected_article
  .image{style: "background-image: url(#{article.image.url});"}
    .mini_dark_over_lay
      .block
        %h2.give_me_ellipsis
          =article.title
        .status
          .source
            =article.source
            -unless article.published_time == nil
              #{time_ago_in_words(article.published_time)} ago
          .like_count
            TOTAL LIKE: #{article.likes_count}
          
