
#post_url_form.hidden-xs
	=form_tag "/posts/load_url", remote: true do
		.form-group.input-group
			= url_field_tag :placeholder_url, "", placeholder: "paste url to start your post!", class: "url_form form-control"
			%span.input-group-btn
				= button_tag type: :submit, class: "btn" do
					%i.fa.fa-pencil-square-o
					NEW POST
					
.post_form_block

#main_contents.articles.scrollable
	=render @articles


		
