
#post_url_form.hidden-xs
	=form_tag "/posts/load_url", remote: true do
		.form-group.input-group
			= url_field_tag :placeholder_url, "", placeholder: "paste url to start your post!", class: "url_form form-control"
			%span.input-group-btn
				= button_tag type: :submit, class: "btn" do
					%i.fa.fa-pencil-square-o
					NEW POST
					
#post_form_block

#main_contents.articles.scrollable
	=render @articles


:javascript
	
	$('#mobile_side_nav_link').click(function(){
		if($(this).find('i').hasClass('fa-hashtag')){
			$(this).find('i').removeClass('fa-hashtag').addClass('fa-times');
			$(this).css("bottom", "auto").css("top", "70px");
			$('#side_nav').slideDown();
		} else {
			$('#side_nav').slideUp();
			$(this).find('i').removeClass('fa-times').addClass('fa-hashtag')
			$(this).css("bottom", "20px").css("top", "auto");
		}
	});
	



	// awesome autosize code

	
	$(".form_content").height(30);//init
	$(".form_content").css("lineHeight","20px");//init
	
	$(".form_content").on("input",function(evt){
						if(evt.target.scrollHeight > evt.target.offsetHeight){
								$(evt.target).height(evt.target.scrollHeight);
						}else{
								var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
								while (true){
										$(evt.target).height($(evt.target).height() - lineHeight);
										if(evt.target.scrollHeight > evt.target.offsetHeight){
												$(evt.target).height(evt.target.scrollHeight);
										}
										break;
								}
						}
				});
				

	var win = $(window);
	
	var loading = false;
	// Each time the user scrolls
	win.scroll(function() {
		if ($(document).height() - win.height() == win.scrollTop()) {
			if ($('.articles').length){
			
				if (loading){
					return;
				}	
				loading = true;
				
				$.ajax({
					url: "/articles/load_more",
					type: "GET",
					data: {existing_articles : $('#main_contents').find('.article').length },
					dataType: 'script',
				})
			}
		}
	});				
		
