- set_meta_tags article_meta_tags(@article)

.article_show_section
	.article_section
		=render "/articles/featured_article_sm", article: @article
		=render "/posts/form_no_category", article: @article
		#fake_news_block
			.fake_news_container
				- report_count = @article.posts.where(fake_news_report: true).count
				-if report_count == 0
					%p.no_fake_news_report
						%i.fa.fa-check
						No fake news report has been submitted.
				-else
					%p.yes_fake_news_report
						%i.fa.fa-exclamation-circle
						#{report_count} people reported this article as fake news.
					.show_fake_news_btn
						READ REPORTS >>
					
		#main_contents.article_posts
			=render '/articles/post_index'
	.article_show_sidebar
		%h2 
			RECOMMENDED
		.recommended_section
			-unless @side_articles.empty?
				= render partial: "articles/side_article", collection: @side_articles, as: :article
			
	- @best_posts.ids.each do |best_id|		
		:javascript
			$("#main_contents").find(".post_#{best_id}").find(".user_block .star").css("display","block");
					
:javascript
	$('.show_fake_news_btn').click(function(){
		if($(this).hasClass("open")){
			$(this).removeClass("open").text("READ REPORTS >>");
			$('.fake_news_reports').fadeOut();
		} else{
			$(this).addClass("open").text("HIDE");
			$('.fake_news_reports').fadeIn();
		}
	})