

#main_contents
	=render "/articles/selected_article", article: @article
	
	#selected_article_nav
		=link_to "Read the article", @article.url, target: "_blank", class: "article_btn"
		=form_tag "/posts/load_url", class: "article_btn", remote: true do
			=hidden_field_tag :placeholder_url, @article.url
			=submit_tag "Create your post"
	
	#post_form_block
	
	.posts
		=render @article.posts
	
