
=render "/articles/selected_article", article: @article

#post_form_block

#main_contents.article_posts

	-unless @your_posts.empty?
		.your_posts
			%h2
				YOUR POSTS
			= render partial: "posts/post_wo_article", collection: @your_posts, as: :post
			
	-unless @best_posts.empty?
		.best_posts
			%h2
				BEST POSTS
			= render partial: "posts/post_wo_article", collection: @best_posts, as: :post
			
	-unless @follower_posts.empty?
		.follower_posts
			%h2
				FOLLOWERS POSTS
			= render partial: "posts/post_wo_article", collection: @follower_posts, as: :post
			
	-unless @new_posts.empty?
		.new_posts
			%h2
				NEW POSTS
			= render partial: "posts/post_wo_article", collection: @new_posts, as: :post

