$('.scroll_btn.searched_articles').before('#{ escape_javascript(render @loaded_articles)}');
$('.scroll_btn.searched_articles').html("#{t('scroll.load')}");
$('.scroll_btn.searched_articles').removeClass('loading');
-if @loaded_articles.empty? || @loaded_articles.count < 30
    $('.scroll_btn.searched_articles').html("#{t('scroll.no_more')}");
    $('.scroll_btn.searched_articles').addClass('stop_loading');
    
loading = false;
