$('.scroll_btn.posts').before('#{ escape_javascript(render @loaded_posts)}');
$('.scroll_btn.posts').html("#{t('scroll.load')}");
$('.scroll_btn.posts').removeClass('loading');
-if @loaded_posts.empty? || @loaded_posts.count < 30
    $('.scroll_btn.posts').html("#{t('scroll.no_more')}");
    $('.scroll_btn.posts').addClass('stop_loading');
    
loading = false;
