$('.scroll_btn.load_drafts').before('#{ escape_javascript(render @loaded_drafts)}');
$('.scroll_btn.load_drafts').html("#{t('scroll.load')}");
$('.scroll_btn.load_drafts').removeClass('loading');
-if @loaded_drafts.empty? || @loaded_drafts.count < 30
    $('.scroll_btn.load_drafts').html("#{t('scroll.no_more')}");
    $('.scroll_btn.load_drafts').addClass('stop_loading');
    
