$('.scroll_btn').before('#{ escape_javascript(render  partial: "posts/post_wo_article", collection: @loaded_posts, as: :post)}');
$('.scroll_btn').html('LOAD MORE');
$('.scroll_btn').removeClass('loading');
-if @loaded_posts.empty? || @loaded_posts.count < 30
    $('.scroll_btn').html('NO MORE POSTS');
    $('.scroll_btn').addClass('stop_loading');
    
loading = false;
