$('.scroll_btn').before('#{ escape_javascript(render @loaded_users)}');
$('.scroll_btn').html('LOAD MORE');
$('.scroll_btn').removeClass('loading');
-if @loaded_users.empty?
    $('.scroll_btn').html('NO MORE USERS');
    $('.scroll_btn').addClass('stop_loading');
    
loading = false;
