$('.scroll_btn').before('#{ escape_javascript(render @loaded_articles)}');
$('.scroll_btn').html('LOAD MORE');
$('.scroll_btn').removeClass('loading');
-if @loaded_articles.empty?
    $('.scroll_btn').html('NO MORE ARTILCE');
    $('.scroll_btn').addClass('stop_loading');
    
loading = false;
