$('.scroll_btn.load_followers').before('#{ escape_javascript(render @loaded_users)}');
$('.scroll_btn.load_followers').html('LOAD MORE');
$('.scroll_btn.load_followers').removeClass('loading');
-if @loaded_users.empty? || @loaded_users.count < 30
    $('.scroll_btn.load_followers').html('NO MORE USERS');
    $('.scroll_btn.load_followers').addClass('stop_loading');
    
loading = false;
