$('.scroll_btn.index_notifications').before("#{ escape_javascript(render @loaded_index_notifications)}");
$('.scroll_btn.index_notifications').html("#{t('scroll.load')}");
$('.scroll_btn.index_notifications').removeClass('loading');
-if @loaded_index_notifications.empty? || @loaded_index_notifications.count < 30
    $('.scroll_btn.index_notifications').html("#{t('scroll.no_more')}");
    $('.scroll_btn.index_notifications').addClass('stop_loading');
    
loading = false;
