=link_to notification.path, class: "notification" do
	.user_image
		=user_image_helper(notification.target_user)
	.content
		%p
			=notification.message.html_safe
		%p
			#{time_ago_in_words(notification.created_at)} ago