:javascript

  // for autocomplete 
  
  // disabling default enter & up key function of keyboard 
  $('#post_content').keydown(function(e) {
    if(e.keyCode === 13){
  	  if($('#autocomplete_tags li').length){
  	    return false;
  	  }
  	}
  	if(e.keyCode === 38){
  	  if($('#autocomplete_tags li').length){
  	    return false;
  	  }
  	}
  });
  
  // selecting tags through autocomplete_tag_lists
  $('#post_content').keyup(function(e) {
    var $selected_tag = $('#suggested_tags li.selected');
    var last_index = $('#suggested_tags li').length - 1;
    var selected_index = $selected_tag.index();
    // up
  	if(e.keyCode === 38) {
  	    $selected_tag.removeClass("selected");
  	    if(selected_index == 0){
  	      $('#suggested_tags li').eq(-1).addClass("selected");
  	      return false;
  	    } else{
          selected_index = selected_index - 1;
          $('#suggested_tags li').eq(selected_index).addClass("selected");
          return false;
    	  }
    // down
  	} else if(e.keyCode === 40){
  	    $selected_tag.removeClass("selected");
  	    if(selected_index == last_index){
  	      selected_index = 0;
  	      $('#suggested_tags li').eq(selected_index).addClass("selected");
  	    } else{
    	    selected_index = selected_index + 1;
    	    $('#suggested_tags li').eq(selected_index).addClass("selected");
    	    return false;
    	  }
    // enter
  	} else if(e.keyCode === 13){
  	    $selected_tag.trigger("click");
  	    return false;
  	}
  	
  // 	collecting suggested tags through ajax
    var hashtag = /#\w+/;
    var input = $('#post_content').val().split(" ");
    var last_word = input[input.length - 1].replace(/(\r\n|\n|\r)/gm,"");

    if( hashtag.test(last_word) && last_word.length > 2){
      $.ajax({
        url: "/posts/autocomplete_tags",
        type: "GET",
        data: {input : last_word},
        dataType: 'script',
      });
      return false;
    } 
    
    $('#autocomplete_tags').html(" ");
    return false;
  });
  