

-if user_signed_in?
	-if comment.likes.find_by(user_id: current_user.id)
		.comment_like_link.link_btn.liked
			= link_to comment_unlike_path(comment.id), method: :delete, remote: true do 
				%i.fa.fa-thumbs-up 
				・
				%span.likes_count
					= comment.likes.count
	-else
		.comment_like_link.link_btn
			= link_to comment_like_path(comment.id), method: :post, remote: true do
				%i.fa.fa-thumbs-o-up 
				・
				%span.likes_count
					=comment.likes.count
-else
	.login_signup_link.link_btn
		%i.fa.fa-thumbs-o-up 
		・
		%span.likes_count
			= comment.likes.count