%ul
    -if user_signed_in?
        %li
            -if comment.likes.find_by(user_id: current_user.id)
                = link_to comment_unlike_path(comment.id), method: :delete, remote: true do 
                    UNLIKE
            -else
                = link_to comment_like_path(comment.id), method: :post, remote: true do
                    LIKE
            ・
            %span.comment_likes_count
                = comment.likes.count
