%ul
    -if user_signed_in?
        %li
            -if post.likes.find_by(user_id: current_user.id)
                = link_to post_unlike_path(post.id), method: :delete, remote: true do 
                    UNLIKE
            -else
                = link_to post_like_path(post.id), method: :post, remote: true do
                    LIKE
            ・
            %span.likes_count
                = post.likes.count
