%ul
    -if user_signed_in?
        %li
            -if Like.find_by(user_id: current_user.id, post_id: post.id, target_type: "post")
                = link_to post_unlike_path(post.id), method: :delete, remote: true do 
                    %i.fa.fa-thumbs-up
            -else
                = link_to post_like_path(post.id), method: :post, remote: true do
                    %i.fa.fa-thumbs-o-up
            = Like.where(post_id: post.id).where(target_type: "post").count
