%ul
    -if user_signed_in?
        %li
            -if Like.find_by(user_id: current_user.id, reply_id: reply.id, target_type: "reply")
                = link_to reply_unlike_path(reply.id), method: :delete, remote: true do 
                    %i.fa.fa-thumbs-up
            -else
                = link_to reply_like_path(reply.id), method: :post, remote: true do
                    %i.fa.fa-thumbs-o-up
            = Like.where(reply_id: reply.id, target_type: "reply").count
