.user_card{class: "clearfix user_#{user.id}"}
	.user_image
		=link_to user_image_helper(user)
	.info
		=link_to user, class: "user_name" do
			#{user.name}
			-unless user.credential.nil?
				\/
				#{user.credential}
		
		.follow_link
			=render "/shared/follow_form", user: user
			