.user_card{class: "clearfix user_#{user.id}"}
	.user_image
		=link_to user_image_helper(user)
	.info
		=link_to user.name, user, class: "user_name"
		
		%p.shoulder_name= user.shoulder_name
		.follow_link
			=render "/shared/follow_form", user: user
			