=form_tag save_setting_user_path(current_user.id), multipart: true, id: "user_setting_form" do
	.setting_block.language{data: {original_language: "#{current_user.language_id}"}}
		.title
			=t('form.setting.language')
		.current.content 
			%div
				=current_user.language.name
				.edit_content_btn
					=t('action_cap.edit')
		.new.content
			=select_tag "user[language_id]", options_from_collection_for_select(Language.all, "id", "name", @language.id.to_i), prompt: "please select", class: "content form-control country_selection"   
	
	.setting_block.location{data: {original_country: "#{current_user.country_id}"}}
		.title
			=t('form.setting.location')
		.current.content 
			%div
				=current_user.country.name
				.edit_content_btn
					=t('action_cap.edit')
		.new.content
			=select_tag "user[country_id]", options_from_collection_for_select(Country.all, "id", "name", @country.id.to_i), class: "content form-control country_selection"  

		
		
	.submit_btn_group
		= submit_tag t('action_cap.save'), class: "form_btn btn setting_submit_btn"
		#reset_setting_btn
			=t('action_cap.reset')
	
:javascript
	$(function() {
	  function readURL(input) {
	    if (input.files && input.files[0]) {
	      var reader = new FileReader();
	
	      reader.onload = function (e) {
	        $('#preview').css('background-image', "url(" + e.target.result + ")");
	      }
	      reader.readAsDataURL(input.files[0]);
	    }
	  }
	
	  $("#file-upload").change(function(){
	    readURL(this);
	  });
	});
