.sns_block.facebook
	.sns_title
		.sns_icon.of_facebook
			%i.fa.fa-facebook
		%span
			FACEBOOK
	-if user.social_profile(:facebook)
		-if user.facebook_post == true
			.sns_link
				=link_to "SHARING", unshare_facebook_snss_path(user.id), class: "sns_btn unshare", method: :post, remote: true
		-else
			.sns_link
				=link_to "SHARE", share_facebook_snss_path(user.id), class: "sns_btn share", method: :post, remote: true
	-else
		.sns_link
			=link_to "CONNECT", user_facebook_omniauth_authorize_path, class: "sns_btn connect"

			
		
		
.sns_block.twitter
	.sns_title
		.sns_icon.of_twitter
			%i.fa.fa-twitter
		%span
			TWITTER
	-if user.social_profile(:twitter)
		-if user.twitter_post == true
			.sns_link
				=link_to "SHARING", unshare_twitter_snss_path(user.id), class: "sns_btn unshare", method: :post, remote: true
		-else
			.sns_link
				=link_to "SHARE", share_twitter_snss_path(user.id), class: "sns_btn share", method: :post, remote: true
	-else
		.sns_link
			=link_to "CONNECT", user_twitter_omniauth_authorize_path, class: "sns_btn connect"
		
// .sns_block.linkedin
// 	.sns_title
// 		.sns_icon.of_linkedin
// 			%i.fa.fa-linkedin
// 		%span
// 			LINKEDIN
// 	-if user.social_profile(:linkedin)
// 		-if user.linkedin_post == true
// 			.sns_link
// 				=link_to "SHARING", unshare_linkedin_snss_path(user.id), class: "sns_btn unshare", method: :post, remote: true
// 		-else
// 			.sns_link
// 				=link_to "SHARE", share_linkedin_snss_path(user.id), class: "sns_btn share", method: :post, remote: true
// 	-else
// 		.sns_link
// 			=link_to "CONNECT", user_linkedin_omniauth_authorize_path, class: "sns_btn connect"

-if user.social_profile(:google)			
	.sns_block.google
		.sns_title
			.sns_icon.of_google
				%i.fa.fa-google
			%span
				GOOGLE
		.sns_link
			.sns_btn 
				CONNECTED
		
	