.user_list_item{class: "clearfix user_#{user.id}"}
	=link_to image_tag(user.image.profile_sm.url, class: "img-circle"), user, class: "image"
	=link_to user, class: "info" do
		%p.name
			%span
				=user.name
			= user.shoulder_name
		%p FOLLOWER: #{user.following.count}
		%p= user.about
		

	.follow_switch
		=render "/shared/follow_form", user: user
