.user{class: "clearfix user_#{user.id}"}
	.user_image
		=user_image_helper(user)
	=link_to user, class: "info" do
		%p.name
			%span
				=user.name
			= user.credential
		%p.follower_stats 
			FOLLOWER: #{user.followers.count} 

	.follow_switch
		=render "/shared/follow_form_icon", user: user
