-content_for(:sidebar) do
	"Do not show"

#extra_info
	.profile_form_content
		.form_title
			.community_icon
				=render 'svg/community_icon'
			%h2
				Welcome to Scrolll.
		%p
			scrolll is not just some news app. 
			%br
			It is a community full of amazing people. And now you are a part of it!!
		
		=form_tag complete_profile_users_path do
			.field.form-group
				.form_label
					Country of your interest
				=select_tag "user[country_id]", options_from_collection_for_select(@countries, "id", "name", @country.id.to_i), class: "form-control country_selection"  
				
				.form_label
					Your native language
				=select_tag "user[language_id]", options_from_collection_for_select(@languages, "id", "name", @language.id.to_i), prompt: "please select", class: "form-control country_selection"   
				
				.form_label	
					Choose your title 
				=text_field_tag 'user[shoulder_name]', '', placeholder: "your credential, job title, nickname and so on...", class: "form-control"
				
				.form_label
					About yourself
				= text_area_tag 'user[about]', '', placeholder: "tell us about yourself", class: "about_textarea form-control", style: "box-shadow: none; resize: none;"
					
				= submit_tag "Submit", class: "form_btn #profile_submit_btn btn"
			
