
.sub_function_wrapper.post_drafts
	.sub_function_main_section
		#main_contents
			-if @post_drafts.empty?
				.result_not_found
					%h4.not_found_content
						=t('not_found.user_drafts')
			-else
				#post_drafts_index
					= render @post_drafts
					-if @post_drafts.count < 30
						.scroll_btn.stop_loading
							NO MORE DRAFTS	
					-else
						.scroll_btn.load_drafts
							LOAD MORE	

:javascript
	$('.scroll_btn.load_drafts').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_drafts_path}",
				type: "GET",
				data: {existing_drafts: $('#main_contents').find('.post_draft').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})