-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.setting 
	.sub_function_main_section
		.sub_function_nav
			%h2
				Profile Setting
			
		#main_contents
			#user_profile_setting_wrapper
				