-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.setting 
	.sub_function_user_sidebar.profile_menu
		%h2.profile_title
			Setting
		=link_to "Biography", edit_setting_user_path(@user), class: "profile_menu_btn active" 
		=link_to "Location & Language", edit_locale_setting_user_path(@user), class: "profile_menu_btn"
		=link_to "SNS connection", edit_sns_setting_user_path(@user), class: "profile_menu_btn"
	.sub_function_main_section

		#main_contents
			#user_profile_setting_wrapper
				=render "users/edit_setting_form"
	

