-content_for(:profile) do
	"Do show"
-content_for(:sidebar) do
	"Don't show"

		
#main_contents.profile_contents
				
	-if @user.following.empty?
		.not_found
			NO USERS YET
	-else
		.user_lists
			= render partial: "users/user_list", collection: @user.following, as: :user

:javascript
	$(".profile_btn").removeClass("active");
	$(".profile_btn.right").addClass("active");