-content_for(:profile) do
	"Do show"
-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.user_profile
	.sub_function_user_sidebar.profile_menu
		%h2.profile_title
			=t('sidebar.title.profile')
		=link_to user_path(@user), class: "profile_menu_btn" do
			=t('sidebar.stats.posts', count: @user.posts.count)
		=link_to followers_user_path(@user.id), class: "profile_menu_btn" do
			=t('sidebar.stats.follower', count: @user.followers.count)
		=link_to following_user_path(@user.id), class: "profile_menu_btn active" do
			=t('sidebar.stats.following', count: @user.following.count)
			
	.sub_function_main_section
		#main_contents.profile_contents


			-if @user.following.empty?
				.result_not_found
					%h4.not_found_content
						=t('not_found.user_following')
			-else
				.user_lists
					= render @users
					-if @users.count < 30
						.scroll_btn.stop_loading
							NO MORE NOTIFICATIONS	
					-else
						.scroll_btn.load_following
							LOAD MORE

:javascript
	$(".profile_btn").removeClass("active");
	$(".profile_btn.right").addClass("active");
	
	
	$('.scroll_btn.load_following').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_following_path}",
				type: "GET",
				data: {existing_users: $('#main_contents').find('.user').length,
				user_id: "#{@user.id}"
				},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})