
.index_container
  - @users.each_with_index do |user, i|
    .user.clearfix
      .user_ranking.pull-left.text-center
        #{i+1}
      =image_tag user.image.profile_sm.url, class: "pull-left user_index_image"
      .user_info.pull-left
        =link_to user.name, user
        %p.user_shoulder_name
          =user.shoulder_name
        %p.grey
          #{Like.where(user_id: user.id).count} total likes
          %span.hidden-xs
            |  157 followers  |  33 followings
            
      .follow_btn.pull-right
        %p
          + follow
          