.sub_function_wrapper
	.sub_function_main_section
		.sub_function_nav
			%h2
				NOTIFICATION

		#main_contents.index_notifications
			-if current_user.notifications.empty?
				.notification_empty
					You haven't received any notifications yet.
			-else        
				=render @notifications
				-if @notifications.count < 30
					.scroll_btn.stop_loading
						NO MORE NOTIFICATIONS	
				-else
					.scroll_btn.index_notifications
						LOAD MORE				
	
	.sub_function_sidebar
		%h2
			NEW USERS
		.new_users_section
			-unless @new_users.empty?
				= render partial: "users/card", collection: @new_users, as: :user

:javascript
	$('.scroll_btn.index_notifications').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_index_notifications_path}",
				type: "GET",
				data: {existing_notifications: $('#main_contents').find('.notification').length,
				},
				dataType: 'script',
			})
			console.log("index");
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})



