-content_for(:profile) do
	"Do show"
-content_for(:sidebar) do
	"Don't show"
		
#main_contents.profile_contents
	%h2.profile_title
		ABOUT
	.about	
		%h3
			INTRODUCTION
		%p
			-if !(@user.about.empty?)
				=@user.about
			-else
				N/A
		%h3
			LIKES
		%p
			WEEK: #{@user.weekly_liked_count}
			%br
			All-TIME: #{@user.liked_count}
			
				
	-unless @best_posts.empty?
		.best_posts
			%h2
				BEST POSTS
			= render @best_posts

:javascript
	$(".profile_btn").removeClass("active");
	$(".profile_btn.left").addClass("active");