- unless current_user.id == user.id
  -if Relationship.find_by(follower_id: current_user.id, following_id: user.id)
    =link_to "/#{user.id}/unfollow_icon", remote:true, method: :post do
      %i.glyphicon.glyphicon-ok-circle
  -else
    = link_to "/#{user.id}/follow_icon", remote: true, method: :post do
      %i.fa.fa-user-plus
