-unless @selected_articles.empty?
  #selected_article
    .image{style: "background-image: url(#{@top_articles.first.article_image.url});"}
      .mini_dark_over_lay
        .block
          %h2.give_me_ellipsis
            =@selected_articles.first.article_title
          .status
            %i.fa.fa-thumbs-o-up
            =@selected_articles.first.likes.count
            %i.fa.fa-comment-o
            １７６
            %span.pull-right 
              =@selected_articles.first.article_site
              -unless @selected_articles.first.article_published_time == nil
                #{time_ago_in_words(@top_articles.first.article_published_time)} ago