   
-case type
-when "Like-Post" then
    %span.notification_type_icon.red
        %i.fa.fa-thumbs-up
-when "Like-Comment" then
    %span.notification_type_icon.red
        %i.fa.fa-thumbs-up
-when "Comment" then
    %span.notification_type_icon.blue
        %i.fa.fa-comment
-when "Comment-Comment" then
    %span.notification_type_icon.blue
        %i.fa.fa-comments
-when "Follow" then
    %span.notification_type_icon.pink
        %i.fa.fa-plus
-else