
=form_tag "/posts/load_url_modal", method: :get, autocomplete: :off, remote: true do
	.form_image
		=user_image_helper(current_user)
	= url_field_tag :placeholder_url, "", placeholder: "https:// paste url to start your post", class: "url_form"

:css 
	.post_url_form form input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset;
	}
	
:javascript
	$('.post_url_form.on_modal input').keyup(function(e) {
		$.ajax({
			url: "/posts/load_url_modal",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		});
		$('.post_modal_block .modal_title').fadeOut();
		$('.post_modal_block').animate({marginTop: "50px"}, 500);
		return false;
	});