
=form_tag "/posts/load_url_feed", method: :get, autocomplete: :off, remote: true do
	%span
		%i.fa.fa-newspaper-o
		What's happening in the world today?
	.form_row
		.user_image
			=user_image_helper(current_user)
		= url_field_tag :placeholder_url, "", placeholder: "[https://] paste url to start your post", class: "url_form"

:css 
	.post_url_form form input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset;
	}
	
:javascript
	$('.post_url_form.on_feed input').keyup(function(e) {
		$.ajax({
			url: "#{load_url_modal_posts_path}",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		});
		return false;
	});