
=form_tag "/posts/load_url_feed", method: :get, autocomplete: :off, remote: true do
	.form_row
		.user_image
			=user_image_helper(current_user)
		= url_field_tag :placeholder_url, "", placeholder: "[https://] #{t 'form.url.placeholder'}", class: "url_form"

:css 
	.post_url_form form input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset;
	}
	
:javascript
	$('.post_url_form.on_modal input').keyup(function(e) {
		$.ajax({
			url: "#{load_url_modal_posts_path}",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		}).fail(function(jqXHR, textStatus, errorThrown) {
				$('.post_form_block.on_modal').html("<p class='parse_failure_message'>I'm sorry. This article cannot be uploaded.</p>");
			})
		$('.post_form_requirement').hide();
		$('.post_form_block.on_modal').show().html("<i class='fa fa-spinner fa-pulse'></i>");
		$('.post_form_block.on_modal').addClass("loading");
		return false;
	});
	$('.post_url_form.for_mobile input').keyup(function(e) {
		$.ajax({
			url: "#{load_url_mobile_posts_path}",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		}).fail(function(jqXHR, textStatus, errorThrown) {
				$('.post_form_block.for_mobile').html("<p class='parse_failure_message'>I'm sorry. This article cannot be uploaded.</p>");
			})
		$('.post_form_requirement').hide();
		$('.post_form_block.for_mobile').show().html("<i class='fa fa-spinner fa-pulse'></i>");
		$('.post_form_block.for_mobile').addClass("loading");
		return false;
	});
	
