-content_for(:sidebar) do
	"Don't show"

-content_for(:header) do
	"Don't show"

-content_for(:general) do
	"Do show"

:css
	body{ 
		background-color: white;
		padding: 0;
	}
	#mobile_footer{
		display: none;
	}


.header_general
	.header_general_container
		.header_general_menu_left
			=link_to "newsb!", root_path, class: "logo in_white"
		
		.header_general_menu_right
			=link_to "MISSION", '#mission', class: "header_general_option in_white" 
			=link_to "SERVICE", '#functions', class: "header_general_option in_white" 
			=link_to "VALUES", '#values', class: "header_general_option in_white" 
			=link_to "MEMBER", '#member', class: "header_general_option in_white" 
			=link_to "CONTACT", '#contact', class: "header_general_option in_white"
		.header_general_menu_right_mobile
			.open_general_mobile_menu.in_white
				=render 'svg/menu_icon'
			.close_general_mobile_menu.in_white
				=render 'svg/close_icon'

.general_wrapper#intro{class: "in_white bkg_navy", style: "background-image: linear-gradient(90deg,rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/images/bkg_img.jpeg')"}
	.general_container
		.general_title.large
			%h2
				Think together.
			%p
				みんなで考えるからわかる。
				%br
				みんなで考えるから面白い。

.general_wrapper#mission
	.general_container
		.general_title.top
			%h3
				MISSION
			%span.hrz_dvd
			%h4
				ニュースをもっと面白く、わかりやすくすること。
			%p
				１人で読む記事よりも１００人の仲間が発信したコメント。
				%br
				それぞれがお互いのジャーナリストになる場所。そんな場所をNEWSBは提供していきます。

.general_wrapper.bkg_grey#functions
	.general_container
		.general_title.top
			%h3
				SERVICE
			%span.hrz_dvd
		.function_section
			.function_block
				=render 'svg/about/news'
				.function_title
					注目のニュースをチェック
				.function_description
					より注目度の高いニュースを優先して表示するためにユーザー同士のコミュニケーションが盛んに行われている記事をアルゴリズムが選別します。
			.function_block
				=render 'svg/about/expert'
				.function_title
					質問や意見を共有
				.function_description
					記事についてわからないことがあった時や自分の意見を共有したい時、newsb!のプラットフォームではすべてユーザーに向けて投稿を発信できます。
			.function_block
				=render 'svg/about/tag'
				.function_title
					タグで興味のある記事を検索
				.function_description
					ハッシュタグを使って自分の興味のある投稿をフォローしましょう。また、ハッシュタグを利用することでより多くのユーザーにあなたの投稿が届きます。
			.function_block
				=render 'svg/about/help'
				.function_title
					好きなユーザーをフォロー
				.function_description
					newsb!はニュースに興味を持ったユーザーのコミュニティです。自分の好きなユーザーをフォローして自分だけのフィードを作りましょう。
.general_wrapper#values
	.general_container
		.general_title.top
			%h3
				VALUES
			%span.hrz_dvd
			
			.value_block
				%h4
					Be curious　-好奇心を実現しよう
				%p
					好奇心・探究心こそがイノベーションの種です。
					%br
					メンバーがそれぞれの好奇心から目をそらさず、
					%br
					プロダクトに反映させていくことで破壊的創造を達成していきます。
	
			.value_block		
				%h4
					Empower　- お互いを高め合おう
				%p
					お互いの成果にコミットし合うことで、
					%br
					メンバーが自身の限界に日常的に挑戦できるような環境をチーム全体でつくります。
		
			.value_block	
				%h4
					Try and fail　- 何回も失敗しよう
				%p
					挑戦して、失敗して、学んでのサイクルを継続し、
					%br
					最高のプロダクトを開発します。

.general_wrapper.bkg_grey#member
	.general_container
		.general_title.top
			%h3
				開発メンバー
			%span.hrz_dvd
			.member
				=image_tag asset_path "natsuki.png"
				
				%h4
					山口　夏生
				%p
					創業者兼エンジニア

.general_wrapper#contact
	.general_container
		.general_title.top
			%h3
				CONTACT
			%span.hrz_dvd
		=render 'home/contact_form', contact: @contact

:javascript
	$('.header_general_option').click(function(){
		var id = $(this).attr('href');
		var position = $(id).offset().top;
		$('html, body').animate({
			'scrollTop':position
		}, 'slow');
		return false;
	});
	
	

	
	$(window).scroll(function(){
		var change_point = $('#mission').offset().top - $('.header_general').height();
		var scrollVolume = $(window).scrollTop();
		if( scrollVolume > change_point){
			$('.header_general').css("background-color", "white").css("border-bottom", "1px solid #eee");
			$('.header_general a').removeClass('in_white');
			$('.open_general_mobile_menu, .close_general_mobile_menu').removeClass('in_white');
		} else{
			$('.header_general').css("background-color", "rgba(0,0,0,0)").css("border-bottom", "none");	
			$('.header_general a').addClass('in_white');
			$('.open_general_mobile_menu, .close_general_mobile_menu').addClass('in_white');
		}
		return false;
	});