-content_for(:sidebar) do
	"Don't show"

-content_for(:header) do
	"Don't show"

-content_for(:general) do
	"Do show"

:css
	body{ 
		background-color: white;
		padding: 0;
	}
	#mobile_footer{
		display: none;
	}

.header_general
	.header_general_container
		.header_general_menu_left
			=link_to "newsb!", root_path, class: "logo"
		
		.header_general_menu_right
			=link_to "CONTACT", contact_page_path, class: "header_general_option"
		.header_general_menu_right_mobile
			.open_general_mobile_menu.in_white
				=render 'svg/menu_icon'

.general_wrapper
	.general_container
		.general_title.large
			%h3
				ご連絡ありがとうございます！
			%p
				NEWSBのスタッフが３営業日内で返信致します。
				%br
				記入していただいたアドレス宛に確認のメールを送信しました。
				%br
				メールが届いていない場合は誤入力の可能性があります。
				
