-content_for(:sidebar) do
	"Don't show"

-content_for(:header) do
	"Don't show"

-content_for(:general) do
	"Do show"

:css
	body{ 
		background-color: #eee;
		padding: 0;
	}
	#mobile_footer{
		display: none;
	}

.header_general.in_white
	.header_general_container
		.header_general_menu_left
			=link_to "newsb!", root_path, class: "logo"
		
		.header_general_menu_right
			=link_to t('dropdown.profile_option.privacy'), privacy_page_path, class: "header_general_option" 
			=link_to t('dropdown.profile_option.about'), about_page_path, class: "header_general_option" 
			=link_to t('dropdown.profile_option.contact'), contact_page_path, class: "header_general_option" 
		.header_general_menu_right_mobile
			.open_general_mobile_menu
				=render 'svg/menu_icon'
			.close_general_mobile_menu
				=render 'svg/close_icon'

.general_wrapper.title_section
	%h2.general_title
		利用規約

.general_wrapper.compact
	.general_container.in_white
		.general_section.terms
			.term.top
				%p
					本規約は、登録ユーザーの皆様が、運営グループ「paprika」（以下「当運営グループ」）が運営するソーシャルニュースプラットフォーム「NEWSB!」（以下「本サービス」）をご利用頂く際の取扱いにつき定めるものです。本規約に同意した上で本サービスをご利用ください。
				
				%p
					English version will be uploaded shortly. Please don't sign up yet if you don't understand the terms.

			.term
				%h4 
					第１条　適用
				%ul
					%li
						本規約は、本サービスや本サービスに付随するすべてのサービスを利用する時に適用されます。
			.term
				%h4
					第２条　定義
				%ul
					%li
						登録ユーザーとは本サービスの認証機能、又はfacebook、twitter、google等の外部認証サービスを使ってユーザー登録に必要な情報を発信して、本サービスが承認した個人のことです。

			.term
				%h4
					第３条　本規約への同意
				%ul
					%li
						利用者は、本利用規約に同意頂いた上で、本サービスを利用できるものとします。
					%li
						利用者が、本サービスの認証機能、又はfacebook、twitter、google等の外部認証サービスを使ってユーザー登録に必要な情報を発信し、本サービスが承認した時点で利用者と本サービスとの間で、本規約の諸規定に従った利用契約が成立するものとします。
					%li
						利用者が未成年者である場合には、親権者その他の法定代理人の同意を得たうえで、本サービスをご利用ください
			.term
				%h4
					第４条　規約の変更
				%ul
					%li
						本サービスは、利用者の承諾を得ることなく、いつでも、本規約の内容を改定することができるものとします。
					%li
						当運営グループは、本規約を改定するときは、その内容について当運営グループ所定の方法により利用者に通知します。
					%li
						改定後の本規約の効力は、当運営グループが前項により通知を行った時点から生じるものとします。
					%li
						利用者は、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に同意したものとみなされます。
			.term
				%h4
					第５条　個人情報等の取り扱い
				%ul
					%li
						個人情報及び利用者情報については、当運営グループが別途定める「プライバシーポリシー」に則り、適正に取り扱うこととします。
			.term
				%h4
					第６条　禁止行為
				%ul
					%li
						本サービスの利用に際し、当運営グループは、利用者（以下「利用者」）に対し、次に掲げる行為を禁止します。当運営グループにおいて、利用者が禁止事項に違反したと認めた場合、利用停止、投稿削除等、当運営グループにおいて必要と判断した措置を取ることができるものとし、利用者はこれを異議なく同意するものとします。
					%ul
						%li
							当運営グループまたは第三者の知的財産権を侵害する行為
						%li
							当運営グループまたは第三者の名誉・信用を毀損または不当に差別もしくは誹謗中傷する行為
						%li
							当運営グループまたは第三者に対する脅迫的な行為
						%li
							事実に反する、または存在しないと分かっている情報を投稿する行為
						%li
							利用者が、以下の情報を投稿すること
						%ul
							%li
								第三者の権利および財産に対して損害を与えるリスクのある情報
							%li
								第三者に対して有害な情報、第三者を身体的・心理的に傷つける情報
							%li
								不法、有害、脅迫、虐待、人種差別、中傷、名誉棄損、侮辱、ハラスメント、扇動、不快を与えることを意図し、もしくはそのような結果を生じさせる恐れのある内容をもつ情報
							%li
								わいせつ、児童ポルノまたは児童虐待にあたる画像、文書等の情報
							%li
								法律に違反する情報
							%li
								異性との出会いを目的に発信した情報
						%li
							コンピューターウィルス、有害なプログラムを仕様またはそれを誘発する行為 
						%li
							本サービス用インフラ設備に対して過度な負担となるストレスをかける行為 
						%li
							当運営グループ提供のインターフェース以外の方法で当運営グループサービスにアクセスを試みる行為
						%li
							一人の利用者が、複数の利用者IDを取得する行為
						%li
							前に当運営チームからの承認を得ていない広告行為
						%li
							上記の他、当運営グループが不適切と判断する行為
			.term
				%h4
					第７条　コンテンツの取り扱い
				%ul
					%li
						利用者は､本サービスのコンテンツを当運営グループの定める範囲内でのみ使用することができるものとします｡ 
					%li
						本サービスで提供される全てのコンテンツに関する権利は当運営グループが有しており､利用者に対し､当運営グループが有する特許権､実用新案権､ 意匠権､商標権､著作権､その他知的財産権の実施または使用許諾をするものではありません｡ 
					%li
						利用者は､当運営グループの定める使用範囲を超えていかなる方法によっても複製､送信､譲渡（利用者同士の売買も含みます）､貸与､翻訳､翻案、無断で転載、二次使用、営利目的の使用、改変、逆アセンブル、逆コンパイル、リバースエンジニアリング等を行う事を禁止します。
					%li
						利用者が、本サービス上に投稿その他の方法で送信したコンテンツ（静止画、動画、文字情報その他一切の情報）に関する著作権（著作権法第21条ないし同第28条に規定する権利を含む全ての著作権を含む。）については利用者に帰属するものとします。ただし、利用者は、コンテンツの送信時に、当運営グループに対し、日本国内外において、当該コンテンツを無償かつ非独占的に使用することを許諾します。
					%li
						利用者は本サービス内では、著作者人格権を行使しないものとします。
			.term
				%h4
					第８条　免責
				%ul
					%li
						当運営グループは、本サービスの内容変更、中断、終了によって生じたいかなる損害についても、一切責任を負いません。
					%li
						当運営グループは、利用者の本サービスの利用環境について一切関与せず、また一切の責任を負いません。
					%li
						当運営グループは、本サービスが利用者の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有することを保証しません。
					%li
						当運営グループは、本サービスが不具合を起こした場合に当該不具合が解消されることを保証しません。
					%li
						当運営グループは、本サービスを利用したことにより直接的または間接的に利用者に発生した損害について、一切賠償責任を負いません。
					%li
						当運営グループが何らかの理由で責任を負う場合も、当運営グループは、ユーザー損害につき、過去６ヶ月間に登録ユーザーが当運営グループに支払った対価の金額を超えて賠償する責任を負わないものとします。そして、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負いません。
					%li
						他の利用者または第三者から投稿についての削除依頼があった時、当運営グループの判断で削除の可否を決定できるものとし、当該判断により生じた一切の責任について、当運営グループは責任を負わないものとします。
					%li
						他の利用者または第三者から投稿についての削除依頼があった時、当運営グループの判断で削除の可否を決定できるものとし、当該判断により生じた一切の責任について、当運営グループは責任を負わないものとします。
					%li
						本サービスで他の利用者が投稿した情報の正確性について、当運営グループは保証しません。当運営グループは、本サービスに掲載されている情報についての紛争及びトラブルについて一切の責任を負いません。


			.term
				%h4
					第９条　広告の掲載について
				%ul
					%li
						利用者は、本サービス上にあらゆる広告が含まれる場合があること、当運営グループまたはその提携先があらゆる広告を掲載する場合があることを理解しこれを承諾したものとみなします。本サービス上の広告の形態や範囲は、当運営グループによって随時変更されます。 
			.term
				%h4
					第１０条　権利譲渡の禁止
				%ul
					%li
						利用者は、予め当運営グループの書面による承諾がない限り、本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡してはならないものとします。
					%li
						当運営グループは、本サービスの全部または一部を当運営グループの裁量により第三者に譲渡することができ、その場合、譲渡された権利の範囲内で利用者のアカウントを含む、本サービスに係る利用者の一切の権利が譲渡先に移転するものとします。
					
			.term
				%h4
					第１１条　分離可能性
				%ul
					%li
						本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
			.term
				%h4
					第１２条　当運営グループへの連絡方法
				%ul
					%li
						本サービスに関する利用者の当運営グループへのご連絡・お問い合わせは、本サービスまたは当運営グループが運営するwebサイト内の適宜の場所に設置するお問い合わせフォームからの送信または当運営グループが別途指定する方法により行うものとします。
			.term
				%h4
					第１３条　準拠法、管轄裁判所
				%ul
					%li	
						本規約の有効性、解釈及び履行については、日本法に準拠し、日本法に従って解釈されるものとする。当運営グループと利用者等との間での論議・訴訟その他一切の紛争については、訴額に応じて、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします｡

			.term.terms_history
				%p
					２０１８年１月３１日　施行
