
.sub_function_wrapper.search
	.sub_function_main_section

		#main_contents.user_lists
			= render partial: 'users/user_with_rank', collection: @users, as: :user
			-if @users.count < 30
				.scroll_btn.stop_loading
					=t('scroll.no_more')	
			-else
				.scroll_btn.all_time_users.users
					=t('scroll.load')	
					
	.sub_function_sidebar
		.title_block
			%h2
				=t('sidebar.title.new_users')
		.new_users_section
			-if @new_users.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_users')
			-else
				= render partial: "users/card", collection: @new_users, as: :user 
				
:javascript
	$('.scroll_btn.all_time_users').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_all_time_users_path}",
				type: "GET",
				data: {existing_users: $('#main_contents').find('.user').length,
				},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})

