
.sub_function_wrapper.search
	.sub_function_main_section
		#main_contents.user_lists
			.sub_function_nav
				%h2
					=t 'ranking.title'
				
				.nav_options	
					=link_to t('ranking.nav.item.weekly'), ranking_weekly_user_path, class: "active"
					|
					=link_to t('ranking.nav.item.all_time'), ranking_user_path
			#main_contents
				= render @users
				-if @users.count < 30
					.scroll_btn.stop_loading
						NO MORE USERS
				-else
					.scroll_btn.weekly_users
						LOAD MORE	
	
	.sub_function_sidebar
		%h2
			=t('sidebar.title.new_users')
		.new_users_section
			-if @new_users.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_users')
			-else
				= render partial: "users/card", collection: @new_users, as: :user 
				
:javascript
	$('.scroll_btn.weekly_users').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_weekly_users_path}",
				type: "GET",
				data: {existing_users: $('#main_contents').find('.user').length,
				},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})
