
%h4.email_block{style: "margin-bottom: 20px; font-weight: 600; font-size: 20px;"}
	#{@name}, thanks for reaching out!
	
%p.email_block{style: "margin-bottom: 20px;"}
	Our support reps will check your message and forward to the best person when necessary. 
	%br
	We'll get back to you within 48 hours.
	
%p.email_block{style: "margin-bottom: 20px;"}
	Your Message:
	%br
	=@message
	%br
	-unless @image_url.nil?
		Image URL: 
		%br
		=@image_url

%p.email_block{style: "margin-bottom: 20px;"}
	\-newsb![Support Team]
	


