
#{@name}, thanks for reaching out!

Our support reps will check your message and forward to the best person when necessary. 
We'll get back to you within 48 hours.

Your Message:
#{@message}

\-newsb![Support Team]
	