.tag{class: "tag_#{tag.id}"}
	=link_to tag_path(tag.name), class: "tag_link" do
		.hashtag
			\#
		.contents
			%h2
				=tag.name
				%span
					・#{tag.posts.count} posts
	.favorite_link
		=render 'tags/favorite_link', tag: tag