.sub_function_wrapper.tags
	.sub_function_main_section
		.sub_function_nav
			%h2
				=t('nav.title.tags')
			
			.nav_options	
				=link_to t('nav.title.trending_tags'), tags_path
				|
				=link_to favorite_index_tags_path, class: "active" do
					#{t('nav.title.favorite_tags')}・
					%span.tag_counts
						#{current_user.favorite_tags.count}

		#main_contents
			=render @tags
			-if @tags.count < 30
				.scroll_btn.stop_loading
					=t('scroll.no_more')	
			-else
				.scroll_btn.favorite_tags.tags
					=t('scroll.load')	
	.sub_function_sidebar
		.title_block
			%h2
				=t('sidebar.title.new_users')
		.new_users_section
			-if @new_users.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_users')
			-else
				= render partial: "users/card", collection: @new_users, as: :user

:javascript
	$('.scroll_btn.favorite_tags').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_favorite_tags_path}",
				type: "GET",
				data: {existing_tags: $('#main_contents').find('.tag').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})