
#index_nav
    =link_to tags_path, remote: true do 
        .trends_btn.active
            =render 'svg/hot_icon'
            %span
                hot
    =link_to show_favorite_tags_path, remote: true do
        .favorite_btn
            =render 'svg/favorite_icon'
            %span
                favorite
            %span.tag_counts
                ・#{current_user.favorite_tags.count}
            

   
.tags
    =render @tags
