
.sub_function_wrapper.tagged_posts
	.sub_function_main_section
		#main_contents
			-if @tag.posts.empty?
				=render 'shared/result_not_found', keyword: @tag.name
			-else
				= render partial: "posts/post", collection: @tag.posts.includes(:user, :article), as: :post
				
	.sub_function_sidebar
		.title_block
			%h2
				=t('sidebar.title.new_users')
		.new_users_section
			-unless @new_users.empty?
				= render partial: "users/card", collection: @new_users, as: :user

