- @other_posts.each do |otherpost|
  .post{class: "post_#{otherpost.id}"}
    .p_body
      .p_content.clearfix
        .p_content_main.pull-left
          =render '/shared/user_profile', user: otherpost.user, object: otherpost
          =render_with_hashtags(simple_format(otherpost.content))
          .p_status
            .like_link
              =render '/likes/like_post', post: otherpost
            .comment_link
              %i.fa.fa-comment-o 
              =otherpost.comments.count
            .comment_invite
              COMMENT
              %i.fa.fa-pencil
        =image_tag post.article_image.index.url, class: "pull-right hidden-xs other_post_image"
