
-unless @autocomplete_tag_lists == nil
	%ul.suggested_tags
		- @autocomplete_tag_lists.each do |tag|
			%li.suggested_tag ##{tag.name}
				
:javascript
	$('.suggested_tags li').click(function(){
		console.log("clicked");
		var $target_form = $(this).parents('.post_form');
		var $clicked_tag = $(this).text();
		var $old_value = $target_form.find('textarea').val().match(/\S+|\s/g);
		console.log("clicked");
		$old_value.pop();
		$old_value.push($clicked_tag);
		$new_value = $old_value.join("") + " ";
		$target_form.find('textarea').val($new_value);
		$target_form.find('textarea').focus();
		$('.autocomplete_tags_block').html(" ");
	});