.post_form.edit_form{data: {form: "#{post.id}", country: "#{@country.id}"}}
	.body
		.form_main.clearfix
			=form_tag update_article_post_path(post), method: :post do
				.field.form-group.form_check_group
					.check.on_edit_form
						=check_box_tag "post[fake_news_report]", true, post.fake_news_report
						=label_tag "post[fake_news_report]", 'post as a fake news report'
				
				.field.form-group.post_textarea_wrapper
					.post_textarea_block.still
						= text_area_tag 'post[content]', post.content, placeholder: "your awesome comment *optional", class: "post_textarea edit_textarea"
					#autocomplete_tags
						.autocomplete_tags_block
	
				.post_submit_menu
					#sns_post_form_menu
						=render 'snss/sns_post_form_menu', user: current_user
			
					.submit_btn_group
						= submit_tag "UPDATE", class: "form_btn #post_submit_btn"					
						.cancel_btn
							CANCEL
							




	

	


	

