.post_form.edit_form
	.body
		.form_main.clearfix
			=form_tag update_article_post_path(post), remote: true, method: :post do
				.field.form-group.form_check_group
					.check
						=check_box_tag "post[fake_news_report]", true, post.fake_news_report
						=label_tag "post[fake_news_report]", 'post as a fake news report'
				
				.field.form-group.post_textarea
					.textarea
						= text_area_tag 'post[content]', post.content, placeholder: "your awesome comment *optional", class: "post_textarea"
					#autocomplete_tags
						.autocomplete_tags_block
				.post_submit_menu
					#sns_post_form_menu
						=render 'snss/sns_post_form_menu', user: current_user
			
					.submit_btn_group
						= submit_tag "UPDATE", class: "form_btn #post_submit_btn"					
						.cancel_btn
							CANCEL
							
			

=render 'js/autocomplete'

:javascript
	
	$(".post_textarea textarea").height(30);//init
	$(".post_textarea textarea").css("lineHeight","20px");//init
	
	$(".post_textarea textarea").on("input",function(evt){
		 
		if(evt.target.scrollHeight > evt.target.offsetHeight){
			$(evt.target).height(evt.target.scrollHeight);
		}else{
			var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
			while (true){
				$(evt.target).height($(evt.target).height() - lineHeight);
				if(evt.target.scrollHeight > evt.target.offsetHeight){
					$(evt.target).height(evt.target.scrollHeight);
				}
				break;
			}
		}
	});
	
	
	$(".post_form .cancel_btn").click(function(){
		$(".post_form textarea").val(""); 
	});

	

	


	

