
- other_posts.each do |other_post|
  -unless other_post.id == original_post.id
    .post{class: "post_#{other_post.id}"}
      .p_body
        .p_content.clearfix
          .p_content_main.pull-left
            =render '/shared/user_profile', user: other_post.user, object: other_post
            =render_with_hashtags(simple_format(other_post.content))
            .p_status
              .like_link
                =render '/likes/like_post', post: other_post
              .comment_link
                %i.fa.fa-comment-o 
                =other_post.comments.count
              .comment_invite
                COMMENT
                %i.fa.fa-pencil