= form_tag "/posts/load_url" do
    .form-group.input-group
        = url_field_tag :placeholder_url, "", placeholder: "think together, think better", class: "form-control"
        %span.input-group-btn
            = button_tag type: :submit, class: "btn" do
                %i.glyphicon.glyphicon-search
                %sapn Post your article here
