$('.notice_bar.for_js').css("display", "flex").delay(4000).fadeOut('slow'); 
$('.notice_bar.for_js').text("Your report has been sent."); 
$(".option_modal").hide();
$(".option_modal .report").hide();
$(".option_modal .delete").hide();
$(".post_ddm").hide();