

#post_url_form.hidden-xs
	=form_tag "/posts/load_url", method: :get, remote: true do
		.form-group.input-group
			= url_field_tag :placeholder_url, "", placeholder: "paste url to start your post!", class: "url_form form-control"
			%span.input-group-btn
				= button_tag type: :submit, class: "btn" do
					%i.fa.fa-pencil-square-o
					NEW POST
					
#post_form_block


#main_contents.posts
	=render @posts
 
	
:javascript
	// awesome autosize code
	$(".form_content").height(30);//init
	$(".form_content").css("lineHeight","20px");//init
	
	$(".form_content").on("input",function(evt){
						if(evt.target.scrollHeight > evt.target.offsetHeight){
								$(evt.target).height(evt.target.scrollHeight);
						}else{
								var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
								while (true){
										$(evt.target).height($(evt.target).height() - lineHeight);
										if(evt.target.scrollHeight > evt.target.offsetHeight){
												$(evt.target).height(evt.target.scrollHeight);
										}
										break;
								}
						}
				});
	
	
	// fix sidebar_right
	$(window).scroll(function() {
		var scrollVolume = $(window).scrollTop();
		if(scrollVolume > 80){
			$('#ad').css("position", "fixed");
			
			var position = $('#sidebar_right').offset();
			$('#ad').css("left", position.left);
			$('#ad').css("top", position.top - 80);
			
			$(window).resize(function() {
				var position = $('#sidebar_right').offset();
				$('#ad').css("left", position.left);
			});
			
		} else {
			$('#ad').css("position", "static");
		}
		
	});
	

