
#form_wrapper.dark_over_lay
#form_modal

// #test{style: "display:none;"}
//   YES IT'S WORKING!!


#side_nav.hidden-xs
  =render 'layouts/feed_optimizer', tags: @tags


#main_container
  =render "/shared/selected_article", selected_article: @selected_article
 
        
      
  #main_nav
    =link_to "/post_index", remote: true, class: "left main_btn active" do
      %i.fa.fa-thumbs-o-up
      FEED
    =link_to "/article_index", remote: true, class: "middle main_btn" do
      %i.fa.fa-newspaper-o
      NEWS
    =link_to "/user_ranking", remote: true, class: "right main_btn" do
      %i.fa.fa-line-chart
      TOP 100
  .post_form
    =form_tag "/posts/load_url", remote: true do
      .form-group.input-group
        = url_field_tag :placeholder_url, "", placeholder: "paste url to start your post!", class: "url_form form-control"
        %span.input-group-btn
          = button_tag type: :submit, class: "btn" do
            %i.fa.fa-pencil-square-o
            CREAT NEW POST

  .posts#main_contents
    =render "posts/post_index", posts: @posts
    .other_post_block
 
 
// sidebar   
#sidebar.hidden-xs.hidden-sm
  = render 'sidebars/feed', top_articles: @top_articles, top_users: @top_users

  
          
// = paginate @posts
// .scroller-status.text-center.hidden-xs
//   .infinite-scroll-request
//     .loading
//       %i.fa.fa-spinner.fa-spin{ style:"margin-top: 30px;"}
  
:javascript
  
  
  
  
  $('.comment_invite').click(function(){
    $(this).parents('.post').find('.comment_form').slideDown();
  });
  
  $('.close_c_form_btn').click(function(){
    $(this).parents('.post').find('.comment_form').slideUp();
  });

  $('.reply_invite').click(function(){
    $(this).parents('.comment').find('.reply_form').slideDown();
  });
  
  $('.close_r_form_btn').click(function(){
    $(this).parents('.comment').find('.reply_form').slideUp();
  });
  
  $('.comment_link').click(function(){
    $(this).parents('.post').find('.comments').slideDown();
  });
  


  // awesome autosize code

  
  $(".c_content").height(30);//init
  $(".c_content").css("lineHeight","20px");//init
  
  $(".c_content").on("input",function(evt){
            if(evt.target.scrollHeight > evt.target.offsetHeight){
                $(evt.target).height(evt.target.scrollHeight);
            }else{
                var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
                while (true){
                    $(evt.target).height($(evt.target).height() - lineHeight);
                    if(evt.target.scrollHeight > evt.target.offsetHeight){
                        $(evt.target).height(evt.target.scrollHeight);
                    }
                    break;
                }
            }
        });
        
  $(".r_content").height(30);//init
  $(".r_content").css("lineHeight","20px");//init
  
  $(".r_content").on("input",function(evt){
            if(evt.target.scrollHeight > evt.target.offsetHeight){
                $(evt.target).height(evt.target.scrollHeight);
            }else{
                var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
                while (true){
                    $(evt.target).height($(evt.target).height() - lineHeight);
                    if(evt.target.scrollHeight > evt.target.offsetHeight){
                        $(evt.target).height(evt.target.scrollHeight);
                    }
                    break;
                }
            }
        });
        
  // $('.posts').infiniteScroll({
  //   path: "nav.pagination a[rel=next]",
  //   append: '.post',
  //   status: '.scroller-status',
  //   hideNav: '.pagination'
  // });