-if user
	%span
		SHARE
	.sns_block
		-if user.facebook_post == true
			=link_to unshare_facebook_snss_path(user.id), class: "sns_connect_btn facebook unshare", method: :post, remote: true do
				%i.fa.fa-facebook
		-else
			-if !(user.social_profile(:facebook))
				=link_to user_facebook_omniauth_authorize_path, class: "sns_connect_btn facebook connect", remote: true do
					%i.fa.fa-facebook
			-else
				=link_to share_facebook_snss_path(user.id), class: "sns_connect_btn facebook share", method: :post, remote: true do
					%i.fa.fa-facebook
