$('.sns_setting_wrapper').html("#{escape_javascript(render 'users/sns_setting_edit_form', user: @user)}");

$('.sns_post_form_menu').html("#{escape_javascript(render 'snss/sns_post_form_menu', facebook_post: @user.facebook_post, twitter_post: @user.twitter_post)}");

