#main_contents.articles{
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	>.title{
	    padding: 8px 20px;
	    background-color: white;
	    color: #696969;
	    border-bottom: 1px solid #eee;
	    display: flex;
	    justify-content: space-between;
	    .divider{
	    	display: none;
	    }
	}
}
@media(max-width: 768px){
	#main_contents.articles{
		>.title{
		    justify-content: center;
		    align-items: center;
		    padding: 12px;
		    .divider{
		    	padding: 0 12px;
		    	display: block;
		    }
		}
	}	
}
.sub_function_wrapper.article_show{
    h2{
		font-size: 16px;
    }
    h3{
    	margin: 20px;
    	font-size: 16px;
    	&.fake_news_hide_btn{
    		cursor: pointer;
    	}
    	i{
    		font-size: 20px;
    	}
    }
    .fake_news_reports{
    	display: none;
    	.post{
    		border: 2px solid rgba(#8b0000, .5);
    	}
    }
}
@media(max-width: 768px){
	.sub_function_wrapper.article_show{
	    h3{
	    	margin: 12px 20px;
	    	font-size: 16px;
	    	text-align: center;
	    	color: #696969;
	    }
	}
}





@media(max-width: 970px){
	.article_show_section{
		.article_section{
			min-width: auto;
		}
		.article_show_sidebar{
			display: none;
		}
	}
}


@media(max-width: 1170px){
	.article_show_section{
		.article_section{
		}
	}
}


.article{
	padding-bottom: 0;
	padding: 15px 20px;
	background-color: white;
	border-bottom: 1px solid #eee;
	display: flex;
	flex: 1;
	&:first-child{
		padding-top: 20px;
	}
	&:hover{
		background-color: #f9f9f9;
	}
	.article_wrapper{
		display: flex;
		flex: 1;
		flex-direction: column;
		&:hover{
		}
		.article_block{
			display: flex;
			flex: 1;
			flex-direction: row;
			.image{
				display: block;
				height: 60px;
			    width: 60px;
			    border-radius: 50%;
				background-size: cover;
				background-position: center;
				.overlay{
					background-color: rgba(#001E42, .05);
					padding: 5px;
					height: 100%;
				}
				.stats{
					text-shadow: 0 0 5px #000;
					color: white;
					display: inline-block;
					p{
						text-align: center;
						display: inline-block;
						padding: 5px;  
						font-size: 20px;
						line-height: 12px;
						.counts{
							border: 1px solid #bbb;
							background-color: rgba(0,0,0,.2);
						}
						span{
							font-size: 10px;
						}
					}
				}
			}
			.info{
				position: relative;
				margin-left: 20px;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.title{   
					 h2{
						line-height: 20px;
						font-size: 16px;
						font-weight: 900;
						color: #001E42;
					}
				}
				.stats{
					color: #001E42;
	
				}
				.mini_image{
					display: none;
					width: 100px;
					height: 100px;
					background-position: center;
					background-size: cover;
					margin-right: 12px;
				}
			}
		}
		.best_post{
			font-size: 12px;
			width: auto;
			margin-top: 20px;
		    padding: 20px;
		    border: 1px solid #eee;
		    display: none;
			.user_block{
				padding: 0;
			}
			.content{
				margin-top: 12px;
				color: grey;
				.shared_message{
					color: grey;
				}
			}
		}
	}
}

.sub_info{
	display: flex;
	justify-content: space-between;
	.posts_count{
		flex: 1;
	}
	.best_post_btn{
		z-index: 200;
		padding: 0 12px;
		display: inline-block;
		border: 1px solid #aaa;
		color: #696969;
		line-height: 25px;
		display: none;
		&:hover{
			color: #001E42;
			border: 1px solid #001E42;
		}
	}
	.best_post_btn.open{
		display: block;
		border: 1px solid #001E42;
		color: #001E42;
	}
}

.article:hover{
	.sub_info{
		.best_post_btn{
			display: block;
		}
	}
}

@media(max-width: 768px){
	.article:hover{
		.sub_info{
			.best_post_btn{
				display: none;
			}
		}
	}
}




.mobile_posts_count, .posts_count{
	display: flex;
	position: relative;
	margin-top: 5px;
    align-items: flex-end;
    height: 25px;
	span{
		display: inline-block;
		height: 25px;
		margin-left: 12px;
		display: flex;
		align-items: flex-end;
	}
	span.fake_news_report_count{
		color: grey;
	}
	.popular_user_faces{
		display: flex;
		align-items: flex-end;
	}
}

.posts_count{
	display: flex;
}


#best_mobile_article{
	display: none;
}

#best_article{
	width: 100%;
	flex-direction: row;
	padding: 0;
	margin-bottom: 20px;
	.article_block{
		.image{
			border-radius: 0;
			min-height: 300px;
			width: auto;
			.overlay{
				background-color: rgba(#001E42, 0.6);
				padding: 20px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.best_article_content{
					flex: 2;
					display: flex;
					flex-direction: column;
					margin-right: 20px;
					.best_article_bottom{
						flex: 1;
						display: flex;
						align-items: flex-end;
						.stats{
							display: flex;
							align-items: flex-end;
							p{
								margin-right: 12px;
								.counts{
								}
								span{
									font-size: 14px;
								}
							}
							.genre{
								
							}
						}
					}
					h2.best_article_title{
						font-size: 30px;
						color: white;
						font-weight: 900;
						span.best_article_source{
							font-size: 14px;
							color: #eee;
						}
					}
				}
				.best_post{
					flex: 1;
					padding: 0;
					color: white;
					display: flex;
					flex-direction: column;
					&:first-child{
					}
					.user_block{
						margin-bottom: 12px;
					}
					.best_post_content{
						color: #eee;
						.comment_large{
							
						}
						.comment_small{
							display: none;
						}
					}
				}
			}
		}
		.info{
			display: none;
			.title{   
			}
			h2{
			}
			.stats{
			   
			}
		}
	}
}


span.overlay{
	position: absolute;
	margin: -5px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&:hover{
		border: 1px solid #aaa;
	}
}




@media (max-width: 1170px) {
	.article{ 
		border-radius: 0;
		.article_block{
			.image{
			}
			.info{
				.title{
					h2{
						font-size: 16px;
					}
				}
			}
		}
		.best_post{
			border-radius: 0;
			min-height: 110px;
		}
	}
	.best_article{
		.article_block{
			.image{
				width: auto;
				height: 130px;
				margin: -12px -12px 12px;
			}
		}
	}
}
@media (max-width: 1170px) {
	#best_article{ 
		border-radius: 0;
		width: 100%;
		.article_block{
			.image{
				.overlay{
					.best_post{
						&.best_post_second{
							display: none;
						}
						.best_post_content{
							.comment_large{
								display: none;
							}
							.comment_small{
								display: block;
							}
						}
					}
				}
			}
			h2.best_article_title{
				width: 100%;
			}
			.info{
				.title{
					h2{
					}
				}
			}
		}
	}
}


@media(max-width: 768px){
	.article{
		padding: 5px;
		border-bottom: none;
		&:first-child{
			padding-top: 8px;
		}
		.article_wrapper{
			.article_block{
				.image{
					border-radius: 0;
					width: 20%;
					max-width: 100px;
					height: 100px;
				}
				.info{
					margin-left: 12px;
					justify-content: flex-start;
					.title h2{
						font-size: 14px;
					}
				}
				.mobile_posts_count{
					display: flex;
				}
			}
		}
	}
}

@media(max-width: 768px){
	#best_article.article{
		display: block;
		.article_wrapper{
			padding-bottom: 5px;
			box-shadow: none;
			.image{
				display: block;
				height: 300px;
				.overlay{
					background-color: rgba(#001E42, 0.3);
					.best_post{
						display: none;
					}
				}
			}
		}
	}
	#best_mobile_article{
		display: none;
		margin-bottom: 5px;
		.info{
			padding: 20px 12px;
		}
		.image{
			height: 200px;
			display: block;
			.posts_count{
				display: none;
			}
		}
	}
}



