.scroll_btn{
    text-align: center;
    font-size: 16px;
    color: grey;
    padding: 12px 20px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 12px auto;
    cursor: pointer;
    line-height: 20px;
    &:hover{
        color: $newsb_grey;
        border: 1px solid $newsb_grey;
    }
}

.ddm .scroll_btn{
    width: 95%;
}

@media(max-width: 768px){
    .scroll_btn{
        width: 95%;
        color: $newsb_grey;
        border: 1px solid $newsb_grey;
    }
}

.scroll_btn.loading{
    cursor: auto;
    border: none;
    &:hover{
        color: grey;
        font-weight: normal;
        border: none;
    }
}


.scroll_btn.stop_loading{
    cursor: auto;
    border: none;
    &:hover{
        color: grey;
        font-weight: normal;
        border: none;
    }
}
.scroll_btn.header_notifications{
    font-size: 12px;
}