// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments{
    display: none;
}


.comment{
    padding: 20px 0px 20px 20px;
    background-color: white;
}

.profile_xs{
    height: 35px;
    width: 35px;
}


.c_form_image{
    position: absolute;
    top: 20px;
    left: 20px;
}

textarea.c_content{
    padding-top: 0;
    padding-bottom: 0;
}

.c_content{
    height: 100%;
}

.comment_invite{
    cursor: pointer;
}

.comment_form{
    position: relative;
    padding: 20px 20px 45px 80px;
    background-color: white;
    display: none;
    border-bottom: 2px solid #eee;
}

.c_form_btn{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.c_status > div {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}