
// media query note

@media (max-width: 480px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}
@media (max-width: 1200px) {
}







body{
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #222222;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}
.flex_container{
    min-height: 100vh;
    height: 100%; /* for IE11 */
    display: flex;
    flex-direction: column;

}
.flex_wrapper{
    flex: 1;
    display: flex;
}
#main_container{
    flex: 1;
    margin: 0 20px;
    min-width: 0;
}

@media(max-width: 768px){
    #main_container{
        margin: 0;
    }

}


// side bar ここから

#sidebar{
    width: 300px;
    margin: 20px 20px 20px 0;
    background-color: white;
}



#side_nav{
    width: 200px;
    background-color: #001E42;
    padding: 20px;
}

#side_nav_two{
    width: 300px;
    background-color: #001E42;
    padding: 20px;
}


.feed_optimizer{

}


.tag_content{
    border-radius: 100px;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    color: grey;
}
input[type=checkbox]:checked + .tag_content{
    color: white;
    font-weight: bold;
}


input[type=checkbox] + .tag_content:after{
    content: '＋';
} 

input[type=checkbox]:checked + .tag_content:after{
    content: 'ー';
} 




.big_container{
    width: 940px;
    margin: 0 auto;
}



.main_container{
    
}

.sub_container{
    width: 300px;
    margin: 0;
    float: left;
}



#main_contents{
    position: relative;
}


li {
    list-style-type: none;
}



a  {
        color: #333;
        text-decoration: none;
    &:hover{
        color: #333;
        text-decoration: none;
    }
    &:visited{
        color: #333;
        text-decoration: none;
    }
    &:link{
        color: #333;
        text-decoration: none;
    }
}

header{
    position: relative;
    height: 80px;
    line-height: 80px;
    background-color: white;
    color: grey;
    #logo{
        font-size: 50px;
        font-weight: bold;
        font-family: 'Karla', sans-serif;
        color: black;
    }
    
    #menu{
        position: relative;
        height: 80px;
        width: 80px;
        float: left;
        color: black;
        i{
            font-size: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);    
        }
    }
    #account{
        height: 80px;
        width: 80px;
        float: right;
        color: black;
        position: relative;
        
        img{
           position: absolute;
           top: 50%;
           left: 50%;
           -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%); 
        }

    }
    
}

@media (max-width: 768px) { 
    #logo{
        font-size: 20px;
    }
}







#top{
    background-color: #f9f9f9;
    height: 440px;
    padding-top: 20px;

    .border{
        height: 100%;
        border: 1px solid white;
    }
}


.t_hot_article{
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;

    .dark_over_lay{
        padding: 20px;
        height: 100%;
        width: 100%;
    }
    p{
        margin: 110px 0 10px;
    }
    h2{
        margin: 0 auto;
        width: 700px;
        font-size: 25px;
        margin-bottom: 40px;
    }
    .t_status{
        font-size: 20px;
    }
    
}

.t_title{
    background-color: black;
    color: white;
    padding-left: 10px;
}

.t_content{
    background-color: white;
    padding: 0 10px;
}
.t_tags{
    .t_tag_pill{
      display: inline-block;  
    }
}

.t_articles{
    margin-top: 20px;
    .t_article_title{
        margin-bottom: 10px;
    }
    .t_content{
        height: 250px;
    }
}


    
.sidebar{
    margin-top: 20px;
}






#dropdown_btn{
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    width: 100px;
    padding-top: 25px;
    padding: 25px 20px 0 20px;
}




#dropdown_menu{
   position: absolute;
   padding: 10px 40px;
   top: 70px;
   right: 40px;
   z-index: 100;
   display: none;
   background-color: white;
   border-radius: 5px;
   li{
        line-height: 30px;
        height: 30px;
   }
}



header > div{
    height: 100%;
}

#logo{
    color: grey;
    font-size: 30px;
}

a { text-decoration: none !important}


footer{
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 40px;
}

footer ul li{
    padding: 10px;
    text-style: none;
}

.btn{
    padding: 5px 10px;
}

.black{
    background-color: black;
    color: white;
}

span.input-group-btn{
    background-color: #eee;
}



.nav_container{
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}


.index_nav{
    text-align: center;
    height: 100%;
    background-color: #fcfcfc;
}

.grey{
    color: grey;
}

.small_grey{
    font-size: 12px;
    color: grey;
}

// user index profile

.user_block{
    padding-bottom: 20px;
}

.user_info{
    padding-left: 20px;
    span{
        margin-left: 10px;
    }
}

.user_info_xs{
    padding-left: 10px;
    span{
        margin-left: 5px;
    }
}

.user_shoulder_name{
    font-size: 12px;
    color: grey;
}


.new-post-form{
    min-height: 500px;
    background-image: url("/coverphoto3.jpg");
    background-size: cover;
    background-position: center;
}
.search_bar{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    position: relative;
}

.search_icon{
    position: absolute;
    top: 10px;
    left: 10px;
}


#search{
    padding-left: 30px;
}



.url-form{
    padding-top: 200px;
    // max-width: 720px;
}

.white-over-lay{
    background-color: rgba(250,250,250,0.5);
    height: 100%;
}

// .article_image{
//     max-width: 170px;
//     border-radius: 5px;
// }

.loaded-news{
    padding: 50px 0;
}


.no_scroll{
    overflow: hidden;
}






