// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment, .reply{
    margin-top: 10px;
    .main{
        background-color: #f9f9f9;
        display: flex;
        .body{
            padding: 0;
            flex: 1;
            .user_info{
                display: flex;
                border-bottom: 1px solid #eee;
                .user_name{
                    flex: 1;
                }
                .option{
                    position: relative;
                    text-align: center;
                    width: 30px;
                    height: 16px;
                    line-height: 16px;
                    font-size: 16px;
                    cursor: pointer;
                    color: grey;
                }
            }
            .content{
                padding: 5px 0;
            }
            .status{
                .reply_link.link_btn{
                    margin: 0;
                }
            }
            .reply_view_link{
                margin-right: 5px;
                display: inline-block;
            }
        }
        img{
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
}


.reply{
    .main{
        img{
            width: 20px;
            height: 20px;
        }
    }
}


.comment_index{
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 0 0 5px 5px;
    .invite_comment{
        color: navy;
        display: inline;
        border-bottom: 1px solid navy;
        cursor: pointer;
    }
}
.comment_form{
    display: none;
}

.comment_form, .reply_form{
    .form-group{
        margin-bottom: 5px;
    }
    .form_textarea{
        display: flex;
        img{
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
        textarea{
            flex: 1;
            outline: 1px solid #eee;
            &:focus{
                outline: 1px solid #eee;
                // height: 100px;
            }
        }
    }
    .form_textarea.edit{
        margin: 0;
    }
    .comment_submit{
        margin-left: 40px;
        color: grey;
        float: right;
        input[type="submit"]{
            background-color: rgba(0,0,0,0);
            border: 1px solid #bbb;
            &:hover{
                color: rgb(54, 88, 155);
                border: 1px solid rgb(54, 88, 155);
            }
        }
        .cancel_btn{
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
            &:hover{
                color: rgb(54, 88, 155);
            }
        }
    }
}


.reply_form{
    margin-bottom: 0;
    form{
        margin-top: 12px;
        .comment_submit.reply_submit{
            display: block;
            margin: 0;
        }
    }
    .form_textarea{
        width: 100%;        
    }
}

