body{
    background-color: #eee;
}

header{
    height: 70px;
    line-height: 70px;
    background-color: rgba(0,0,0,1);
}

#logo{
    color: white;
    font-size: 30px;
}

a { text-decoration: none !important}