body{
    background-color: white;
    // font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: rgb(29, 33, 41);
    position: relative;
}

#main_contents{
    position: relative;
}


html { 
    font-size: calc(112.5% + 0.25vw); 
}


li {
    list-style-type: none;
}



a  {
        color: #333;
        text-decoration: none;
    &:hover{
        color: #333;
        text-decoration: none;
    }
    &:visited{
        color: #333;
        text-decoration: none;
    }
    &:link{
        color: #333;
        text-decoration: none;
    }
}

header{

    height: 70px;
    line-height: 70px;
    // background-color: rgba(0,0,0,1);
    padding: 0 20px;
    color: grey;
}

#dropdown_btn{
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    width: 100px;
    padding-top: 25px;
    padding: 25px 20px 0 20px;
}

.header-right{
    
}


#dropdown_menu{
   position: absolute;
   padding: 10px 40px;
   top: 70px;
   right: 40px;
   z-index: 100;
   display: none;
   background-color: white;
   border-radius: 5px;
   li{
        line-height: 30px;
        height: 30px;
   }
}



header > div{
    height: 100%;
}

#logo{
    color: grey;
    font-size: 30px;
}

a { text-decoration: none !important}


footer{
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 40px;
}

footer ul li{
    padding: 10px;
    text-style: none;
}

.btn{
    padding: 5px 10px;
}

.black{
    background-color: black;
    color: white;
}

span.input-group-btn{
    background-color: #eee;
}

.index_container{
    max-width: 600px;
    margin: 10px auto 0;
}

.nav_container{
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}


.index_nav{
    text-align: center;
    height: 100%;
    background-color: #fcfcfc;
}

.grey{
    color: grey;
}

.small_grey{
    font-size: 12px;
    color: grey;
}

// user index profile

.user_block{
    padding-bottom: 20px;
}

.user_info{
    padding-left: 20px;
    span{
        margin-left: 10px;
    }
}

.user_info_xs{
    padding-left: 10px;
    span{
        margin-left: 5px;
    }
}

.user_shoulder_name{
    font-size: 12px;
    color: grey;
}


.new-post-form{
    min-height: 500px;
    background-image: url("/coverphoto3.jpg");
    background-size: cover;
    background-position: center;
}
.search_bar{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    position: relative;
}

.search_icon{
    position: absolute;
    top: 10px;
    left: 10px;
}


#search{
    padding-left: 30px;
}



.url-form{
    padding-top: 200px;
    // max-width: 720px;
}

.white-over-lay{
    background-color: rgba(250,250,250,0.5);
    height: 100%;
}

// .article_image{
//     max-width: 170px;
//     border-radius: 5px;
// }

.loaded-news{
    padding: 50px 0;
}


.no_scroll{
    overflow: hidden;
}

