
.ddm{
	z-index: 100;
}

// header & post_option ddm
.triangle{
	position: absolute;
	top: -42px;
	left: 40px;
	width: 0;
	height: 0;
	border-top: 12px solid rgba(0,0,0,0);
	border-right: 12px solid rgba(0,0,0,0);
	border-bottom: 12px solid white;
	border-left: 12px solid rgba(0,0,0,0);
}
.reverse_triangle{
	position: absolute;
	top: -42px;
	left: 40px;
	width: 0;
	height: 0;
	border-top: 12px solid white;
	border-right: 12px solid rgba(0,0,0,0);
	border-bottom: 12px solid rgba(0,0,0,0);
	border-left: 12px solid rgba(0,0,0,0);
}

#locale_close_btn{
	display: inline-block;
	position: absolute;
	top: -31px;
	left: 122px;
	width: 25px;
	height: 25px;
	z-index: 100;
	background-color: #6699cc;
	padding: 5px;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	&:hover{
		background-color: #99ccff;
	}
	svg{
		padding: 2px;
		fill: white;
		transition: 0.2s;
		&:hover{
			width: 25px;
			height: 25px;
		}
	}
}

.ddm{
	position: absolute;
	display: none;
	border-radius: 3px;
	flex-direction: column;
	background-color: white;
	line-height: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	>div{
		flex: 1;
		flex-direction: column;
		h2{
			color: #001E42;
		}
		a, .ddm_btn{
			line-height: 40px;
			padding: 0 20px;
			display: block;
			flex: 1;
			color: #696969;
			font-size: 14px;
			&:hover{
				background-color: #eee;
			}
			&.selected:after{
				font-family: FontAwesome;
				content: "\f00c";
				margin-left: 12px;
				color: navy;
			}
		}
	}
	.country, .post_user_menu{
		border-bottom: 1px solid #eee;
	}
	.reply_user_menu, .comment_user_menu{
		border-top: 1px solid #eee;
	}
	
	.language{
	}
}

#locale_ddm{
	top: 70px;
	left: 105px;
	width: 200px;
}
#locale_ddm:before{
	content: "";
	position: absolute;
	top: -16px;
	left: 40px;
	margin-left: -15px;
	border: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	z-index: 2;
}

#locale_ddm:after{
	content: "";
	position: absolute;
	top: -20px;
	left: 40px;
	margin-left: -17px;
	border: 10px solid transparent;
	border-bottom: 10px solid #bbb;
	z-index: 1;
}


.post_ddm{
	bottom: 35px;
}
.comment_ddm, .reply_ddm{
	top: 30px;
}

.post_ddm, .comment_ddm, .reply_ddm{
	right: -12px;
	width: 100px;
	font-size: 14px;
	text-align: left;
	.option_modal{
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		padding-top: 200px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#001E42, .9);
		z-index: 200;
		.delete{
			display: none;
			width: 450px;
			border-radius: 3px;
			text-align: center;
			background-color: white;
			margin-top: 307px;
			margin: 0 auto;
			padding: 30px 0;
			h2{
				font-size: 16px;
				padding: 12px;
				margin: 12px;
			}
			.delete_option{
				display: flex;
				flex-direction: row;
				line-height: 50px;
				a, div{
					border-radius: 50px;
					margin: 0 30px;
				}
			}
		}
		.report{
			display: none;
		}
	}
}


.post_ddm_wrapper, .comment_ddm_wrapper, .reply_ddm_wrapper{
	position: relative;
}

.comment_ddm_wrapper:before, .reply_ddm_wrapper:before,{
	content: "";
	position: absolute;
	top: -16px;
	right: 15px;
	margin-left: -15px;
	border: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	z-index: 2;
}

.comment_ddm_wrapper:after, .reply_ddm_wrapper:after,{
	content: "";
	position: absolute;
	top: -20px;
	right: 13px;
	margin-left: -17px;
	border: 10px solid transparent;
	border-bottom: 10px solid #bbb;
	z-index: 1;
}

.post_ddm_wrapper:before{
	content: "";
	position: absolute;
	bottom: -16px;
	right: 15px;
	margin-left: -15px;
	border: 8px solid transparent;
	border-top: 8px solid #FFF;
	z-index: 2;
}

.post_ddm_wrapper:after{
	content: "";
	position: absolute;
	bottom: -20px;
	right: 13px;
	margin-left: -17px;
	border: 10px solid transparent;
	border-top: 10px solid #bbb;
	z-index: 1;
}
@media(max-width: 500px){

	.post_ddm_wrapper:before{
		bottom: -16px;
		right: 18px;
	}

	.post_ddm_wrapper:after{
		bottom: -20px;
		right: 17px;
	}
	
	.comment_ddm, .reply_ddm{
		top: 25px;
	}
	.comment_ddm_wrapper:before{
		bottom: 60px;
		right: 17px;
	}

	.comment_ddm_wrapper:after{
		bottom: 60px;
		right: 15px;
	}
	
	.ddm div{
		flex: none;
	}
}




@media(max-width: 500px){
	.post_ddm, .comment_ddm{
		width: 150px;
		line-height: 40px;
	   .option_modal{ 
			padding-top: 80px;
			.delete{
				position: fixed;
				bottom: 0;
				width: 100%;
				border-radius: 0;
				padding: 40px 0;
				.delete_option{
					line-height: 40px;
					flex-direction: column;
					a, div{
						border: 1px solid #bbb;
						border-radius: 50px;
						margin: 12px 40px 0;
					}
				}
			}
		}
		.report{
		}
	}
}



#notification_ddm{
	top: 70px;
	right: 30px;
	width: 400px;
	div{
		padding: 0;
		a{
		}
	}
	.title{
		h2{
			padding: 8px 12px;
			color: #696969;
			font-size: 14px;
			border-bottom: 1px solid #eee;
		}
	}
	.notifications {
		margin-top: 0;
		height: 400px;
		overflow: scroll;
		.notification{ 
			img{
				width: 40px;
				height: 40px;
			}
			.content{
				padding: 0;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}	
	.notification_index_link{
		padding: 2px 12px;
		font-size: 14px;
		border-top: 1px solid #eee;
		text-align: center;
	}
}

#notification_ddm:before{
	content: "";
	position: absolute;
	top: -16px;
	right: 24px;
	margin-left: -15px;
	border: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	z-index: 2;
}

#notification_ddm:after{
	content: "";
	position: absolute;
	top: -20px;
	right: 22px;
	margin-left: -17px;
	border: 10px solid transparent;
	border-bottom: 10px solid #bbb;
	z-index: 1;
}



#mobile_locale_ddm.ddm{
	position: fixed;
	background-color: rgba(black, 0.8);
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	font-size: 16px;
	border-radius: 0;
	line-height: 50px;
	box-shadow: none;
	.mobile_locale_ddm_wrapper{
		background-color: white;
		display: flex;
		flex-direction: column;
		padding: 12px;
		div{
			flex: none;
			a:hover{
				background-color: white;
				color: #001E42;
			}
		}
	}
}

#mobile_profile_option_ddm.ddm{
	position: fixed;
	background-color: rgba(black, 0.8);
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	font-size: 16px;
	border-radius: 0;
	line-height: 50px;
	box-shadow: none;
	.mobile_profile_option_ddm_wrapper{
		background-color: white;
		display: flex;
		flex-direction: column;
		padding: 12px;
		.profile_option{
			border-bottom: 1px solid #eee;
			a:hover{
				background-color: white;
				color: #001E42;
			}
		}
	}
}

.close_ddm_btn{
		position: fixed;
		height: 70px;
		width: 70px;
		align-items: center;
		justify-content: center;
		display: flex;
		top: 43px;
		right: 3px;
		cursor: pointer;
		z-index: 200;
	svg{
		height: 20px;
		width: 20px;
	}
}


#profile_option_ddm{
	position: absolute;
	right: 3px;
    top: 70px;
    min-width: 200px;
	.profile_option_wrapper{
		padding: 0;
		.user_info_block{
			padding: 8px 20px;
			font-weight: 900;
			border-bottom: 1px solid #eee;
		}
		.profile_option_block{
			.profile_option{
				&:hover{
				}
			}
		}	
		.footer{
			padding: 0 20px 20px;
			color: #696969;
			border-radius: 0 0 3px 3px;
			border-top: 1px solid #eee;
			line-height: 16px;
			.sub_profile_option{
				display: inline;
				padding: 0;
				&:hover{
					background-color: rgba(0,0,0,0);
					border-bottom: 1px solid black;
				}
			}
		}
	}
}

#profile_option_ddm:before{
	content: "";
	position: absolute;
	top: -16px;
	right: 15px;
	margin-left: -15px;
	border: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	z-index: 2;
}

#profile_option_ddm:after{
	content: "";
	position: absolute;
	top: -20px;
	right: 13px;
	margin-left: -17px;
	border: 10px solid transparent;
	border-bottom: 10px solid #bbb;
	z-index: 1;
}