
.ddm{
	z-index: 50;
}

// header & post_option ddm
.triangle{
	position: absolute;
	top: -42px;
	left: 40px;
	width: 0;
	height: 0;
	border-top: 12px solid rgba(0,0,0,0);
	border-right: 12px solid rgba(0,0,0,0);
	border-bottom: 12px solid white;
	border-left: 12px solid rgba(0,0,0,0);
}
.reverse_triangle{
	position: absolute;
	top: -42px;
	left: 40px;
	width: 0;
	height: 0;
	border-top: 12px solid white;
	border-right: 12px solid rgba(0,0,0,0);
	border-bottom: 12px solid rgba(0,0,0,0);
	border-left: 12px solid rgba(0,0,0,0);
}

#locale_close_btn{
	display: inline-block;
	position: absolute;
	top: -31px;
	left: 122px;
	width: 25px;
	height: 25px;
	z-index: 100;
	background-color: #6699cc;
	padding: 5px;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	&:hover{
		background-color: #99ccff;
	}
	svg{
		padding: 2px;
		fill: white;
		transition: 0.2s;
		&:hover{
			width: 25px;
			height: 25px;
		}
	}
}

.ddm{
	position: absolute;
	display: none;
	border-radius: 3px;
	flex-direction: column;
	background-color: white;
	line-height: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	>div{
		flex: 1;
		flex-direction: column;
	}
	h2{
		color: $newsb_grey;
	}
	a, .ddm_btn, input[type="submit"].ddm_post_btn{
		line-height: 40px;
		padding: 0 20px;
		display: block;
		flex: 1;
		color: #696969;
		font-size: 14px;
		cursor: pointer;
		&:hover{
			// background-color: #eee;
			color: darkorange;
		}
		&.selected:after{
			font-family: FontAwesome;
			content: "\f00c";
			margin-left: 12px;
			color: darkorange;
			font-size: 10px;
		}
	
	}
	input[type="submit"]:focus{
		outline: none;
	}
	
	.post_user_menu{
		border-bottom: 1px solid #eee;
	}
	.reply_user_menu, .comment_user_menu{
		border-top: 1px solid #eee;
	}
	
	.country, .language{
		.menu_title{
			display: flex;
			align-items: center;
			border-bottom: 1px solid #eee;
			padding: 0 8px;
			line-height: 30px;
			font-weight: 600;
			font-size: 12px;
			span{
				margin-right: 12px;
			}
			i{
				display: none;
			}
		}
		a.menu_item, button.menu_item{
			border-bottom: 1px solid #eee;
			padding-right: 12px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&.disabled span.country_name{
				text-decoration: line-through;
				color: #aaa;
			}
			.menu_item_left{
				display: flex;
				align-items: center;
				&.for_language{
					i{
						display: inline-block;
						width: 20px;
						height: 20px;
						margin-right: 12px;
						font-size: 20px;
						text-align: center;
						&.blue{
							color: cornflowerblue;
						}
						&.red{
							color: indianred;
						}
					}
				}
			}
			svg{
				width: 20px;
				height: 20px;
				margin-right: 12px;
			}
		}
	}
}

@media(max-width: 768px){
	.ddm{
		>div{
			a, .ddm_btn{
				
				padding: 5px 12px;
				&:hover{
					background-color: rgba(0,0,0,0);
					
					font-weight: normal;
				}
			}
		}
	}
}

#locale_ddm.ddm{
	top: 55px;
	left: 100px;
	flex-direction: row;
	
	>div{
		flex: none;
	}
	.country, .language{
		padding: 12px;
	}
	.country{
		border-right: 1px solid #eee;
		width: 180px;
	}
	.language{
		width: 150px;
	}
	a, input[type="submit"].ddm_post_btn{
		line-height: 20px;
		
		padding: 0;
		&:hover{
			background-color: rgba(0,0,0,0);
			color: darkorange;
		}
	}
	a:not(:last-child){
		margin-bottom: 20px;
	}
	input[type="submit"].ddm_post_btn:not(:last-child){
		margin-bottom: 20px;
	}	
	a.menu_item{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: none;
		position: relative;
		svg{
			width: 20px;
			height: 20px;
		}
		.coming_soon{
			position: absolute;
			top: 12px;
			left: 32px;
			font-size: 10px;
			color: orange;
		}
		&.disabled{
			color: #aaa;
    		text-decoration: line-through;
		}
	}
}

// 保留中保留中保留中保留中保留中保留中// 保留中保留中保留中保留中保留中保留中
// #locale_ddm:before{
// 	content: "";
// 	position: absolute;
// 	top: -16px;
// 	left: 40px;
// 	margin-left: -15px;
// 	border: 8px solid transparent;
// 	border-bottom: 8px solid #FFF;
// 	z-index: 2;
// }

// #locale_ddm:after{
// 	content: "";
// 	position: absolute;
// 	top: -20px;
// 	left: 40px;
// 	margin-left: -17px;
// 	border: 10px solid transparent;
// 	border-bottom: 10px solid #bbb;
// 	z-index: 1;
// }
// 保留中保留中保留中保留中保留中保留中// 保留中保留中保留中保留中保留中保留中

// .post_ddm{
// 	bottom: 35px;
// }
// .comment_ddm, .reply_ddm{
// 	top: 30px;
// }

.post_ddm, .comment_ddm, .reply_ddm{
	right: 0px;
	bottom: 45px;
	font-size: 14px;
	min-width: 150px;
	text-align: left;
}
.option_modal{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	padding-top: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($newsb_grey, .9);
	z-index: 200;
	.delete, .report{
		display: none;
		width: 450px;
		border-radius: 3px;
		text-align: center;
		background-color: white;
		margin-top: 307px;
		margin: 0 auto;
		padding: 20px;
		h2{
			font-size: 20px;
			padding: 12px;
			margin: 12px;
		}
		.delete_option{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			line-height: 30px;
			a, div{
				flex: 1;
				border-radius: 3px;
				margin: 20px 50px;
				cursor: pointer;
			}
		}
	}
	.report{
		textarea{
			width: 100%;
		    height: 100px;
		    border-radius: 3px;
		    padding: 5px 12px;
		    border: 1px solid #aaa;
		    margin-bottom: 12px;
		    resize: none;
		}
		.submit_btn_group{
			justify-content: flex-end;
			input[type=submit], .cancel_btn.ddm_btn{
				width: 100px;
				flex: none;
				&:hover{
					backgound-color: #f9f9f9;
				}
			}
		}
	}
}


.mobile_ddm_header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: $newsb;
	display: none;
	z-index: 1000;
	.mobile_ddm_header_wrapper{
		position: relative;
		h2.mobile_ddm_title{
	        color: white;
	        line-height: 50px;
	        font-size: 16px;
	        text-align: center;
	        font-weight: 600;
	    }
		.close_mobile_ddm_btn{
			position: absolute;
			top: 16px;
		    right: 0;
			cursor: pointer;
			svg{
				width: 16px;
				height: 16px;
				margin-right: 12px;
				fill: white;
			}
		}
	}
}

// .mobile_ddm_wrapper{
// 	display: none;
// }



.post_ddm_wrapper, .comment_ddm_wrapper, .reply_ddm_wrapper{
	position: relative;
}

// .comment_ddm_wrapper:before, .reply_ddm_wrapper:before,{
// 	content: "";
// 	position: absolute;
// 	top: -16px;
// 	right: 15px;
// 	margin-left: -15px;
// 	border: 8px solid transparent;
// 	border-bottom: 8px solid #FFF;
// 	z-index: 2;
// }

// .comment_ddm_wrapper:after, .reply_ddm_wrapper:after,{
// 	content: "";
// 	position: absolute;
// 	top: -20px;
// 	right: 13px;
// 	margin-left: -17px;
// 	border: 10px solid transparent;
// 	border-bottom: 10px solid #bbb;
// 	z-index: 1;
// }



// 保留中保留中保留中保留中保留中保留中
// .post_ddm_wrapper:before, .comment_ddm_wrapper:before{
// 	content: "";
// 	position: absolute;
// 	bottom: -16px;
// 	right: 11px;
// 	margin-left: -15px;
// 	border: 8px solid transparent;
// 	border-top: 8px solid #FFF;
// 	z-index: 2;
// }

// .post_ddm_wrapper:after, .comment_ddm_wrapper:after{
// 	content: "";
// 	position: absolute;
// 	bottom: -20px;
// 	right: 10px;
// 	margin-left: -17px;
// 	border: 10px solid transparent;
// 	border-top: 10px solid #bbb;
// 	z-index: 1;
// }
// 保留中保留中保留中保留中保留中保留中


// @media(max-width: 500px){

// 	.post_ddm_wrapper:before{
// 		bottom: -16px;
// 		right: 18px;
// 	}

// 	.post_ddm_wrapper:after{
// 		bottom: -20px;
// 		right: 17px;
// 	}
	
// 	.comment_ddm, .reply_ddm{
// 		top: 25px;
// 	}
// 	.comment_ddm_wrapper:before{
// 		bottom: 60px;
// 		right: 17px;
// 	}

// 	.comment_ddm_wrapper:after{
// 		bottom: 60px;
// 		right: 15px;
// 	}
	
// 	.ddm div{
// 		// flex: none;
// 	}
// }




@media(max-width: 500px){
	.post_ddm, .comment_ddm{
		// width: 150px;
		line-height: 40px;
	   .option_modal{ 
			padding-top: 80px;
			.delete{
				position: fixed;
				bottom: 0;
				width: 100%;
				border-radius: 0;
				padding: 40px 0;
				.delete_option{
					line-height: 40px;
					flex-direction: column;
					a, div{
						border: 1px solid #bbb;
						border-radius: 50px;
						margin: 12px 40px 0;
					}
				}
			}
		}
		.report{
		}
	}
}

.mobile_ddm{
	margin-top: 50px;
}


#notification_ddm{
	top: 55px;
	left: -110px;
	width: 400px;
	div{
		a{
		}
	}
	.title{
		h2{
			padding: 8px 12px;
			color: #696969;
			font-size: 14px;
			border-bottom: 1px solid #eee;
		}
	}
	.notifications {
		margin-top: 0;
		height: 400px;
		overflow: scroll;
		
		-webkit-overflow-scrolling: touch;
		.notification{ 
			img{
				width: 40px;
				height: 40px;
			}
			.content{
				padding: 0;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}	
	.notification_index_link{
		padding: 2px 12px;
		font-size: 14px;
		border-top: 1px solid #eee;
		text-align: center;
	}
}


// 保留中保留中保留中保留中保留中保留中
// #notification_ddm:before{
// 	content: "";
// 	position: absolute;
// 	top: -16px;
// 	right: 183px;
// 	margin-left: -15px;
// 	border: 8px solid transparent;
// 	border-bottom: 8px solid #FFF;
// 	z-index: 2;
// }

// #notification_ddm:after{
// 	content: "";
// 	position: absolute;
// 	top: -20px;
// 	right: 181px;
// 	margin-left: -17px;
// 	border: 10px solid transparent;
// 	border-bottom: 10px solid #bbb;
// 	z-index: 1;
// }
// 保留中保留中保留中保留中保留中保留中// 保留中保留中保留中保留中保留中保留中



// #mobile_notification_ddm{
// 	position: fixed;
// }

.mobile_ddm.ddm{
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	display: none;
	font-size: 20px;
	border-radius: 0;
	line-height: 50px;
	box-shadow: none;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	z-index: 100;
	.ddm_wrapper{
		background-color: white;
		//because header section is fixed
		
		
		// overflow: scroll;
		// -webkit-overflow-scrolling: touch;
		// -webkit-backface-visibility:hidden;
 	// 	backface-visibility:hidden;
		display: flex;
		flex-direction: column;
		
		div{
			// flex: none;
			a:hover{
				background-color: rgba(0,0,0,0);
				color: $newsb_grey;
			}
			.content{
				display: flex;
				flex-direction: column;
				p{
					line-height: 16px;
				}
			}
		}
		.title_section{
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			height: 54px;
			z-index: 100;
			.title_block{
				display: flex;
				
				padding: 16px 8px;
				justify-content: space-between;
				align-items: center;
				font-size: 16px;
				background-color: rgba(0,0,0,0);
				position: relative;
				text-align: center;
				
				h2{
					flex: 1;
					font-weight: 600;
					color: white;
					border-radius: 50px;
				}
				.close_ddm_btn{
					position: absolute;
					right: 0;
					top: 8px;
					height: 40px;
					width: 40px;
					align-items: center;
					justify-content: center;
					display: flex;
					cursor: pointer;
					svg{
						height: 16px;
						width: 16px;
						fill: white;
					}
				}
			}
		}
	}
}

.post_ddm_block{
	margin: 12px;
	.post_form_title{
		margin: 0 0 20px;
	}
}
.ddm{
	a.menu_option, .menu_option{
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eee;
		svg{
			width: 30px;
			height: 30px;
			margin-right: 12px;
		}
	}
}

@media(max-width: 768px){
	.post_ddm_block{
		margin: 5px;
	}
	
}
.copy_right_statement{
    font-size: 12px;

}

.profile_user_block{
	border-bottom: 1px solid #eee;
	padding: 20px 8px;
	.user_info{
		text-align: center;
	}
	.profile_image{
		margin-bottom: 12px;
	}
	h2{
		font-size: 20px;
		font-weight: 600;
	}
	p{
		line-height: normal;
		font-size: 14px;
		color: #696969;
		&.credential{
			margin-bottom: 8px;
		}
		span{
			margin-right: 8px;
		}
	}
}
.mobile_profile_option_ddm.ddm{
	.mobile_profile_option_ddm_wrapper{
		a.profile_option, .profile_option{
			border-bottom: 1px solid #eee;
			padding: 8px 12px;
			color: black;
			a:hover{
				background-color: white;
				color: $newsb_grey;
			}
			&.setting_option{
				padding-left: 40px;
			}
		}
		.setting_menu_btn{
			display: flex;
			cursor: pointer;
			align-items: center;
			justify-content: space-between;
		}
		.setting_menu{
			display: none;
			
		}
	}
	.copy_right_statement{
		padding: 0 12px;
	}
}

.user_info_section{
	display: flex;
	padding: 20px;
	border-bottom: 1px solid #eee;
	.user_info_block{
		display: flex;
		flex-direction: column;
		line-height: 16px;
		margin-left: 12px;
		.user_name{
			font-size: 16px;
			font-weight: 600;
			
		}
		.credential, .stats{
			font-size: 14px;
			color: #696969;
		}
		.credential{
			margin-bottom: 8px;
		}
		.stats{
			display: flex;
			flex-direction: column;
		}
	}
	
}
.not_logged_in{
	.profile_option_ddm{
		right: -115px;
		min-width: 220px;
	}
}
.profile_option_ddm{
	position: absolute;
	right: 30px;
    top: 55px;
    width: 350px;
	.profile_option_wrapper{
		padding: 0;
		.profile_option_block{
			.setting_menu_btn{
				display: flex;
				cursor: pointer;
				align-items: center;
				justify-content: space-between;
			}
			.setting_menu{
				display: none;
				
			}
			.setting_option{
				padding-left: 40px;
			}
			.profile_option{
				&:hover{
				}
			}
		}
		.footer{
			padding: 8px 20px;
			color: #696969;
			border-radius: 0 0 3px 3px;
			border-top: 1px solid #eee;
			background-color: #eee;
			line-height: 20px;
			.sub_profile_option{
				display: inline;
				padding: 0;
				line-height: 20px;
				font-size: 12px;
				&:hover{
					background-color: rgba(0,0,0,0);
					border-bottom: 1px solid black;
					color: black;
				}
			}
		}
	}
}

// 保留中保留中保留中保留中保留中保留中// 保留中保留中保留中保留中保留中保留中
// .profile_option_ddm:before{
// 	content: "";
// 	position: absolute;
// 	top: -16px;
// 	right: 70px;
// 	margin-left: -15px;
// 	border: 8px solid transparent;
// 	border-bottom: 8px solid #FFF;
// 	z-index: 2;
// }

// .profile_option_ddm:after{
// 	content: "";
// 	position: absolute;
// 	top: -20px;
// 	right: 68px;
// 	margin-left: -17px;
// 	border: 10px solid transparent;
// 	border-bottom: 10px solid #bbb;
// 	z-index: 1;
// }
// 保留中保留中保留中保留中保留中保留中// 保留中保留中保留中保留中保留中保留中



.unlock_sns_ddm{
	width: 300px;
	font-size: 16px;
    top: -240px;
    right: -260px;
}

.unlock_sns_ddm_wrapper{
	padding: 20px;
	color: #000;
	.description{
		a, .skip_btn{
			border-radius: 3px;
			font-size: 16px;
		    text-align: center;

		}
		a{
			margin-top: 20px;
		    color: white;
		    background-color: cadetblue;
		    opacity: .9;
		    &:hover{
		    	opacity: 1;
		    	background-color: cadetblue;
		    }
		}
		.skip_btn{
			margin-top: 12px;
			border: 1px solid #eee;
			cursor: pointer;
			padding: 5px 12px;
			&:hover{
				font-weight: 600;
				border: 1px solid grey;
			}
		}
	}
}