#featured_article, #selected_article_mobile{
	width: 100%;
	flex-direction: row;
	a{
		color: #e9e9e9;
		&:hover{
			color: white;
		}
	}
	.article_wrapper{
		min-height: 300px;
		max-height: 400px;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;

		.overlay{
			background-color: rgba(0, 5, 10, .75);
			padding: 40px 20px;
			flex: 1;
			display: flex;
  			align-items: center;
			text-shadow: 0 0 3px black;
			.article_container{
				max-width: 1100px;
				margin: 0 auto;
				flex: 1;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between; 
				.featured_article_image_block{
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-left: 20px;
					.article_image_link{
						display: block;
						flex: 1;
					}
					.article_image{
						width: 300px;
						min-height: 180px;
						background-size: cover;
						background-position: center;
						border-radius: 3px;
						height: 100%;
						display: flex;
						justify-content: flex-end;
						align-items: flex-end;
						
						&:hover{
							span{
								background-color: rgba(255,255,255,.6);
								color: black;
							}
						}
						span{
							display: inline-block;
						    padding: 8px 20px;
						    margin: 8px;
						    text-align: center;
						    border-radius: 3px;
						    font-size: 16px;
						    background-color: rgba(0, 0, 0, 0.6);
						    transition: .2s;
						    text-shadow: none;
						}
					}
					// a.show_article_link{
					// 	display: block;
					//     padding: 8px 12px;
					//     color: #eee;
					//     width: 100%;
					//     text-align: center;
					//     margin-top: 8px;
					//     background-color: rgba(255, 255, 255, 0.1);
					//     border-radius: 3px;
					//     transition: .2s;
					// 	&:hover{
					// 		background-color: rgba(255,255,255,.2);
					// 	}
					// }
				}
				.featured_article_content{
					flex: 1;
					display: flex;
					flex-direction: column;
					text-align: left;
					
					.best_post{
						display: flex;
						flex-direction: column;
						// align-items: center;
						flex: 1;
						color: #eee;
						margin-bottom: 12px;
						.user_info{
							margin-bottom: 8px;
							display: flex;
							// justify-content: center;
							font-size: 14px;
							align-items: center;
						}
						.best_post_content{
							width: 70%;
							font-size: 14px;
						}
						.featured_article_options{
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							height: 100px;
							display: none;
							a{
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 8px 20px;
								margin-top: 10px;
    							background-color: rgba(255,255,255,.3);
    							&:hover{
    								background-color: rgba(255,255,255,.2);
    							}
    							i{
									margin-left: 12px;
								}
							}
						}
					}
					h2.featured_article_title{
						font-size: 34px;
						color: #eee;
						font-weight: 600;
						margin-bottom: 5px;
					}
					.featured_article_info, .selected_article_info{
						width: 100%;
						display: flex;
						margin-bottom: 20px;
						color: #eee;
						font-size: 14px;
						align-items: center;
						// justify-content: center;
						.featured_article_source{
							&.for_mobile{
								display: none;
							}
						}
						.time{
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}
.featured_post_posts_count, .selected_post_posts_count{
	margin-right: 8px;
	display: flex;
	align-items: center;

	svg{
		width: 14px;
		height: 14px;
		margin-right: 5px;
		fill: white;
	}
	.post_number{
		display: inline-block;
		border-radius: 3px;
	}
	.report_number{
		margin-left: 5px;
	}
	.published_time{
		margin-right: 12px;
		display: flex;
		align-items: center;
		i{
			font-size: 18px;
			margin-right: 3px;
		}
	}
}

@media(max-width: 768px){
	.selected_post_posts_count{
		svg{
			fill: black;
		}
	}
}


#selected_article_mobile{
	display: none;
	.article_wrapper{
		.overlay{
			.article_container{
				flex-direction: column;
			    justify-content: space-between;
				.featured_article_content{
					
					h2.featured_article_title{
						font-size: 30px;
					}
				}
				.featured_article_menu{
					a{
						display: inline-block;
						color: #ccc;
					    border: 1px solid #ccc;
					    padding: 8px 12px;
					    border-radius: 3px;
					    
					    &:hover{
					    	color: white;
					    	border: 1px solid white;
					    	background-color: rgba(255,255,255,.1);
					    }
					}
				}
			}
		}
	}
}

.mobile_posts_count.for_featured_article{
	display: none;
}
@media(max-width: 1080px){
	#featured_article, #selected_article_mobile{
		.article_wrapper{
			.overlay{
				
				.article_container{
					.featured_article_image_block{
						display: none;
					}
					.featured_article_content{
						margin-right: 0;
						h2.featured_article_title{
							font-size: 30px;
							text-align: center;
							span.featured_article_source{
							}
						}
						.featured_article_info{
							justify-content: center;
						}
						.best_post{
							.user_info{
								justify-content: center;
							}
							.best_post_content{
								margin: 0 auto;
   								text-align: center;
							}
						}
					}
					.featured_article_sidebar{
						display: none;
					}
				}
			}
		}
	}
}

@media(max-width: 768px){
	#featured_article, #selected_article_mobile{
		// display: none;
		flex-direction: row;
		.article_wrapper{
			max-height: none;
		    min-height: auto;
			.overlay{
				padding: 12px;
				padding-top: 120px;
				background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));
				.article_container{

					.featured_article_content{
						margin-bottom: 0;
						justify-content: flex-start;
						.best_post{
							display: none;
						}
						h2.featured_article_title{
							width: 100%;
							font-size: 18px;
							margin-right: 0;
							text-align: left;
							margin-bottom: 5px;
							a{
								color: white;
								text-shadow: 0 0 12px rgba(0,0,0,.8);
							}
						}
						.featured_article_info, .selected_article_info{
							justify-content: flex-start;
							align-items: flex-start;
							margin-bottom: 0;
							width: 100%;
							color: white;
							text-shadow: 0 0 12px rgba(0,0,0,.8);
							text-align: left;
							.featured_post_posts_count{
								margin-bottom: 5px;

								.post_number{
									background-color: rgba(0,0,0,0);
								}
							}
							.featured_article_source{
								display: none;
								&.for_mobile{
									display: inline;
							}
						}

						}
						a.show_article_link{
							display: none;
						}
					}
				}
				span.posts_count{
					justify-content: center;
				}
			}
		}
	}
	#selected_article_mobile{
		.article_wrapper{
			.overlay{
				
				.article_container{
					.featured_article_content{
						h2.featured_article_title{
							font-size: 20px;
						}
					}
					.featured_article_menu{
						margin-top: 20px;
						text-align: left;
						a{

						    &:hover{

						    }
						}
					}
				}
			}
		}
	}
	.mobile_posts_count.for_featured_article{
		display: flex;
	}
	.posts_count.for_featured_article{
		display: none;
	}
}

.read_article.on_mobile{
	@extend .mobile_btn;
}



#selected_article{
	display: flex;
	flex-direction: column-reverse;
	.article_image_for_mobile{
		height: 180px;
		background-size: cover;
		background-position: center;
		display: none;
		
	}
	.article_wrapper{
		background-size: cover;
		background-position: center;
		display: flex;
		box-shadow: 0 0 12px #aaa, 0 0 10px #aaa;
		.overlay{
			background-color: rgba(0, 5, 10, .8);
			padding: 20px;
			flex: 1;
			.article_container{
				max-width: 1080px;
				margin: 0 auto;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				// align-items: center;
				.image{
					height: 80px;
				    width: 80px;
				    background-size: cover;
				    background-position: center;
				    margin-right: 20px;
				    border-radius: 3px;
				}
			}
		}
	}
}

.article_title{
	flex: 1;	
	color: #eee;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	span.article_source{
		font-weight: normal;
		font-size: 14px;
	}
}
.selected_article_info{
	font-size: 14px;
	display: flex;
	font-weight: normal;
}
.article_menu{
	display: flex;
	flex-direction: column;
	margin-left: 20px;

}

.article_admin_menu{
	margin-left: 20px;
	input[type="submit"]{
		border-radius: 3px;
		border: #eee;
		margin-top: 8px;
		width: 100%;
	    background-color: grey;
   		color: white;
	}
}

@media(max-width: 768px){
	.article_admin_menu{
		margin: 12px 0px;
	}
}

.article_item, a.article_item{
	display: inline-block;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #eee;
    padding: 8px 30px;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    &:first-child{
    	margin-bottom: 8px;
    }
	&:hover{
		background-color: rgba(255, 255, 255, 0.2);
		color: white;
	}
	svg{
		width: 20px;
		height: 20px;
		margin-right: 8px;
		fill: #000;
		display: none;
	}
}


@media(max-width: 768px){
	#selected_article{
		flex-direction: column;
		margin-bottom: 12px;
		.article_image_for_mobile{
			display: block;
		}
		.article_wrapper{
			padding: 0;
			box-shadow: none;
			.overlay{
				background-color: white;
				padding: 8px 8px 20px;
				.article_container{
					flex-direction: column;
					// justify-content: space-between;
					// align-items: center;
					.image{
						display: none;
					}
				}
			}
		}
	}
	.article_title{
		flex: 1;	
		color: black;
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 12px;
		// line-height: 24px;

		.selected_article_info{
			// font-size: 12px;
		}
	}
	.article_menu{
		margin: 0;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.article_item, a.article_item{
		border: none;
	    // border-radius: 50px;
	    background-color: rgba(0,0,0,0.05);
	    color: $newsb_grey;
	    padding: 8px 12px;
	    width: 49%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 12px;
	    // font-weight: 600;
		&:hover{
			background-color: rgba(0,0,0,0.05);
			color: $newsb_grey;
		}
	    &:first-child{
    		margin-bottom: 0;
    	}
    	svg{
    		display: block;

    	}
    	
	}

}

