#featured_article{
	width: 100%;
	flex-direction: row;
	a{
		color: #e9e9e9;
		&:hover{
			color: white;
		}
	}
	.article_wrapper{
		min-height: 270px;
		max-height: 300px;
		background-size: cover;
		background-position: center;
		display: flex;
		.overlay{
			background-color: rgba(0, 5, 10, .8);
			padding: 20px;
			flex: 1;
			.article_container{
				max-width: 1170px;
				margin: 0 auto;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-around; 
				.featured_article_content{
					flex: 2;
					max-width: 768px;
					display: flex;
					flex-direction: column;
					.featured_article_bottom{
						flex: 1;
						display: flex;
						align-items: flex-end;
						.image{
							width: 200px;
							height: 100px;
							background-size: cover;
							background-position: center;
							margin-right: 20px;
						    display: flex;
						    .frame{
						    	flex: 1;
							    display: flex;
							    justify-content: flex-end;
							    align-items: flex-end;
						    	border: 1px solid #eee;
						    	transition: .2s;
						    	&:hover{
						    		background-color: rgba(255,255,255,.1);
						    		i{
						    			font-size: 15px;
						    		}
						    	}
						    	i{
						    		display: inline-block;
						    		border-top: 1px solid #eee;
						    		border-left: 1px solid #eee;
						    	 	background-color: white;
								    color: darkred;
								    width: 30px;
								    text-align: center;
								    line-height: 30px;
								    height: 30px;
    								
						    	}
						    }
						}
						.featured_article_options{
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							height: 100px;
							display: none;
							a{
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 8px 20px;
								margin-top: 10px;
    							background-color: rgba(255,255,255,.3);
    							&:hover{
    								background-color: rgba(255,255,255,.2);
    							}
    							i{
									margin-left: 12px;
								}
							}
						}
					}
					h2.featured_article_title{
						margin-right: 20px;
						font-size: 36px;
						color: #eee;
						font-weight: 900;
						span.featured_article_source{
							font-size: 14px;
							color: #eee;
						}
					}
				}
				span.posts_count{
					color: #eee;
					margin-bottom: 20px;
				}
				.best_posts{
					flex: 1;
					max-width: 300px;
					padding: 0;
					color: white;
					display: flex;
					flex-direction: column;
					overflow: scroll;
					overflow-x: hidden;
					.best_post_title{
						margin-bottom: 12px;
						padding-bottom: 5px;
						border-bottom: 1px solid #ccc;
					}
					.body{
						margin-bottom: 30px;
					}
					.user_block{
						margin-bottom: 12px;
						.user_credential{
							color: #eee;
							width: 270px;
						}
					}
					.best_post_content{
						color: #eee;
						font-size: 12px;
						line-height: 30px;
						.comment_large{
							
						}
					}
					.related_articles{
						ul li{
							margin-bottom: 20px;
							p{
								font-size: 12px;
								color: #ccc;
							}
						}
					}
				}
			}
		}
	}
}

#featured_article._compact{
	.article_wrapper{
		.overlay{
			.article_container{
				flex-direction: column;
			    justify-content: space-between;
				.featured_article_content{
					h2.featured_article_title{
						font-size: 30px;
					}
				}
				.featured_article_menu{
					a{
						display: inline-block;
						color: #ccc;
					    border: 1px solid #ccc;
					    padding: 8px 12px;
					    border-radius: 3px;
					    
					    &:hover{
					    	color: white;
					    	border: 1px solid white;
					    	background-color: rgba(255,255,255,.1);
					    }
					}
				}
			}
		}
	}
}

.mobile_posts_count.for_featured_article{
	display: none;
}
@media(max-width: 970px){
	#featured_article{
		.article_wrapper{
			.overlay{
				.article_container{
					.featured_article_content{
						.featured_article_bottom{
							.image{
								width: 100px;
								height: 100px;
							}
						}
						h2.featured_article_title{
							font-size: 34px;
							span.featured_article_source{
							}
						}
					}
					.best_post{
					}
				}
			}
		}
	}
}

@media(max-width: 768px){
	#featured_article{
		flex-direction: row;
		.article_wrapper{
			max-height: none;
		    min-height: auto;
			.overlay{
				padding: 40px 12px;
				.article_container{
					.featured_article_content{
						.featured_article_bottom{
							justify-content: center;
							.image{
								display: none;
							}
							.featured_article_options{
								display: flex;
								justify-content: center;
								a{
									margin: 30px auto 0;
									&.category_article_link{
										display: none;
									}
								}
							}
						}
						h2.featured_article_title{
							font-size: 24px;
							margin-right: 0;
							text-align: center;
							span.featured_article_source{
							}
						}
					}
					.best_posts{
						display: none;
					}
				}
				span.posts_count{
					justify-content: center;
				}
			}
		}
	}
	#featured_article._compact{
		.article_wrapper{
			.overlay{
				
				.article_container{
					.featured_article_content{
						h2.featured_article_title{
							font-size: 24px;
						}
					}
					.featured_article_menu{
						text-align: center;
						a{
							margin-top: 40px;
						    &:hover{

						    }
						}
					}
				}
			}
		}
	}
	.mobile_posts_count.for_featured_article{
		display: flex;
	}
	.posts_count.for_featured_article{
		display: none;
	}
}

.read_article.on_mobile{
	@extend .mobile_btn;
}
