#featured_article{
	width: 100%;
	flex-direction: row;
	.article_wrapper{
		height: 270px;
		background-size: cover;
		background-position: center;
		.overlay{
			background-color: rgba(0, 30, 60, .8);
			padding: 20px;
			height: 100%;
			.article_container{
				max-width: 1170px;
				margin: 0 auto;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-around; 
				.featured_article_content{
					flex: 2;
					max-width: 768px;
					display: flex;
					flex-direction: column;
					.featured_article_bottom{
						flex: 1;
						display: flex;
						align-items: flex-end;
						.stats{
							display: flex;
							align-items: center;
							color: white;
							font-size: 24px;
							p{
								margin-right: 20px;
								border: 4px double white;
    							padding: 0 12px;
								.counts{
								}
								span{
									font-size: 14px;
								}
							}
						}
					}
					h2.featured_article_title{
						margin-right: 20px;
						font-size: 40px;
						color: white;
						font-weight: 900;
						span.featured_article_source{
							font-size: 14px;
							color: #eee;
						}
					}
				}
				span.fake_news_report_count{
					color: #eee;
				}
				.best_post{
					flex: 1;
					max-width: 300px;
					padding: 0;
					color: white;
					display: flex;
					flex-direction: column;
					&:first-child{
					}
					.user_block{
						margin-bottom: 12px;
						.user_shoulder_name{
							color: #eee;
						}
					}
					.best_post_content{
						color: #eee;
						font-size: 12px;
						.comment_large{
							
						}
						.comment_small{
							display: none;
						}
					}
				}
			}
		}
	}
}

#featured_article._compact{
	.article_wrapper{
		.overlay{
			.article_container{
				flex-direction: column;
			    justify-content: space-between;
				.featured_article_content{
					h2.featured_article_title{
						font-size: 30px;
					}
				}
				.featured_article_menu{
					a{
						display: inline-block;
						color: #ccc;
					    border: 1px solid #ccc;
					    padding: 8px 12px;
					    margin-right: 12px;
					    border-radius: 3px;
					    &:hover{
					    	color: white;
					    	border: 1px solid white;
					    	background-color: rgba(255,255,255,.1);
					    }
					}
				}
			}
		}
	}
}

.mobile_posts_count.for_featured_article{
	display: none;
}
@media(max-width: 970px){
	#featured_article{
		.article_wrapper{
			.overlay{
				.article_container{
					.featured_article_content{
						.featured_article_bottom{
							.stats{
								p{
									.counts{
									}
									span{
									}
								}
								.genre{
									
								}
							}
						}
						h2.featured_article_title{
							font-size: 34px;
							span.featured_article_source{
							}
						}
					}
					.best_post{
					}
				}
			}
		}
	}
}

@media(max-width: 768px){
	#featured_article{
		flex-direction: row;
		.article_wrapper{
			.overlay{
				.article_container{
					.featured_article_content{
						.featured_article_bottom{
							.stats{
								
								p{
									border: none;
									padding: 0;
									.counts{
									}
									span{
									}
								}
								.genre{
									
								}
							}
						}
						h2.featured_article_title{
							font-size: 28px;
							span.featured_article_source{
							}
						}
					}
					.best_post{
						display: none;
					}
				}
			}
		}
	}
	#featured_article._compact{
		.article_wrapper{
			.overlay{
				padding: 20px 12px;
				.article_container{
					.featured_article_content{
						h2.featured_article_title{
						}
					}
					.featured_article_menu{
						
						text-align: center;
						a{
							width: 100%;
						    &:hover{

						    }
						}
					}
				}
			}
		}
	}
	.mobile_posts_count.for_featured_article{
		display: flex;
	}
	.posts_count.for_featured_article{
		display: none;
	}
}