

#post_form{
    .post_article{
        flex-direction: column;
        .post_image{
            height: 200px;
            background-size: cover;
            background-position: center;
        }
        .article_info{
            padding: 12px;
        }
    }
    .body{
        font-size: 14px;
        display: flex;
        flex-direction: column;
        .form_main{
            flex: 1;
            form{
                .textarea{
                    min-height: 80px;
                    border: 1px solid #bbb;
                    border-radius: 5px;    
                        
                    textarea{
                        background-color: rgba(0,0,0,0);
                        border: none; 
                        box-shadow: none; 
                        resize: none; 
                        padding: 12px 12px 0;
                    }
                }
                .form_label{
                    color: #696969;
                    margin-bottom: 10px;
                }
                .textarea_label{
                    border-bottom: 1px solid #f9f9f9;
                }
            }
            .select{
                select{
                    width: 180px;
                    border: 1px solid #bbb;
                }
                select::-webkit-input-placeholder{
                    color: red;
                }
                .tag_selection{
                    box-shadow: none;
                    text-align: center;
                }  
                   
            }
            .post_submit{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                
                .form_btn{
                    background-color: white;
                    color: #001E42;
                    border-radius: 5px;
                    border: 1px solid #bbb;
                    width: 15%;
                    padding: 5px;
                    transition: .2s;
                    &:hover{
                        background-color: #001E42;
                        color: white;
                    }
                }
                .cancel_btn, .clear_btn{
                    width: 15%;
                    text-align: center;
                    padding: 5px;
                    cursor: pointer;
                    transition: .2s;
                    &:hover{
                        opacity: .8;
                    }
                    
                }
            }
        }
    }
}

#post_form.on_modal{
    .post_article{
        flex-direction: row;
    }
}



#post_form.edit_form{
    .body{
        padding: 0;
        .form_main form{
            padding: 0;
            .textarea{
                margin-bottom: 12px;
            }
        }
    }
}


.comment_form.edit_form{
    .comment_submit{
        margin: 5px 0;
        input[type="submit"]{
            border-radius: 5px;
        }
    }
}



.post_url_form{
    margin: 0 0 12px;
    overflow: hidden;
    padding: 12px;
    background-color: #f3f3f3;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    .form_image{
        display: flex;
        align-items: center;
        width: 54px;
        height: 50px;
        padding-left: 20px;
        background-color: white;
        // border-radius: 50px 0 0 50px;
        img{
            display: inline-block;
            width: 30px;
            height: 30px;
        }
    }
    input:focus, button:focus{
        box-shadow: none;
        border-color: rgb(204, 204, 204);
    }
    .url_form_title{
        padding: 12px;
        background-color: #f6f7f9;
        font-size: 14px;
        color: #4b4f56;
        letter-spacing: 1px;
    }
    form{
        display: flex;
        input[type=url]{
            flex: 1;
            border: none;
            outline: none;
            box-shadow: none;
            height: 50px;
            padding: 25px 12px;
            font-size: 20px;
            // border-radius: 0 50px 50px 0;
        }
        
        button[type=submit]{
            width: 20px;
        }
    }
}

@media (max-width: 768px) {
	.post_url_form{
	    margin: 5px 0;
		border-radius: 0;
	}
}

#extra_info{
    width: 600px;
    padding: 50px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    color: #696969;
    font-size: 14px;
    display: flex;
    
    .profile_form_content{
        width: 100%;
        .form_title{
            display: flex;
            .community_icon{
                width: 30px;
                svg{
                    height: 30px;
                    width: 30px;
                }
            }
            h2{
                margin-left: 12px;
                flex: 1;
                font-size: 24px;
                color: #001E42;
                margin-bottom: 12px;
            }
        }
        p {
            margin-bottom: 12px;
        }
        .form_label{
            margin-bottom: 5px;
        }
        select, input, textarea{
            margin-bottom: 12px;
        }
    }
    
}

@media (max-width: 768px) {
	#extra_info{
        width: auto;
        padding: 20px 12px;
	}
}


@media (max-width: 600px) {
	#extra_info{
        width: auto;
        margin: 0;
        padding: 20px 12px 200px;
	}
}