

.btn_lg{
	padding: 10px 12px;
}

.error_block{
	min-height: 12px;
	.error_message{
		// padding: 0 12px;
		color: #8b0000;
		&:last-child{
			margin-bottom: 12px;
		}
	}
}

.dummy_layer{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
}


#login_error_message{
	color: red;
	margin: 12px 0;
	font-size: 14px;
}

button, input[type="submit"], input[type="button"]{
	padding: 5px 20px;
	width: auto;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
form.button_to, button{
	width: 100%;
}
form{
	div{
		position: relative;
		input[type="text"], input[type="password"], input[type="email"], textarea{
			width: 100%;
			border-radius: 3px;
			outline: 0px;
			border: 1px solid #bbb;
			padding: 8px;
			background-color: white;
			-webkit-appearance: none;
		}
		input[type="submit"]{
			border-radius: 3px;
			outline: 0px;
			border: 1px solid #bbb;
			padding: 5px 20px;
			background-color: white;
			-webkit-appearance: none;	
			&:hover{
				opacity: .95;
			}
		}

		.error_icon{
			position: absolute;
			top: 12px;
			right: 12px;
			font-size: 20px;
			color: darkred;
			display: none;
		}
		&.field_with_errors{
			input[type="text"], input[type="password"], input[type="submit"], input[type="email"]{
				border: 1px solid red;
			}
			& + .error_icon{
				display: inline-block;
			}
		}
		textarea.form-control{
			padding: 8px;
		}
	}
}

@media(max-width: 768px){
	form{
		padding: 0;
		div{
			input[type="submit"]{
				padding: 5px 12px;
			}
			input[type="text"], input[type="password"], input[type="email"], textarea{
				padding: 8px;
				font-size: 16px;
			}
		}
	}
}


.dummy_url_form{
	color: grey;
	flex: 1;
	cursor: text;
	height: 30px;
	border-bottom: 1px solid #eee;
}
.post_form{
	margin-bottom: 0;
	// border-bottom: 1px solid #eee;
	background-color: white;
	&[data-form="feed"]{
		margin-bottom: 12px;
	}
	.post_article{
		flex-direction: column;
		.post_image{
			height: 200px;
			background-size: cover;
			background-position: center;
		}
		.article_info{
			padding: 12px;
		}
	}
	.body{
		font-size: 16px;
		width: 100%;
		display: flex;
		flex-direction: column;
		border: none;

		.form_main{
			flex: 1;
			
			form{

				.form_check_group{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					color: #696969;
					margin-bottom: 8px;
					.title, .select{
						display: flex;
						align-items: center;
						font-size: 16px;
						margin-right: 20px;

					}
					.check{
						input{
							margin-right: 5px;
						}
					}
				}
				.form_label{
					color: #696969;
					margin-bottom: 10px;
				}
				.textarea_label{
					border-bottom: 1px solid #f9f9f9;
				}
			}
			.select{
				select{
					width: 180px;
					border: 1px solid #bbb;
				}
				select::-webkit-input-placeholder{
					color: red;
				}
				.tag_selection{
					box-shadow: none;
					text-align: center;
				}  
				   
			}
		}
	}
	.post_submit_menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 8px 0;
		font-size: 14px;
		.form_btn{
			background-color: white;
			color: $newsb_grey;
			border-radius: 3px;
			border: 1px solid #bbb;
			width: 90px;
			// margin-left: 5px;
			padding: 0;
			transition: .2s;
			line-height: 35px;
			&.disabled{
				color: #aaa;
				pointer-events: none;
			}
			&.post_save_btn{
				border: none;
				color: grey;
				&:hover{
					background-color: white;
					font-weight: 600;
					color: $newsb_grey;
				}
			}
			&.tag_user_btn, &.close_search_user_to_tag{
				margin-right: 8px;
			    height: 37px;
			    width: 40px;
			    span.opened, span.closed{
			   		margin-right: 8px;
				    display: flex;
				    position: relative;
				    flex: 1;
				    height: 100%;
				    width: 100%;
				    align-items: center;
				    justify-content: center;
				    span.tagged_user_counter_on_menu{
				    	display: none;
					    position: absolute;
					    background-color: $newsb;
					    color: white;
					    top: -5px;
					    right: -4px;
					    height: 20px;
					    width: 20px;
					    border-radius: 50%;
					    font-size: 12px;
					    line-height: 20px;
					    text-align: center;
				    }
			    }
			    span.opened{
			    	display: none;
			    }
			    svg{
			    	height: 20px;
			    	width: 20px;
			    }
			}
		}
		.draft_btn{
			background-color: white;
			color: #696969;
			width: 90px;
			padding: 5px 12px;
			transition: .2s;
			border: none;
			&:hover{
				color: $newsb_grey;
			}
		}
		.cancel_btn, .clear_btn{
			line-height: 25px;
			width: 90px;
			text-align: center;
			padding: 5px;
			cursor: pointer;
			transition: .2s;
			&:hover{
				opacity: .8;
			}
			
		}
	}
}

@media(min-width: 768px){
	.post_submit_menu{
		.form_btn{
			&:hover{
				background-color: $newsb_grey;
				color: white;
			}
			&.tag_user_btn, &.close_search_user_to_tag{
			    &:hover{
			    	svg{
			    		fill: white;
			    	}
			    }
			}
		}
	}
}


.textarea_wrapper{
	position: relative;
	
	margin: 0;
	padding: 0;
	.textarea_block{
			display: flex;
			border: 1px solid grey;
			padding: 0;
			min-height: 80px;
			cursor: text;
			border-radius: 3px;
			&.large{
				height: 250px;
			}
		textarea{
			border: none;
			box-shadow: none;
			flex: 1;
			resize: none; 
			font-size: 16px;
			&.large{
				max-height: 230px;
			}
			&:focus{
				border: none;
				box-shadow: none;
				outline: none;
			}
		}
	}
	.user_search_block{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
 	    margin: 5px;
 	    padding: 8px;
		display: none;
		flex-direction: column;
		input.user_search_by_name{
			padding: 8px 10px;
			border-radius: 3px;
		    border: none;
		    background-color: #eee;
		    margin-bottom: 5px;
		}
		.error_message, .no_followers{
			color: indianred;
			border-radius: 3px;
			margin: 5px;
			font-size: 14px;
			display: none;
		}
		.no_followers{
			color: grey;
			display: block;
		}
		.user_list_section{
			overflow-y: scroll;
 		    overflow-x: hidden;
		}
		.user_list, .selected_user_list{
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		span.selected_user_title{
			display: none;
			font-size: 12px;
		    font-weight: 600;
		    padding: 12px 5px 0;
		    color: $newsb;
		}
		span.loading_icon{
			display: none;
			height: 120px;
			width: 100%;
			line-height: 120px;
			text-align: center;
			font-size: 30px;
		}
		.tagged_user_reset_btn{
		    position: absolute;
		    bottom: 8px;
		    right: 8px;
		    background-color: #eee;
		    padding: 8px 12px;
		    color: white;
		    border-radius: 3px;
		    font-size: 14px;
		    span{
			    margin-right: 0px;
			    padding: 0px 7px;
			    display: inline-block;
			    text-align: center;
			    color: #eee;
			    background-color: white;
		    }
		    &.on{
		    	background-color: $newsb;
		    	color: white;
		    	cursor: pointer;
		    	span{
		    		color: $newsb;
		    	}
		    	
		    }
		}
	}
}
.textarea_error_message{
	display: none;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 12px;
    background-color: rgba(indianred, .8);
    color: white;
}

@media(max-width: 768px){
	.textarea_error_message{
		font-size: 14px;
	}
}



.sns_post_form_menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: grey;
	>span{
		margin-right: 12px;
	}
	.sns_block_small{
		display: flex;
		align-items: center;
		.sns_connect_btn{
			border-radius: 3px;
			width: 35px;
			height: 35px;
			margin-right: 8px;
			font-size: 16px;
			border: 1px solid #aaa;
			display: flex;
			padding: 0;
			position: relative;
			align-items: center;
			justify-content: center;
			&.locked, &.share{
				color: grey; 

			}
			&.unshare{
				color: white;
				&:hover{
					opacity: .8;
				}
			}
			&.facebook.unshare{
				background-color: $facebook;
			}
			&.twitter.unshare{
				background-color: $twitter;
			}
			span{
				display: flex;
			    align-items: center;
			    justify-content: center;
			    position: absolute;
				width: 20px;
			    height: 20px;
			    top: -8px;
			    right: -8px;
			    border-radius: 50%;
			    text-align: center;
			    font-size: 14px;
			    background-color: rgba(0,0,0,.3);
			    color: white;
			}
		}
	}
}
@media(min-width: 768px){
	#sns_post_form_menu{
		.sns_block_small{
			.sns_connect_btn{
				&.locked, &.share{
				}
				&.unshare{
					&:hover{
					}
				}
				span{
				}
				&.facebook.connect:hover, &.facebook.share:hover{
					background-color: $facebook;
					color: white;
					border: none;
				}
				&.twitter.connect:hover, &.twitter.share:hover{
					background-color: $twitter;
					color: white;
					border: none;
				}                            
				&.facebook.locked:hover{
					border: 1px solid $facebook;
					span{
						background-color: $facebook;
					}
				}
				&.twitter.locked:hover{
					border: 1px solid $twitter;
					span{
						background-color: $twitter;
					}
				}                         
			}
		}
	}	
}

.post_form_requirement{

    margin-bottom: 8px;
	line-height: 20px;
	color: #696969;
	text-align: left;
	h2{
		font-size: 20px;
		margin-bottom: 12px;
	}
	ul{
		list-style: disc;
		li{
   			font-size: 12px;
		}
	}
	// we may never use the following 
	.post_form_icon{
		display: none;
		align-items: center;
		justify-content: center;
		height: 160px;
		background-color: #f9f9f9;
		margin: 20px 0;
		svg{
			height: 100px;
			
		}
	}
}

@media(max-width: 768px){
	.post_form_requirement{
		padding: 0 8px;
	}
}


.form_show.on_mobile{
	@extend .mobile_btn;
	height: auto;
	display: none;
}

@media (max-width: 768px) {
	.post_form {
		.body{
			padding: 0;
			.form_main{ 
				form{
					.form_check_group{
						display: block;
						margin-bottom: 0;
						.title{
							display: none;
						}
						.select{
							margin-bottom: 0;
							margin: 8px 5px 0;
							
							select{
								width: 100%;
								font-size: 16px;
							}
						}
					}
					hr{
						display: block;
						border-width: 1px 0 0 0; /* 太さ */
						border-style: solid; /* 種類 */
						border-color: #eee; /* 色 */
						padding: 0;
						margin: 0;
					}
					.article_title{
						width: 80%;
						p{
							margin: 5px 0 12px;
						}
					}

					.check{
						
					}
				}
				form{
				}
				.post_submit_menu{
					margin: 8px;
					
				}
			}
		}
	}
	.textarea_wrapper{
		margin: 0;
		
		.textarea_block{
			padding: 0;
			border: none;
			textarea{
				padding: 20px 8px 5px;  
			}
		}
	}
}
				
.post_form_block{
	&.loading{


	}
	.parse_failure_message{

		color: darkred;
		font-size: 20px;
	}
}

.post_form.on_modal{
	.post_article{
		flex-direction: row;
	}
}




// .post_form.edit_form{
// 	.body{
// 		padding: 0;
// 		margin-bottom: 20px;
// 		.form_main form{
// 			padding: 0;
// 			.textarea{
// 				font-size: 16px;
// 				height: 54px;
// 			}
// 		}
// 	}
// }


// .comment_form.edit_form{
// 	padding: 5px 0;
// 	.comment_submit{
// 		display: flex;
// 		margin: 5px 0;
// 		input[type="submit"]{
// 			border-radius: 3px;
// 		}
// 	}
// }


.textarea_form{
	padding: 0;
	.textarea_block{
		display: flex;
		border: 1px solid #bbb;
    	border-radius: 3px;
    	height: 200px;
    	max-height: 200px;
    	margin-bottom: 12px;
		img{
			margin-right: 10px;
			width: 30px;
			height: 30px;
		}
		textarea{
			flex: 1;
			border: none;
    		resize: none;
    		overflow: scroll;
    		height: 190px;
    		max-height: 190px;
			font-size: 16px;
		}
	}
	.textarea_block.edit{
		margin: 0;
	}
	.textarea_submit_menu{

		color: grey;
		display: flex;
		align-items: center;
		input[type="submit"]{
			background-color: rgba(0,0,0,0);
			border: 1px solid #bbb;
			&:hover{
				color: rgb(54, 88, 155);
				border: 1px solid rgb(54, 88, 155);
			}
		}
		.submit_btn{
			margin-right: 8px;
			cursor: pointer;
		}
	}
}
@media(max-width: 768px){
    .textarea_form{
        padding: 0;
        .textarea_block{
        	border: none;
        	padding: 5px 0;
        }
    }
    .textarea_submit_menu{
    	padding: 12px 8px;
    	
    }
}


.post_url_form{
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ddd;
    border-radius: 3px;
	background-color: white;
	position: relative;
	.load_url_btn{
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	    border-radius: 50%;
	    background-color: #eee;
	    margin-right: 8px;
	    span{
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	width: 40px;
	    	height: 40px;
	    	line-height: 40px;
	    	text-align: center;
	    }
		.loading_icon{
			display: none;
			font-size: 20px;
			padding-left: 5px;
		}
		svg{
			width: 20px;
			height: 20px;
		}
		
	}
	&.on_feed{
		border: 0;
  		border-radius: 0;
  		font-weight: 600;
	}
	span.show_post_modal_btn{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		&.for_mobile{
			display: none;
		}
	}
	input:focus, button:focus{
		box-shadow: none;
		border-color: rgb(204, 204, 204);
	}
	.url_form_title{
		padding: 12px;
		background-color: #f6f7f9;
		font-size: 14px;
		color: #4b4f56;
		letter-spacing: 1px;
	}
	.url_form_title_on_feed{
		margin-bottom: 12px;
	}
	form{
		display: flex;
		flex-direction: column;
		i{
			margin-right: 5px;
		}
		.form_row{
			display: flex;
			align-items: flex-end;
		}
		input[type=url]{
		    flex: 1;
		    border: none;
		    outline: none;
		    box-shadow: none;
		    height: 40px;
		    font-size: 20px;
		}
		
		button[type=submit]{
			width: 20px;
		}
	}
}

@media (max-width: 768px) {
	.post_url_form{
	   // display: none;
	   margin: 12px 0 0;
	   padding: 12px 8px;
	   border: none;
	   border-radius: 0;
	   border-bottom: 1px solid #eee;
	   .load_url_btn{
	   	margin-right: 8px;
	   }
		&.on_modal, &.for_mobile{
			display: block;
			margin: 0 0 12px;
		}
		
		span.show_post_modal_btn{
			&.on_feed{
				display: none;
			}
			&.for_mobile{
				display: block;
			}
		}
		form input[type=url]{
			font-size: 16px;
		}
	}
	
}

#extra_info_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	overflow: scroll;
	display: flex;
	align-items: center;
	justify-content: center;
}

#extra_info{
	min-width: 600px;
	padding: 50px;
	margin-bottom: 100px;
	background-color: white;
	border-radius: 3px;
	color: #696969;
	font-size: 16px;
	display: flex;
	.form_menu{
		display: flex;
  		justify-content: space-between;
  		align-items: flex-start;
  		margin-bottom: 40px;
  		h2{
			flex: 1;
			font-size: 50px;
			font-weight: 600;
			color: $newsb_grey;
			line-height: 20px;
			flex-direction: column;
			span{
				font-size: 14px;
				color: #696969;
			}
		}
	}
	.profile_form_content{
		width: 100%;
		.form_title{
			display: flex;
			.community_icon{
				width: 30px;
				svg{
					height: 30px;
					width: 30px;
				}
			}
		}
		p {
			margin-bottom: 12px;
		}
		.form_label{
			margin-bottom: 5px;
		}
		select, input, textarea{

			font-size: 16px;
		}
		input[type="submit"]{
			margin-bottom: 0;
			margin-right: 20px;
		}
		select{
			width: 150px;
		}
	}
	.submit_btn_group{
		input{
			display: inline-block;
		    flex: none;
		    height: 35px;
		    background-color: $newsb;
		    opacity: .8;
		    border: none;
		    color: white;
		    &:hover{
		    	opacity: 1.0;
		    }
		}
		display: flex;
		&.mobile{
			margin-top: 20px;
			display: none;
			input{
				padding: 8px 40px;
			}
		}
	}
}
#extra_info.mobile{
	display: none;
}

@media (max-width: 768px) {
	#extra_info_wrapper{
		display: none;
	}
	.mobile_overlay{
		height: 180px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-position: center;
	    background-size: cover;
	    
	}
	#extra_info.mobile{
		display: block;
		min-width: auto;
		flex: 1;
		width: auto;
		margin: 0;
		background-color: rgba(0,0,0,0);
		border-radius: 0;
		padding: 20px;
		.form_menu{
			margin-bottom: 30px;
		    height: 150px;
		    align-items: center;
			h2{
				color: $newsb;
				span{
					color: $newsb;
				}
			}
			
		}
		.setting_block{
			justify-content: space-between;
			margin-bottom: 0;
			.title{
				color: black;
			}
		}
		.submit_btn_group{
			display: none;
			&.mobile{
				display: flex;
			}
			input{
				background-color: black;
			}
		}
	}
}


.forgot_password_wrapper{
	margin: 0 auto;
	.forgot_password_section{
		padding: 0 12px;
		margin-top: 80px;
		text-align: center;
		h1.logo{
			font-family: 'Nova Flat', cursive;
			font-size: 45px;
			margin-bottom: 20px;
			justify-content: center;
			color: #eee;
		}
		h2{
			font-size: 20px;
			margin-bottom: 20px;
			color: #eee;
		}
		p{
			text-align: left;
			margin-bottom: 40px;
			font-size: 16px;
			color: #eee;
		}
		form{
			color: #ccc;
			text-align: left;
			input{
				margin-bottom: 12px;
				color: grey;
			}
			input[type=submit]{
				background-color: $newsb_grey;
				border: none;
				color: #eee; 
			}
			#change_password_btn{
				padding: 12px;     
				margin-top: 12px;
			}
			.email{
				display: flex;
				margin-bottom: 20px;
				input[type=submit]{
					width: 100px;
					margin-left: 5px;
					padding: 8px 12px;
				}
			}
			ul{
				padding: 12px;
				font-size: 16px;
				i{
					color: pink;
				}
			}
		}
	}
}

@media(max-width: 768px){
	.forgot_password_wrapper{
		.forgot_password_section{
			margin-top: 60px;
		}
	}
}