.icon{
	display: flex;
	align-items: center;
	margin-right: 20px;
	svg{
		fill: #ccc;
		width: 20px;
		height: 20px;
		&:hover{
			fill: white;
		}
	}
	
}

header{
	position: relative;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	background-color: #1D3148;
	color: white;
	z-index: 200;
	.header_container{
		display: flex;
		max-width: 1000px;
		margin: 0 auto;
		
		// header left start 
		.left{
			margin-right: 20px;
			display: flex;
	    	align-items: center;
    		#logo{
				display: flex;
		    	align-items: center;  
			}
		}
		.middle, .right{
			display: flex;
			align-items: center;
		}
		
		
		// header middle start
		.middle{
			flex: 1;
			display: flex;
			justfify-content: center;
			align-content: center;
			.search_bar{
				flex: 1;
				position: relative;
				display: inline-block;
				form{
					display: flex;
				}
				.form_icon{
					position: absolute;
					z-index: 22;
					top: 7px;
					left: 10px;
					font-size: 16px;
					color: grey;
					float: left;
				}
				input {
					z-index: 1;
					width: 95%;
					height: 30px;
					line-height: 25px;
					border-radius: 5px;
					background-color: #1D3148;
					border: 1px solid grey;
					padding: 0 0 0 35px;
					font-size: 14px;
					color: white;
				}
				input:hover, input:focus {
	                border: 1px solid white;
				}
				input:hover + i, input:focus + i {
	                color: white;
				}
			}
		}
		
		// header right start
		.right{
    		justify-content: flex-end;
		}
		.login_icon{
			width: 30px;
			height: 30px;
			svg{
				fill: #eee;
			}
			&:hover svg{
				fill: white;
			}
		}
	}
}

#mobile_header{
    position: relative;
	height: 40px;
	background-color: #001E42;
	color: white;
	display: flex;
	align-items: center;
	#menu_icon, #profile_icon{
        font-size: 25px;
        display: flex;
        width: 30px;
        height: 30px;
        margin: 0 12px;
        line-height: 30px;
        color: white;
        cursor: pointer;
        justify-content: center;
        align-items: center;
		i{
		    flex: 1;
		    color: white;
		    text-align: center;
		}
		img{
		    width: 30px;
		    height: 30px;
		    border-radius: 5px;
		}
	}

	.search_bar{
	    flex: 1;
	    position: relative;
		.form_icon{
			position: absolute;
			z-index: 22;
			top: 6px;
			left: 10px;
			font-size: 16px;
			color: grey;
			float: left;
		}
		#search{
			input {
				z-index: 1;
				width: 100%;
				height: 30px;
				border-radius: 5px;
				background-color: #1D3148;
				padding: 0 0 0 35px;
				border: none;
				font-size: 14px;
				color: white;
			}
		}
	}
	.login_icon{
		svg{
		    background-color: #001E42;
		    fill: white;
		    width: 25px;
		    margin: 0 12px;
		    padding-top: 5px;
		}
	}
}

#header_nav{
	height: 35px;
	background-color: #001E42;
	box-shadow: 0 0 2px #666, 0 0 8px #222;
	overflow: hidden;
	z-index: 100;
	
	.nav_container{
		margin: 0 auto;
		display: flex;
		-webkit-justify-content: space-between; /* Safari */
		justify-content:         space-between;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		padding-bottom: 50px;
		a {
			flex: 1;
			line-height: 45px;
			margin-right: 20px;
			letter-spacing: 1px;
			color: #bbb;
			display: inline-block;
			text-align: center;
			font-size: 12px;
			text-decoration: none;
			&:hover{
				color: white;
			}
		}
		a.active{
			color: white;
    		font-size: 20px;
    		line-height: 40px;
    		pointer-events: none;
		}
		a .feed_icon{
			color: #DC143C;
			
		}
		span.padding{
			display: inline-block;
			width: 50px;
		}
	}
}



#mobile_header{
	display: none;
	z-index: 200;
}

@media (max-width: 768px) { 
	#mobile_header{
		display: flex;
	}
}