.icon{
	display: flex;
	align-items: center;
	margin-right: 12px;
	cursor: pointer;
	svg{
		fill: white;
	    width: 30px;
	    height: 30px;
	    padding: 7px;
	    background-color: $newsb_grey;
	    border-radius: 50%;
	    transition: .1s;
	}
	&:hover svg{
		padding: 6px;
	}
}

.icon.mobile_icon{
	margin: 0;
	svg{
		background-color: rgba(0,0,0,0);
		fill: $newsb_grey;
		padding: 0;
		border-radius: 0;
		height: 20px;
	}
	&:hover svg{
		padding: 0;
	}
	.user_image_xs{
		align-items: center;
	}
	img{
		margin-right: 0;
	}
	&.login_signup_link{
		svg{
			fill: #bbb;
		}
	}
}



a.logo{
	display: inline-block;
	color: $newsb_grey;
	// background-color: $newsb;
	font-family: 'Knewave', cursive;
	// font-family: 'Titan One', cursive;
	font-family: 'Mogra', cursive;
	font-family: 'Supermercado One', cursive;
	// font-family: 'Modak', cursive;
	// font-family: 'Chela One', cursive;
	// font-family: 'Permanent Marker', cursive;
	// font-family: 'Gochi Hand', cursive;

    padding: 12px;
    font-size: 36px;
    font-weight: 900;
	svg{
		width: 35px;
		height: 35px;
		fill: $newsb_grey;
		margin-right: 5px;
	}
}


header{
	position: relative;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	background-color: white;
	z-index: 200;
	.header_container{
		display: flex;
		margin: 0 auto;
		max-width: 1080px;
		// header left start 
		.left{
			position: relative;
			display: flex;
	    	align-items: center;
	    	span{
	    		display: inline-block;
	    		height: 16px;
	    		position: absolute;
	    		top: 0;
	    		left: 150px;
	    		background-color: $newsb_grey;
	    		color: white;
	    		border-radius: 30px;
	    	}
		}
		.middle, .right{
			display: flex;
			align-items: center;

		}
		
		
		// header middle start
		.middle{
			flex: 1;
			display: flex;
			justfify-content: center;
			align-content: center;
		}
		
		// header right start
		.right{
    		justify-content: flex-end;
    		position: relative;
    		#create_post_btn_circle{
			    color: white;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    height: 30px;
			    width: 30px;
			    background-color: $newsb_grey;
			    border-radius: 50%;
			    cursor: pointer;
			    padding: 12px;
   				 font-size: 20px;
			    &:hover{
			    	opacity: .9;
			    }
    		}
		}
		a.icon:last-child{
			margin-right: 0;
		}
		.login_icon{
			width: 30px;
			height: 30px;
			svg{
				fill: #eee;
			}
			&:hover svg{
				fill: white;
			}
		}
	    .login_signup_link{
			color: #696969;
		    border: 1px solid #696969;
		    border-radius: 30px;
		    height: 30px;
		    line-height: 30px;
		    padding: 0 12px;
		    cursor: pointer;
		    &:hover{
		    	border: 1px solid $newsb_grey;
		    	color: $newsb_grey;
		    }
		    &.header_btn{
		    	margin-right: 12px;
		    	font-size: 14px;
		    }
		}
	}
}
.notification_icon{
	position: relative;
	.notifications_count{
	    display: inline-block;
	    position: absolute;
	    width: 15px;
	    height: 15px;
	    font-size: 10px;
	    line-height: 15px;
	    background-color: $newsb;
	    color: white;
	    border-radius: 12px;
	    text-align: center;
	    top: -5px;
	    left: -5px;
	}
}
.search_bar{
	flex: 1;
	position: relative;
	display: inline-block;
	max-width: 400px;
	form{
		
		display: flex;
		align-items: center;
		margin-right: 20px;
		
		&:hover{
			button[type="submit"]{

			}
			input{
				border: 1px solid $newsb_grey;
			}
		}
	}
	button[type="submit"]{
		position: absolute;
		right: 20px;
		z-index: 10;
		background-color: rgba(0,0,0,0);
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0);
		height: 30px;
	    width: 40px;
		display: flex;
	    align-items: center;
	    justify-content: center;
		&:hover{
			.form_icon{
				color: $newsb_grey;
				
			}
		}
	}
	// for ddm menu
	&.menu_option{
		max-width: none;
		form{
			flex: 1;
			margin: 12px;
			input{
				height: 40px;
				font-size: 16px;
			}
			button[type="submit"]{
				background-color: #eee;
			}
		}
	}
	.form_icon{
		font-size: 16px;
		color: grey;
	}
	input {
		z-index: 1;
		width: 100%;
		height: 30px;
		line-height: 25px;
		border-radius: 3px;
		background-color: rgba(0,0,0,0);
		font-size: 14px;
		border: 1px solid #bbb;
		padding: 0 50px 0 8px;
		-webkit-appearance: none;

	}
	input:hover, input:focus {
        border: 1px solid $newsb_grey;
	}
	input:hover + i, input:focus + i {
        color: $newsb_grey;
	}
}


#locale_link{
    display: flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
	.setting{
		color: #696969;
	    margin-left: 5px;
	    line-height: 12px;
	    text-align: left;
	    font-size: 10px;
	}
	.setting_icon{
		display: flex;
   		align-items: center;
		svg{
			fill: #696969;
			width: 20px;
		}	
	}
    &:hover .setting, &:hover svg{
    	color: $newsb_grey;
    	fill: $newsb_grey;
    }
}




.mobile_top_btn_block{
	display: none;
	height: 50px;
	width: 50px;
	background-color: orange;
	align-items: center;
	justify-content: center;
	padding: 3px;
	a.top_btn_mobile{
		display: flex;
		align-items: center;
		justify-content: center;
	    height: 40px;
	    width: 40px;
		border-radius: 3px;
		background-color: $newsb;
		color: white;
		font-family: 'Mogra', cursive;
		font-family: 'Supermercado One', cursive;
		// font-family: 'Permanent Marker', cursive;
		// font-family: 'Gochi Hand', cursive;
		ont-weight: 900;
		font-size: 28px;
		&.active{
			background-color: white;
			color: $newsb;
		}
		span{
			// margin-top: 5px;
		}
	}

}



#header_nav{
	height: 40px;
	background-color: rgba(0,0,0, 0.9);
	// box-shadow: 0 0 2px #666, 0 0 8px #222;
	z-index: 100;
	.header_nav_wrapper{
		position: relative;
		height: 100%;
		overflow-y: hidden;
		display: flex;
	}
	.nav_container{
		max-width: 1100px;
		flex: 1;
		margin: 0 auto;
		padding-left: 16px;
		position: relative;
		display: flex;
		-webkit-justify-content: space-between; /* Safari */
		justify-content:         space-between;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		padding-bottom: 60px;

		a {
			flex: 1;
		    line-height: 25px;
		    padding: 0 8px;
		    margin: 8px 5px;
		    letter-spacing: 1px;
		    height: 25px;
		    border-radius: 98px;
		    display: inline-block;
		    text-align: center;
		    font-size: 12px;
		    font-weight: 900;
		    color: white;
			&:hover{
				color: $newsb;

			}
			&.feed_btn{
				// display: none;
			}
		}

		a.active{
		    color: $newsb;
		    font-weight: 900;
		    pointer-events: none;
		    // background-color: $newsb;
		}
		a.active.top_btn{
			pointer-events: auto;
		}
		a .feed_icon{
			color: #6495ED;
		}
		span.padding{
			display: inline-block;
			width: 50px;
		}
	}
}
.feed_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	span.feed_notifications_count{
		display: inline-block;
		width: auto;
		height: 18px;
		border-radius: 20px;
		color: #newsb;
		font-size: 10px;
		line-height: 18px;
	}
	&.active{
		span.feed_notifications_count{
			color: white;
		}
	}
}




@media (max-width: 768px) { 
	header{
		display: none;
	}
	#header_nav{
		background-color: rgba($newsb, .95);
		height: 50px;
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		.header_nav_wrapper{
			position: static;

		}
		.nav_container{
			padding-left: 0;
			position: relative;
			.top_btn{
				display: none;
				&.mobile{
					display: inline-block;
				}
			}
			a{
				margin: 12px 0;
				padding: 0 8px;
				height: 25px;
				line-height: 25px;
				color: white;
				&.active{
					background-color: white;
					color: $newsb;
					font-weight: 900;
				}
				&:hover{
					background-color: rgba(0,0,0,0);
					color: white;
					font-weight: 900;
				}
				&.feed_btn{
					display: none;
				}
			}
			
		}
	}
	.mobile_top_btn_block{
		display: flex;
	}

	.icon{
		margin-right: 0;
		svg{
			fill: $newsb_grey;
			height: 25px;
			width: 25px;
			&:hover{
				fill: $newsb_grey;	
			}
		}
		span{
		    display: flex;
		    align-items: center;
		    width: 30px;
		}
	}
}

.notice_bar, .alert_bar{
	cursor: pointer;
    position: absolute;
    min-height: 40px;
   	top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    font-size: 14px;
    z-index: 1000;
    transition: .3s;
    display: flex;
    align-items: center;
    .notification_bar_wrapper{
    	display: flex;
    	flex: 1;
        align-items: center;
    	justify-content: space-between;
    	position: relative;
    	max-width: 1080px;
    	margin: 0 auto;
    	padding: 8px 20px;
    }
    svg{
    	width: 16px;
    	height: 16px;
    	fill: white;
    	cursor: pointer;
    }

}
.notice_bar{
	background-color: $newsb;
}
.alert_bar{
	background-color: indianred;
}

.notice_bar.for_js, .alert_bar.for_js{
	display: none;
}
.alert_bar.for_js{
	// display: block;
}

@media(max-width: 768px){
	.notice_bar, .alert_bar{
	   	top: 50px;
	   	.notification_bar_wrapper{
			padding: 8px;
		}
	}
	.notice_bar{
		background-color: cornflowerblue;
	}
}






#mobile_locale_link{
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#mobile_locale_link svg{
	fill: $newsb_grey;
	width: 22px;
}

#mobile_profile_option_link{

    cursor: pointer;
}


#profile_option_link{
	margin-right: 12px;
	color: grey;
    height: 35px;
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    padding-right: 12px;
	&:hover{
		color: $newsb_grey;
	}
	.header_user_name{
		margin-right: 8px;	
	}
}

@media(max-width: 768px){
	#profile_option_link{
		.header_user_name{
			display: none;
		}
		i{
			display: none;
		}
	}	
}



#notification_icon{
	position: relative;
	cursor: pointer;
	.notifications_count{
	    display: inline-block;
	    position: absolute;
	    width: 15px;
	    height: 15px;
	    font-size: 10px;
	    line-height: 15px;
	    background-color: #newsb;
	    color: white;
	    border-radius: 12px;
	    text-align: center;
	    top: 5px;
	    left: 13px;
	}
	.notification_fire{
		position: absolute;
   		width: 17px;
		height: 17px;
		top: -20px;
		left: 7px;
		svg{
			width: 17px;
			height: 17px;
		}
	}
}
