.new-post-form{
    min-height: 500px;
    background-image: url("/coverphoto3.jpg");
    background-size: cover;
    background-position: center;
}


.url-form{
    margin-top: 200px;
}

.white-over-lay{
    background-color: rgba(250,250,250,0.5);
    height: 100%;
}

// .article_image{
//     max-width: 170px;
//     border-radius: 5px;
// }

.loaded-news{
    padding: 50px 0;
}