// for extend

.mobile_btn{
    display: none;
    padding: 12px 20px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #eee;
    flex: 1;
    &:hover, &:active{
        background-color: #f9f9f9;
    }
    justify-content: space-between;
    align-items: center;
    span.content{
        flex: 1;
    }
    span.mobile_btn_icon{
        text-align: center;
        width: 20px;
        font-size: 16px;
    }
}
@media(max-width: 768px){
	.mobile_btn{
		display: flex;
		flex: none;
	}
}



.svg_icon{
    svg{
        width: 16px;
        height: 16px;
    }
}