

#mobile_header{
	padding: 0 5px;
    position: relative;
	height: 50px;
	background-color: $newsb;
	color: $newsb_grey;
	display: none;
	z-index: 200;
	display: none;
	align-items: center;
	justify-content: space-between;
	.mobile_header_left{
	    .search_bar{
    	    width: 30px;
    	    position: relative;
    	    cursor: pointer;
    		.form_icon{
    			position: absolute;
    			z-index: 22;
    			top: 5px;
    			left: 5px;
    			font-size: 16px;
    			color: $newsb_grey;
    			background-color: rgba(0,0,0,0);
    			display: flex;
    			align-items: center;
    			justify-content: center;
    			svg{
    				width: 20px;
    				fill: white;
    			}
    			.fa-search{ 
    				color: white;
    			}
    		}
    		.search{
    			input {
    				color: white;
    			    z-index: 1;
    			    width: 80%;
    			    height: 30px;
    			    border-radius: 3px;
    			    padding: 0 0 0 50px;
    			    border: none;
    			    font-size: 20px;
    			    background-color: rgba(0,0,0,0);
    			}
    		}
    	}  
	}
	.mobile_header_middle{
	    display: flex;
	    flex: 1;
	    align-items: center;
	    justify-content: center;
	    a.mobile_logo{
	        display: block;
        	color: white;
        	text-align: center;
        	padding-left: 8px;
        	line-height: 50px;
        	font-size: 26px;
			font-family: 'Knewave', cursive;
        	svg{
        		width: 30px;
        		height: 30px;
        	}
        }

	}
	.mobile_header_right{
	    .close_search_bar{
    		display: none;
    		cursor: pointer;
    		svg{
    			width: 16px;
    			height: 16px;
    			margin-right: 12px;
    			fill: white;
    		}
    	}
    	.login_icon{
    		svg{
    		    fill: white;
    		    width: 25px;
    		    padding-top: 5px;
    		}
    	}
    	.menu_icon, .profile_icon{
            font-size: 25px;
            display: flex;
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: $newsb_grey;
            cursor: pointer;
            justify-content: center;
            align-items: center;
    		i{
    		    flex: 1;
    		    color: $newsb_grey;
    		    text-align: center;
    		}
    		img{
    		    width: 30px;
    		    height: 30px;
    		    border-radius: 30px;
    		}
    	}
	}
	.account{
		width: 35px;
		svg{
			fill: white;
		}
	}
}

#mobile_footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	height: 45px;
	display: none;
	z-index: 10000;
}

.mobile_notification_icon{
	position: relative;
	.notifications_count{
	    display: inline-block;
	    position: absolute;
	    width: 15px;
	    height: 15px;
	    font-size: 10px;
	    line-height: 15px;
	    background-color: indianred;
	    color: white;
	    border-radius: 12px;
	    text-align: center;
		top: 5px;
  	    left: -3px;
	}
}


#mobile_header{
    .mobile_ddm_header_wrapper{
        display: none;
    }
}


@media (max-width: 768px) { 
	#mobile_header{
		// display: flex;
	}
	#mobile_footer{
		display: flex;
		justify-content: space-around;
		border-top: 1px solid #eee;
		padding: 0 5px;
	}
}
