



.show_post_modal_btn{
    background-color: $newsb;
    padding: 8px 12px;
    border-radius: 3px;
    color: #eee;
    cursor: pointer;
    opacity: .9;
    &:hover{
    	opacity: 1;
    }
	&.on_header{
		display: inline-block;
	}
	&.for_mobile{
		display: none;
	}
}

@media(max-width: 768px){
	.show_post_modal_btn{

		&.on_header{
			display: none;
		}
		&.for_mobile{
			display: inline-block;
		}
	}	
}



.lines-on-sides {
	display: table;
	text-align: center;
	white-space: nowrap;
 
	&:after,
	&:before {
		content: '';
		display: table-cell;
		width: 50%;
		background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 2px), transparent calc(50% + 2px));
		background-clip: padding;
	}
 
	&:after {
		border-left: 2em solid white;;
	}
 
	&:before {
		border-right: 2em solid white;;
	}
}

.login_signup_link{
	cursor: pointer;
}
.email_signup_link{
	color: $newsb;
	border-bottom: 1px solid $newsb;
	cursor: pointer;
}
#cancel_email_signup_link{
	display: inline-block;
	padding: 8px 20px;
	width: auto;
	margin: 0;
	font-size: 14px;
	color: grey;
	cursor: pointer;
}


.textarea.login_signup_link{
	cursor: text;
}

.modal_wrapper{
	display: none;
	z-index: 10000;
	position: fixed;
	overflow: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($newsb, 0.8);
	.modal{
		display: block;
		margin: 70px auto;
		width: 600px;
		position: relative;
		background-color: white;
		border-radius: 3px;
		padding: 40px;
		.modal_title{
			display: flex;
			flex-direction: column;
			// align-items: center;
			margin-bottom: 20px;
			h2{
				font-size: 18px;
				font-weight: 900;
				// margin-bottom: 12px;
			}
			.logo{
				font-size: 40px;
			}
			.description{
				padding: 5px;
				color: #696969;
			}
		}
		.close_modal_btn{
			position: absolute;
			top: 0;
		    right: 0px;
		    height: 50px;
		    width: 50px;
			align-items: center;
			justify-content: center;
			display: flex;
			cursor: pointer;
			svg{
				height: 16px;
				width: 16px;
				fill: $newsb;
				transition: 0.3;
				&:hover{
					fill: $newsb_light;
				}
			}
		}
	}
}
.mobile_modal_back_btn{
	display: none;
	// justify-content: center;
	align-items: center;
	padding: 0 12px 12px;
	border-bottom: 1px solid #eee;
	margin-bottom: 12px;
	font-size: 18px;
	color: #696969;
	cursor: pointer;
	span{
		
	}
}

@media(max-width: 768px){
	.modal_wrapper{
		position: absolute;
		padding: 5px;
		
		.modal{
			
			padding: 0;
   			margin: 50px 0;
			width: 100%;
			// height: 100%;

			// border-radius: 0;
			overflow: scroll;
			.close_modal_btn{
				top: 6px;
				width: 40px;
				height: 40px;
			}
		}
	}
	.modal_section{
		margin: 0 auto;
		max-width: 500px;
	}
	.mobile_modal_back_btn{
		display: flex;
	}
}



#signup_with_email_block{
	display: none;
}

#signin_modal{
	.signin_modal_block{
		.social_signin_links{
			display: flex;
			a{
				flex: 1;
				&:first-child{
					margin-right: 5px;
				}
			}
			.social_signin_btn{
				border-radius: 3px;
				color: white;
				padding: 12px 16px;
				font-size: 16px;
				margin-bottom: 12px;
				&.facebook_signin_btn{
					background-color: #3C5B97;
				}

				&.google_signin_btn{
					background-color: #df4930;
				}
	    		&:hover{
			    	opacity: .95;
			    }
				i{
					margin-right: 20px;
				}
			}
		}
		.non_social_link{
			h2{
				font-size: 14px;
    			color: grey;
    			text-align: center;
			}
			p{
				font-size: 16px;
				color: #aaa;
				margin-bottom: 20px;
				@extend .lines-on-sides
			}
		}
		.term_confirmation{
			margin-top: 12px;
		}
	}
}

.non_social_form{
	display: flex;
	flex-direction: column;
	.non_social_submit_btn input[type="submit"]{
		padding: 10px 12px;
		&:hover{
			font-weight: 900;
		}
	}
	.email_form{

	}
	#reset_password_link{
		margin: 12px 0;
	    display: inline-block;
	    border-bottom: 1px solid #aaa;
	}
}


#signup_with_email_block{
	.non_social_form{
		display: flex;
		flex-direction: column;
		div{
			&.name_form_section{
				.name_form{
					&.first_name_form{
						margin-right: 12px;
					}
				}
			}
			input[type="submit"]{
				background-color: $newsb;
				margin-top: 20px;
				padding: 8px 30px;
				width: auto;
				color: white;
			}
		}
	}
}

