




// .show_post_modal_btn{
//     background-color: $newsb_grey;
//     padding: 8px 12px;
//     border-radius: 3px;
//     color: #eee;
//     cursor: pointer;
//     &:hover{
//     	opacity: 1;
//     }
// 	&.on_header{
// 		display: inline-block;
// 	}
// 	&.for_mobile{
// 		display: none;
// 	}
// }
.post_url_form.on_feed{
	padding: 12px 20px;
	cursor: pointer;
	line-height: 24px;
	svg{
		width: 20px;
	    height: 20px;
	}
}




.show_post_modal_btn{

	.create_post_icon{
	}
	.title{
		display: inline-block;
		flex: 1;
	}
	&.on_feed{
		display: flex;
		align-items: center
	}
}	
@media(max-width: 768px){
	.post_url_form.on_feed{
		padding: 16px 8px;
		margin: 0;
		cursor: pointer;

	}
	// .show_post_modal_btn{

	// 	&.on_header{
	// 		display: none;
	// 	}
	// 	&.on_feed{
	// 		display: none;
	// 	}		
	// 	&.for_mobile{
	// 		display: flex;
	// 	}
	// }	
}



.lines-on-sides {
	display: table;
	text-align: center;
	white-space: nowrap;
 
	&:after,
	&:before {
		content: '';
		display: table-cell;
		width: 50%;
		background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 2px), transparent calc(50% + 2px));
		background-clip: padding;
	}
 
	&:after {
		border-left: 2em solid white;;
	}
 
	&:before {
		border-right: 2em solid white;;
	}
}

.login_signup_link{
	cursor: pointer;
}
.email_signup_link{
	color: $newsb_grey;
	border-bottom: 1px solid $newsb_grey;
	cursor: pointer;
}
#cancel_email_signup_link{
	display: inline-block;
	padding: 8px 20px;
	width: auto;
	margin: 0;
	font-size: 14px;
	color: grey;
	cursor: pointer;
}


.textarea.login_signup_link{
	cursor: text;
}

.modal_wrapper{
	display: none;
	z-index: 1000;
	position: fixed;
	overflow: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($newsb_grey, 0.8);
	-webkit-overflow-scrolling: touch;
    .modal_container{
    	display: flex;
    	width: 100%;
    	height: 100%;
	    justify-content: center;
	    align-items: center;    	
    }
	.modal{
		display: block;
		margin-bottom: 100px;
		width: 600px;
		position: relative;
		background-color: white;
		border-radius: 3px;
		padding: 40px;
		.post_form_block{
			min-height: 60px;
			.error_message{
				display: none;
				padding: 0 8px;
				margin-bottom: 12px;
				font-size: 14px;
			}
		}
		&.post_form_modal_via_url{
			display: none;
		}
		&.modal_width_400{
			width: 400px;
		}
		&.modal_width_auto{
			width: auto;
			padding: 50px;
		}
		.modal_title{
			display: flex;
			flex-direction: column;
			// align-items: center;
			margin-bottom: 20px;
			h2{
				font-size: 18px;
				font-weight: 900;
				// margin-bottom: 12px;
			}
			.logo{
				font-size: 40px;
			}
			.description{
				padding: 5px;
				color: #696969;
			}
		}
		.close_modal_btn, .back_modal_btn{
			position: absolute;
			top: 0;
		    right: 0px;
		    height: 50px;
		    width: 50px;
			align-items: center;
			justify-content: center;
			display: flex;
			cursor: pointer;
			z-index: 10;
			svg{
				height: 16px;
				width: 16px;
				fill: $newsb_grey;
				transition: 0.3;
				&:hover{
					fill: $newsb_grey;
				}
			}
			span{
				position: absolute;
			    top: 34px;
			    right: 8px;
			    font-size: 12px;
			}
		}
	}
}



.modal_content{
	margin-bottom: 30px;
	min-height: 200px;
	text-align: center;
	.modal_icon{
		margin: 20px 0;
		svg{
			height: 150px;
			width: 150px;
		}
		&.mini{
			svg{
				height: 100px;
				width: 100px;
				fill: grey;
			}	
		}
		i{
			color: grey;
			font-size: 50px;
			margin: 50px 0;
		}
	}
}

h2.modal_content_title{
	overflow: hidden;
  	font-weight: 900;
  	margin-bottom: 12px;
  	position: relative;
}
.loading_mobile{
	display: none;
	font-size: 16px;
}

p.modal_content_description{
  	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: grey;
}

hr.modal_content_divider{
	display: none;
	margin: 0;
}

@media(max-width: 768px){

	
	h2.modal_content_title{
		padding: 16px 8px;
	    background-color: $newsb;
	    color: white;
	    text-align: center;
		margin-bottom: 0;
		
		p{
			margin-right: 40px;
			font-size: 14px;
			text-align: left;
		}
	}
	
	p.modal_content_description{

	}
	
	hr.modal_content_divider{
		display: block;
	}
}




.modal_menu{
	display: flex;
	flex-direction: row-reverse;
	&.modal_menu_center{
		justify-content: center;
	}
	.modal_menu_item{
		-webkit-appearance: none;
		background-color: white;
		display: inline-block;
		padding: 8px 30px;
		margin-left: 12px;
		border-radius: 50px;
		cursor: pointer;
		&:hover{
			font-weight: 900;
		}
		&.with_border{
			border: 1px solid grey;
			&:hover{
				background-color: $newsb_grey;
				color: white;
			}
		}
	}
}


.mobile_modal_back_btn{
	display: none;
	// justify-content: center;
	align-items: center;
	padding: 0 12px 12px;
	border-bottom: 1px solid #eee;
	margin-bottom: 12px;
	font-size: 18px;
	color: #696969;
	cursor: pointer;
	span{
		
	}
}

@media(max-width: 768px){
	.modal_wrapper{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		// padding: 5px;
		.modal_container{
			display: block;
			// margin-top: ;
		}
		.modal{
			
			padding: 0;
   			margin: 0;
			width: 100%;
			border-radius: 0;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
			&.modal_width_400{
				width: auto;
				
			}
			&.modal_width_auto{
				padding: 0 0 20px;
			}
			.close_modal_btn, .back_modal_btn{
				top: 6px;
				width: 40px;
				height: 40px;
				span{
					top: 30px;
    				right: 5px;
				}
				svg{
					fill: white;
				}
				&:hover{
					svg{
						fill: white;
					}
				}

			}
		}
	}
	.modal_section{
		margin: 20px 8px;
	}
	.mobile_modal_back_btn{
		display: flex;
	}
}



#signup_with_email_block{
	display: none;
}

.signin_modal_wrapper{
	.signin_modal_block{
		.social_signin_links{
			display: flex;
			flex-direction: column;
			a{
				flex: 1;

			}
			.social_signin_btn{
				border-radius: 3px;
				color: white;
				padding: 12px 16px;
				font-size: 16px;
				margin-bottom: 8px;
				&.facebook_signin_btn{
					background-color: $facebook;
				}

				&.google_signin_btn{
					background-color: $google;
				}
				&.twitter_signin_btn{
					background-color: $twitter;
				}
	    		&:hover{
			    	opacity: .95;
			    }
				i{
					margin-right: 20px;
				}
			}
		}
		.non_social_link{
			h2{
				font-size: 14px;
    			color: grey;
    			text-align: center;
    			&.logo_style{
    				font-family: 'Raleway', sans-serif;
    			}
			}
			p{
				font-size: 16px;
				color: #aaa;
				margin-bottom: 20px;
				@extend .lines-on-sides
			}
		}
		.non_social_submit_btn{
			margin-bottom: 12px;
			input[type="submit"]{
				width: 100%;
			}
		}
		.term_confirmation{
			margin: 5px 0 12px;
			font-size: 14px;
		}
	}
}

@media(max-width: 768px){
	.signin_modal_wrapper{
		.signin_modal_block{
			.social_signin_links{

			}
		}
	}
}



.non_social_form{
	display: flex;
	flex-direction: column;
	.non_social_submit_btn input[type="submit"]{
		padding: 10px 12px;
		&:hover{
			font-weight: 900;
		}
	}
	.email_form{

	}
	#reset_password_link{
		margin: 12px 0;
	    display: inline-block;
	    border-bottom: 1px solid #aaa;
	    font-size: 14px;
	}
}


#signup_with_email_block{
	.non_social_form{
		display: flex;
		flex-direction: column;
		div{
			&.name_form_section{
				.name_form{
					&.first_name_form{
						margin-right: 12px;
					}
				}
			}
			input[type="submit"]{
				background-color: $newsb_grey;
				padding: 8px 30px;
				width: auto;
				color: white;
			}
		}
	}
}

