

.index_notifications, .notifications{
	border-radius: 3px;

	.notification_empty{
		font-size: 18px;
		margin: 30px;
		text-align: center;
		color: grey;
		padding: 50px;
	}
}

.notification{
	color: grey;
	display: flex;
	padding: 12px;
	min-height: 80px;
	background-color: white;
	a{
		position: relative;	
	}
	&.new{
		background-color: #f6f6f6;
	}
	span.notification_type_icon{
		color: white;
	    font-size: 12px;
	    position: absolute;
	    top: 28px;
	    right: 8px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 20px;
	    width: 20px;
	    border-radius: 50%;
	    z-index: 10;
	    &.pink{
	    	background-color: lightpink;
	    }
	    &.red{
	    	background-color: indianred;
	    }
	    &.blue{
	    	background-color: cornflowerblue;
	    }
	}
	.image_wrapper{
		border-radius: 50%;
	    border: 1px solid $newsb;
	    padding: 2px;
	    margin-right: 8px;
	    position: relative;
		img, svg{
			width: 40px;
			height: 40px;	
		}
	}
	&:first-child{
		border-radius: 5px 5px 0 0;
	}
	&:last-child{
		border-radius: 0 0 5px 5px;
	}
	&:only-child{
		border-radius: 3px;
	}
	// end
	&:not(:last-child){
		border-bottom: 1px solid #eee;
	}
	&:hover{
		background-color: #f9f9f9;
	}
	a{
		padding: 0;
		line-height: 0;
		display: inline;
		&:hover{
			background-color: rgba(0,0,0,0);
			color: #696969;
		}
	}
	a.notification_target_user_link{
		
		flex: none;
	}
	.content{
		flex: 1;
		font-size: 12px; 

	}
	span{
		color: $newsb_grey;
		font-weight: 600;
	}

}

@media (max-width: 768px){
	.index_notifications{
		margin-top: 0;
	}
	.ddm{
		.notification a{
			padding: 0;
		}
	}
	.notification{
		padding: 8px 5px;
		span.notification_type_icon{
			width: 25px;
			height: 25px;
			top: 48px;
		}
		.image_wrapper{
			img, svg{
				width: 65px;
				height: 65px;	
			}
		}
	}
}
