

.notifications{
	margin-top: 50px;
	background-color: white;
	border-radius: 3px;
	.notification_empty{
		font-size: 18px;
		margin: 30px;
		text-align: center;
		color: grey;
		padding: 50px;
	}
	.notification{
		color: grey;
		display: flex;
		padding: 12px;
		&:first-child{
			border-radius: 5px 5px 0 0;
		}
		&:last-child{
			border-radius: 0 0 5px 5px;
		}
		&:only-child{
			border-radius: 3px;
		}
		// end
		&:not(:last-child){
			border-bottom: 1px solid #eee;
		}
		&:hover{
			background-color: #f9f9f9;
		}

		.content{
			flex: 1;
			font-size: 14px; 
			span{
				 color: #001E42;
			}
		}
		
	}
}

@media (max-width: 768px){
	.notifications{
		margin-top: 0;
	}
}
