// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// post start here
.post_section{

}

.feed_sidebar{
	width: 350px;
	margin: 0 20px;
	h2{
		font-size: 14px;
	    color: #696969;
	    margin-bottom: 12px;
	}
}
@media(max-width: 1170px){
    .feed_section{
        .post_section{
            margin-left: 0;
        }
    }
}

@media(max-width: 970px){
	.main_section{
	    width: auto;
	}
	.feed_section{
		.post_section{
			min-width: auto;
		}
	}
	.feed_sidebar{
		display: none;
	}
}



.post{
    background: white;
    // box-shadow: 0 0 1px #bbb;
    font-size: 16px;
    margin-bottom: 20px;
    &.wo_article{
        // margin-bottom: 0;
    }

    .body{
        // border-left: 2px solid white;
        padding: 20px;
        flex: 1;
        .user_info, .user_info_for_share{
            .user_name{
                font-weight: 600;
            }
        }
        .opinion{
            padding: 20px 0;
            font-size: 14px;
        }
        .edit_form{
            display: none;
            margin: 20px 0;
        }
        .deleted_article{
            color: grey;
            border: 1px solid #eee;
            margin-bottom: 20px;
            padding : 12px;
        }
        .post_time{
            padding-bottom: 12px;
        }
        
        .follow_switch{
            font-size: 20px;
        }
        .post_menu{
            font-size: 20px;
            cursor: pointer;
        }
    }
    .option{
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        i{
            cursor: pointer;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
            width: 40px;
            height: 40px;
            color: grey;
            display: inline-block;                  
        }
    }
    .status{
        color: grey;
        font-size: 14px;
        display: flex;
        align-items: center;
        .link_btn, .link_btn{
            margin-right: 12px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: 1px solid #aaa;
            padding: 3px 8px;
            border-radius: 5px;
            &.liked{
                border: 1px solid $newsb_grey;
                
                &:hover{
                    opacity: .9;
                    
                    // a{
                    //     color: $newsb_grey;
                    // }
                }
                a{
                    color: $newsb_grey;
                }
            }
            &:hover{
                color: $newsb_grey;
                border: 1px solid $newsb_grey;
                a{
                    color: $newsb_grey;
                }
                svg{
                    fill: $newsb_grey;
                }
            }
            i{
                font-size: 16px;
            }
            svg{
                height: 16px;
                width: 16px;
                fill: grey;
                margin-right: 2px;
            }
            .comment_count{
                margin-left: 2px;
            }	
        }
        
        .comment_link{
            cursor: pointer;
            &.comment_blocked{
                border: none;
                color: grey;
                // background:
                //   linear-gradient(to top right,
                //       rgba(0,0,0,0) 0%,
                //       rgba(0,0,0,0) calc(50% - 0.8px),
                //       rgba(0,0,0,.2) 50%,
                //       rgba(0,0,0,0) calc(50% + 0.8px),
                //       rgba(0,0,0,0) 100%);   
                pointer-events: none;
            }
        }
        a{
            color: grey;
        }
    }
    .comment_index{
        padding: 0 20px;
        border-left: 2px solid $newsb_grey;
        // background-color: #f9f9f9;
        .view_link, .reply_view_link{
            a {
                font-size: 14px;
                font-weight: 600;
                color: black;
            }
        }
    }
}



.post.share{
     .body{
        padding: 12px 20px; 
        .user_info_for_share{
            flex: 1;
            font-size: 14px;
            color: grey;
            i{
                margin-left: 5px;
                font-size: 10px;
            }
            a{

                font-size: 16px;
            }
        }
        .option{
            flex: none;
        }
     }
     &.wo_article{
         
         .body .user_info_for_share{
             display: flex;
             align-items: center;
         }
     }
}

.post .comment{
    .body{
        padding: 12px 0;

        span.opinion.comment_opinion{
            display: inline-block;
            padding: 12px 0;
        }
    }
}

@media(max-width: 768px){
    .comment{
        
        .content_block{
            margin-left: 15px;
            padding-left: 20px;
            border-left: 2px solid $newsb_grey;
        }
    }
}

.post_article{
    margin-bottom: 12px;
    display: flex;
    border: 1px solid rgba(0,0,0,0.05);
    &:hover{
        border: 1px solid rgba(54, 88, 155, 0.4);
    }
    .image{
        background-position: center;
        background-size: cover;
        height: 100px;
        width: 100px;
    }
    .article_info{
        padding: 12px;
        flex: 1;
        transition: .1s;
        h2{
            padding-bottom: 5px;
        }
    }
    .post .comment{
        .body{
            padding: 12px 0;
    
            span.opinion.comment_opinion{
                display: inline-block;
                padding: 12px 0;
            }
        }
    }
}

.shared_post_space{
    height: 20px;
}

.post.show_post{
}

.best_comment{
    .content{
        padding-bottom: 10px;
    }
}

.comment{
    .comment_edit_form{
        display: none;
        padding: 0;
        textarea{
            padding: 8px 5px;
        }
    }
}



@media (max-width: 768px) {
    #main_contents.posts{
        margin-top: 12px;
    }
    .post, .post.share{
        // display: none;
        border-radius: 0;
        margin-bottom: 8px;
        // box-shadow: 0 0 1px grey;
        &.wo_article{
            // margin-bottom: 0;
        }
        .body{
             padding: 12px 8px;
             font-size: 16px;
            .status{
                .link_btn{
                    border: none;
                    background-color: #f6f6f6;
                    margin-right: 8px;
                    padding: 5px 8px;
                    border-radius: 5px;
                    &.comment_blocked{
                        background-color: rgba(0,0,0,0);
                    }
                }
            }
        }
        .comment_index{
            padding: 0 8px;
            // background-color: #f9f9f9;
            border-left: none;
        }

    }

}
@media (max-width: 500px) {
    .post{
        
        .body{
  
            .post_article{
                margin-bottom: 12px;
                display: flex;
                flex-direction: column;
                // border: none;
                &:hover{
                    // border: none;
                }
                .image{
                    background-position: center;
                    background-size: cover;
                    height: 130px;
                    width: auto;
                    flex: 1;
                }
                .article_info{
                    padding: 12px 5px;
                    color: #001E42;
                }
            }
        }
    }
}






.same_article_posts_link{
    margin-left: 20px;
}


.p_status > div{
    display: inline-block;
    margin-right: 20px;
}


.post_nav_option{
    padding: 20px;
}

.post_nav_option.active{
    border-bottom: 2px solid black;
}


#form_wrapper{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
}






.dark_over_lay{
    background-color: rgba(0, 0, 0, 0.6);
}


.form_image{
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
}







// show_post
.show_post_wrapper{
    margin: 20px 0;
}

#show_post_block{
    background-color: white;
    .cover{
        height: 200px;
        background-size: cover;
        background-position: center;
        text-align: center;
        img{
            margin-top: 100px;
            width: 150px;
            border: 2px solid white;
        }
    }
    .profile{
        padding: 60px 20px 20px;
        text-align: center;
        h2, p{
            color: grey;
        }
        .about{
            padding: 20px;

            p{
                color: $newsb_grey;
            }
        }
    }
}

#post_nav{
    display: flex;
    background-color: white;
    margin: -10px 0 10px;
    padding: 20px 15px 0;
    .post_btn{
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        flex: 1;
        padding: 5px 0;
        margin: 0 5px 20px;
        border: 1px solid $newsb_grey;
        border-radius: 3px;
        
        &:hover{
            background-color: rgba(0,0,0,0.1)
        }
    }
}

.sub_function_sidebar{
    .recent_post_section{
        .post{
            .post_article{
                flex-direction: column;
                .image{
                    width: auto;
                }
            }
            .recent_post_link{
                text-align: center;
                display: block;
                border: 1px solid grey;
                padding: 8px;
                font-size: 16px;
                color: grey;
                &:hover{
                    color: $newsb_grey;
                    border: 1px solid $newsb_grey;
                }
            }
        }
    }
}

