// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relationship_btn{
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #bbb;
    border-radius: 3px;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

a.follow_btn{
    border: 1px solid #6495ED;
    color: #6495ED;
    font-size: 14px;
    &:hover{
        border: 1px solid #001E42;
        color: #001E42;
    }
}

a.unfollow_btn{
    background-color: #001E42;
    border: rgba(0,0,0,0);
    color: white;
    font-size: 14px;
    &:hover{
        opacity: 0.9;
    }
}