// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relationship_btn{
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #bbb;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
@media(max-width: 768px){
    .relationship_btn{
        padding: 5px 20px;
    }
}


a.follow_btn{
    border: rgba(0,0,0,0);
    color: white;
    font-size: 14px;
    opacity: .9;
    &:hover{
        opacity: 1;
    }
}

a.unfollow_btn{
    background-color: $newsb_grey;
    border: rgba(0,0,0,0);
    color: white;
    font-size: 14px;
    &:hover{
        opacity: 0.9;
    }
}

@media(max-width: 768px){
    a.follow_btn{
        border: 1px solid $newsb_grey;
        color: black;
        font-size: 14px;
        opacity: .9;
        &:hover{
            opacity: 1;
        }
    }
    
    a.unfollow_btn{
        background-color: $newsb;
        border: rgba(0,0,0,0);
        color: white;
        font-size: 14px;
        &:hover{
            opacity: 1;
        }
    }    
}