// Place all the styles related to the replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply{
    padding: 20px 0px 20px 50px;
    background-color: white;
}

.profile_xs{
    height: 35px;
    width: 35px;
}


.r_form_image{
    position: absolute;
    top: 20px;
    left: 50px;
}

textarea.r_content{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 30px;

}

.reply_invite{
    cursor: pointer;
}

.reply_form{
    position: relative;
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 20px 20px 45px 80px;
    background-color: white;
    display: none;
}

.r_form_btn{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.r_status > div {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}