input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    color: $newsb_grey;
    cursor: pointer;
    font-weight: normal;
}

#user_profile_setting_wrapper, .sns_setting_wrapper{
    min-width: 600px;
    background-color: white;
    padding: 30px;
    min-height: 400px;
}

@media(max-width: 768px){
    #user_profile_setting_wrapper{
        padding: 0;
        min-width: auto;
        form{
            padding: 12px 5px;
        }
    }
    .sns_setting_wrapper{
        padding: 12px;
        min-width: auto;
    }
}


.forgot_password_block{
    display: flex;

    #reset_password_link_on_profile{
        display: inline-block;
        margin-bottom: 40px;
        border-bottom: 1px solid grey;
        color: grey;
    }
}

.setting_block.compact{
    margin-bottom: 12px;
}

.setting_block{
    display: flex;
    margin-bottom: 12px;
    .error_message{
        color: indianred;
        display: none;
    }
    .form_control{
        margin-bottom: 0;
    }
    textarea.about_form{
        height: 200px;
    }
    &.about, &.credential{
        flex-direction: column;
    }
    &.current_password{
        margin-bottom: 12px;
    }
    &.location{
        align-items: center;
    }
    &.image{
        align-items: center;
        .current.content{
            display: flex;
            align-items: center;
            #preview{
                display: inline-block;
                background-size: cover;
                background-position: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #eee;
            }
        }
        .upload_image_btn{
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
        input[type="file"]{
            display: none;
        }

    }
    .user_name_large{
        font-size: 20px;
    }
    .title_block{
        display: flex;
        align-items: center;
    }
    .title{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #696969;
        padding: 8px 0;
        margin-right: 8px;
        min-width: 100px;
        &.for_name{
            padding: 8px 0 0;
        }
        &.for_language, &.for_locale{
            margin-right: 50px;
        }
        svg{
            width: 16px;
            height: 16px;
            // margin-right: 5px;
        }
    }
    .content{
        > div{
            padding: 8px 0;
        }
        .edit_content_btn{
            display: inline-block;
            color: $newsb_grey;
            margin-left: 12px;
            cursor: pointer;
        }
        textarea#about.form_control{
            min-height: 120px;
        }
    }
    .new.content{
        display: none;
        h3{
            margin-top: 5px;
            color: grey;
        }
    }
    .new.content.to_show{
        display: block;
    }
    
}

@media(max-width: 768px){
    .setting_block{
        margin-bottom: 12px;
        .title_block{
            flex-direction: column;
            align-items: flex-start;
        }
        .title{
        }
    }
}

.deactivation_block{
    padding-top: 20px;
    border-top: 1px solid #eee;
    margin-top: 20px;
    color: indianred;
    .deactivation_link{
        cursor: pointer;
    }
}
@media (max-width: 768px) {
    .deactivation_block{
        padding: 20px 5px;
    }
}

.submit_btn_group{
    display: flex;
    align-items: center;
}
.setting_submit_btn{
    width: 100px;
    background-color: white;
    color: $newsb_grey;
    border: 1px solid $newsb_grey;
    padding: 8px;
    border-radius: 0;

        &:hover{
            background-color: $newsb_grey;
            color: #eee;
        }
}
#reset_setting_btn, #skip_setting_btn a{
    display: inline-block;
    color: grey;
    cursor: pointer;
    padding: 8px 20px;
    text-align: center;
    &:hover{
        color: $newsb_grey;
    }
}


// sns

.sns_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .sns_title{
        display: flex;
        align-items: center;
        .sns_icon{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            padding: 5px;
            &.of_facebook{
                background-color: #3C5B97;
            }
            &.of_twitter{
                background-color: #1da1f2;
            }
            &.of_linkedin{
                background-color: #0077b5;
            }
            &.of_google{
                background-color: $google;
            }
            i{
                font-size: 30px;
                color: white;
            }
        }
    }
    .sns_link{
        .sns_btn{
            padding: 8px;
            border-radius: 3px;
            width: 135px;
            display: inline-block;
            text-align: center;
            transition: .3s;
            &.connect{
                color: grey;
                border: 1px solid grey;
                &:hover{
                    background-color: $newsb_grey;
                    color: #eee;
                }
            }
            &.share{
                border: 1px solid $newsb_grey;
                color: $newsb_grey;
                &:hover{
                    background-color: $newsb_grey;
                    color: #eee;
                }
            }
            &.unshare{
                color: grey;
                &:hover{
                    color: darkred;
                }
            }
        }
        
    }
}

@media(max-width: 768px){
    .sns_block {
        .sns_title{
            .sns_icon{
                margin-right: 8px;
            }
        }
        .sns_link{
            .sns_btn{
                width: 100px;
            }
        }
    }
}