
#sidebar_left{
    width: 130px;
    margin: 12px;
    h2{
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    p{
        color: grey;
        margin-bottom: 5px;
    }
    
    .profile{
        margin-top: 50px;
        margin-bottom: 12px;
        >div{
            margin-bottom: 20px;
        }
        .user_info{
            h2.name{
                margin-bottom: 0;
            }
            img{
                width: 40px;
            }
        }
        
        .stats{
            div{
                margin-bottom: 5px;
            }
        }
        
        .like_stats{
            text-align: left;
        }
    }
    #trending_tags{
        .trending_tags_block{
            .tag{
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }
    
    // for users having not signed in
    .profile.not_signed_in{
        .images{
            padding-top: 20px;
            margin-bottom: 12px;
            svg{
                width: 60px;
            }
        }
        #sign_in{
            font-size: 14px;
            padding: 0 20px 20px;
        }
     
    } 
    
}    
    
    


#sidebar_right{
    width: 80px;
    margin: 12px 0;
    #ad{
        text-align: center;
        background-color: white;
    }
}