
#sidebar_left{
    width: 220px;
    margin: 12px 0 12px 12px;
    #profile{
        background-color: white;
        text-align: center;
        .images{
            background-position: center;
            background-size: cover;
            height: 80px;
            margin-bottom: 35px;
            .user_image img{
                width: 70px;
                height: 70px;
                margin-top: 35px;
            }
        }
        .user_info{
            margin-bottom: 12px;
        }
        .follower_stats{

            display: flex;
            div{
                flex: 1;
                border: 1px solid #eee;
                padding: 5px;
                h2{
                    font-size: 20px;
                }
            }
            .following{
                border-left: none;
            }
        }
        .like_stats{
            text-align: left;
            padding: 12px;
            h2{
                margin-bottom: 5px;
            }
            p{
                color: grey;
            }
        }
    }
    
}    
    
    
    

#sidebar_right{
    width: 308px;
    margin: 12px 0;
    #ad{
        text-align: center;
        background-color: white;
        width: 308px;
    }
}