#explore_container{
    margin: 0 auto;
    padding: 20px 0;
    width: 750px;
}

a.tag_link{
    color: $newsb_grey;
    font-weight: 600;
}
.tags{
    .tag{
        background-color: white;
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #eee;
        .tag_link{
            display: flex;
            flex: 1;
            align-items: center;
            .hashtag{
                
            }
            .contents{
                flex: 1;
                margin-left: 20px;
                h2{
                    font-weight: bold;
                    font-size: 16px;
                    span{
                        color: grey;
                        font-size: 12px;
                    }
                }
            }
        }

        .favorite_link{
            &:hover{
                opacity: 0.6;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .favorite{
                svg{
                    fill: grey;

                }
            }
            .unfavorite{
                svg{
                    // fill: $newsb;
                }
            }
            svg{
                width: 25px;
                height: 25px;
            }
        }
    }
}

#sidebar_left{
    
    a.tag{
        color: grey;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        font-size: 14px;
        svg{
            height: 12px;
            width: 12px;
            margin-right: 5px;
        }
    }
}


@media (max-width: 768px) {
    #explore_container{
        margin: 0;
        width: auto;
        .tags{
            .tag{
                flex: 1;
                flex-basis: calc(100% / 3);
                max-width: calc(100% / 3);
                position: relative;
                .tag_image{
                    border-radius: 0;
                    top: 1px;
                    left: 1px;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    .dark_over_lay{
                        border-radius: 0;
                    }
                }
            }
        }
    }
}


.hashtag_title{
    padding: 20px 0;
    color: $newsb_grey;
    font-size: 20px;
    span{
        color: #696969;
        font-size: 14px;
    }
}

#autocomplete_tags{
    position: relative;
    .autocomplete_tags_block{
        position: absolute;
        top: 0;
        background-color: white;
        z-index: 10;
    }
}

#autocomplete_tags{
    ul{
        border: 1px solid #eee;
        padding: 5px;
    }
    li{
        padding: 5px 20px;
        cursor: pointer;
        &:hover{
            background-color: rgba(0,0,0,.2);
        }
        
    }
    li.selected{
        color: white;
        background-color: $newsb_grey;
    }
}

