// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_container{
}

.user_card{
    display: flex;
    padding: 12px;
    background-color: #f9f9f9;
    margin-bottom: 12px;
    .image{
        margin-right: 12px;
        img{
            width: 35px;
            height: 35px;
        }
    }
    .info{
        flex: 1;
        .user_name{
            font-size: 14px;
            color: #696969;
            font-weight: bold;
            &:hover{
                color: #36589b;
            }
        }
        .shoulder_name{
            color: #696969;
        }
        .about{
            margin: 12px 0;
        }
        .follow_link{
        }
    }
}


.user_block{
    display: flex;
    position: relative;
    .user_image{
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    .user_info{
        flex: 1;
        .user_name{
  
        }
    }
    .star{
        position: absolute;
        display: none;
        top: -5px;
        left: -5px;
        svg{
            width: 16px;
        }
    }
}

#user_profile{
    background-color: white;
    text-align: center;
    padding: 20px;
    h2{
        font-size: 16px;
        color: #001E42;
        font-weight: bold;
    }
    img{
        height: 100px;
    }
}
#profile_nav{
    border-top: 2px solid #eee;
    background-color: white;
    .nav_wrapper{
        margin-bottom: 20px;
        max-width: 350px;
        margin: 0 auto;
        display: flex;
        .profile_btn{
            padding: 10px 0;
            flex: 1;
            text-align: center;
            h3{
                font-size: 20px;
            }
        }
        .profile_btn:hover{
            background-color: rgba(0,0,0,0.05);
        }
        
        .profile_btn.active{
            box-shadow: 0 -2px 0 #001E42;
        }
    }
}

@media (max-width: 576px) {
    #profile_nav{
        .nav_wrapper{
            max-width: none;
        }
    }
}

.profile_contents{
    color: #696969;
    .about{
        background-color: white;
        border-radius: 5px;
        minimum-height: 200px;
        padding: 12px;
        p{
            margin-bottom: 20px;
        }
    }
    h2.profile_title{
        padding: 24px 12px;
        font-weight: bold;
        font-size: 16px;
    }
    h3{
        margin-top: 12px;
        margin-bottom: 20px;
        color: #000;
        font-weight: bold;
        border-bottom: 1px solid #eee;
    }
}

.user_lists{
    .user_list_item{
        display: flex;
        background-color: white;
        padding: 12px;
        &:hover{
            background-color: #f9f9f9;
        }
        &:first-child{
            border-radius: 5px 5px 0 0;
        }
        &:last-child{
            border-radius: 0 0 5px 5px;
        }
        &:only-child{
            border-radius: 5px;
        }
        &:not(:last-child){
            border-bottom: 1px solid #e2e2e2;
        }
        a{
            color: grey;
            font-size: 12px;
        }
        .image{
            height: 50px;
            width: 50px;
        }
        .follow_switch{

            width: 80px;
            // set to 27px for a slight adjestment 
            line-height: 27px;
            text-align: center;
            display: flex;
            align-items: center;
            &:hover{
                opacity: 0.6;
            }
            a{
                display: inline-block;
                width: 100%;
                border-radius: 5px;
            }
            .follow{
                border: 1px solid #bbb;
            }
            .unfollow{
                font-weight: bold;
                color: #001E42;
                border: 2px solid #001E42;
            }
        }
        .info{
            padding: 0 12px;
            flex: 1;
            .name {
                margin-bottom: 5px;
                span{
                    font-size: 14px;
                    font-weight: bold;
                    color: #001E42;
                }
            }
            .follower_stats{
                span{
                    padding-left: 12px;
                }
            }
        }
        .ranking_index{
            width: 20px;
        }
        .about{
            padding: 0 10px;
            flex: 2;
            color: grey;
        }
    }
}


@media (max-width: 768px) {
    .profile_contents{
        margin-top: 12px;
        .about, .user_lists{
            border-radius: 0;
        }
        h2.profile_title{
            padding: 12px;
        }
    }
}


