// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_container{
}


.user_block{
    display: flex;
    padding-bottom: 12px;
    .user_image{
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    .user_info{
        flex: 1;
        .user_name{
  
        }
    }
}

#user_show_profile{
    
    background-color: white;
    h4{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .cover{
        height: 200px;
        background-size: cover;
        background-position: center;
        text-align: center;
        img{
            margin-top: 40px;
            width: 125px;
            border: 2px solid white;
        }
    }
    .profile{
        padding: 20px;
        text-align: center;
        h2{
            font-size: 30px;
        }
        .like_stats{
            padding: 12px;
            span{
                color: grey;
                margin-right: 10px;
            }
        }
        .about{
            p{
                padding-bottom: 12px;
                color: grey;
            }
        }
    }
    
}
#profile_nav{
    border-top: 2px solid #eee;
    background-color: white;
    .profile_nav_wrapper{
        margin-bottom: 20px;
        background-color: white;
        max-width: 540px;
        margin: 0 auto;
        display: flex;
        .profile_btn{
            padding: 10px 0;
            flex: 1;
            text-align: center;
            h3{
                font-size: 20px;
            }
        }
        .profile_btn:hover{
            background-color: rgba(0,0,0,0.05);
        }
        
        .profile_btn.active{
            border-bottom: 2px solid #001E42;
        }
    }
}

#user_list{
    background-color: white;
    padding: 20px;
    font-size: 12px;
    .user{
        padding: 20px 0;
        &:not(:last-child){
            border-bottom: 1px solid #e2e2e2;
        }
        .user_box{
            display: flex;
        }
        .image{
            height: 50px;
            width: 50px;
        }
        .follow_switch{
            width: 40px;
            line-height: 75px;
        }
        .info{
            padding-left: 20px;
            flex: 1;
            .name{
                font-size: 14px;
                font-weight: bold;
                color: #001E44;
            }
        }
        .ranking_index{
            width: 20px;
        }
        .about{
            padding: 0 10px;
            flex: 2;
            color: grey;
        }
        
    }
    
}