.user_image{
	img, svg{
		margin-right: 10px;
		width: 40px;
		height: 40px;
	}
}
.user_image_sm{
	img, svg{
		margin-right: 10px;
		width: 30px;
		height: 30px;
	}
}

.user_image_xm{
	img, svg{
		margin-right: 10px;
		width: 25px;
		height: 25px;
	}
}




// .user_icon_sub{
// 	svg{
// 		width: 40px;
// 		height: 40px;
// 	}
// }

// .user_image_substitute{
// 	margin-right: 10px;
// 	display: inline-block;
// 	width: 40px;
// 	height: 40px;
// 	line-height: 35px;
// 	text-align: center;
// 	border-radius: 50%;
// 	background-color: #001E42;
// 	font-size: 30px;
// 	font-family: 'Nova Flat', cursive;
// 	color: white;
// }
