@mixin flex_center {
  display: flex;
  justify-content: center;
}

.align_items_center{
	align-items: center;
}
.user_image_xs{
	@include flex_center;
	img, svg{
		margin-right: 10px;
		width: 25px;
		height: 25px;
	}
}
.user_image_xxs{
	@include flex_center;
	img, svg{
		margin-right: 5px;
		width: 20px;
		height: 20px;
	}
}

.user_image_sm{
	@include flex_center;
	img, svg{
		margin-right: 10px;
		width: 30px;
		height: 30px;
	}
}

.user_image_md{
	@include flex_center;
	img, svg{
		margin-right: 10px;
		width: 35px;
		height: 35px;
	}	
}

.user_image{
	@include flex_center;
	img, svg{
		margin-right: 10px;
		width: 40px;
		height: 40px;
	}
}


.user_image_lg{
	@include flex_center;
	>img, >svg{
		margin-right: 10px;
		width: 60px;
		height: 60px;
	}	
}


.user_image_xl{
	@include flex_center;
	>img, >svg{
		margin-right: 10px;
		width: 100px;
		height: 100px;
	}
}
.user_image_xl_circle{
	@include flex_center;
    background-color: white;
    border-radius: 50%;
    margin: 20px;	
	>img, >svg{
		margin: 5px;
		width: 100px;
		height: 100px;
	}
}

@media(max-width: 768px){
	.user_image_xl_circle{
		margin: 8px;
	}
}

.user_image_xl_square{
	@include flex_center;
	background-color: #eee;
	>img, >svg{
		width: 100px;
		height: 100px;
		border-radius: 3px;
		margin: 0;
	}
}


@media(max-width: 768px){
	.user_image, .user_image_md, .user_image_sm, .user_image_xs, .user_image_xl{
		>img, >svg{
			margin-right: 5px;
		}
	}
}



.user_faces{
	>img, >svg{
	    width: 25px;
	    height: 25px;
	    border: 2px solid white;
		&:not(:first-child){
			margin-left: -10px;
		}
    }
}
.featured_faces{
	>img, >svg{
	    width: 30px;
	    height: 30px;
		&:not(:first-child){
			margin-left: 8px;
		}
    }
}
.featured_faces_sm{
	>img, >svg{
	    width: 25px;
	    height: 25px;
		&:not(:first-child){
			margin-left: 8px;
		}
    }
}



// .user_icon_sub{
// 	svg{
// 		width: 40px;
// 		height: 40px;
// 	}
// }

// .user_image_substitute{
// 	margin-right: 10px;
// 	display: inline-block;
// 	width: 40px;
// 	height: 40px;
// 	line-height: 35px;
// 	text-align: center;
// 	border-radius: 50%;
// 	background-color: $newsb_grey;
// 	font-size: 30px;
// 	font-family: 'Nova Flat', cursive;
// 	color: white;
// }
