// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_show_profile{
    margin: 20px 0 0;
    padding: 20px;
    background-color: white;
    display: flex;
    .profile{
        text-align: center;
        flex: 1;
        .image{
            margin-bottom: 5px;
        }
        .like_status{
            display: inline-block;
            width: 100px;
            margin-bottom: 5px;
            *{
                text-align: left;
            }
        }
        .user_image_lg{
            width: 100px;
        }
    }
    .description{
        padding-left: 10px;
        flex: 3;
        .about{
            h4{
                font-size: 16px;
            }
        }
        h2{
            font-size: 20px;
            font-weight: bold;
            color: #001E42;
            border-bottom:1px double #001E42;
        }
    }
}
#profile_nav{
    background-color: white;
    display: flex;
    margin-top: 1px;
    padding: 10px 0;
    .profile_btn{
        flex: 1;
        text-align: center;
        h3{
            font-size: 20px;
        }
    }
}



