// Place all the styles related to the ranking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_list{
    background-color: white;
    padding: 20px;
    font-size: 12px;
    h2{
        font-size:20px;
        font-weight: bold;
    }
    > p{
        color: grey;
        padding-top: 10px;
        border-bottom: 1px solid #e2e2e2;
    }
    .user{
        padding: 20px 0;
        border-bottom: 1px solid #e2e2e2;
        .user_box{
            display: flex;
        }
        .image{
            height: 50px;
            width: 50px;
        }
        .follow_switch{
            width: 100px;
        }
        .info{
            padding-left: 20px;
            flex: 1;
            .name{
                font-size: 14px;
                font-weight: bold;
                color: #001E44;
            }
        }
        .ranking_index{
            width: 20px;
        }
        .about{
            padding: 0 10px;
            flex: 2;
            color: grey;
        }
        
    }
    
}