#index_nav
	=link_to articles_category_path(@category.id), remote: true do
		.news_btn.active
			=render 'svg/news_icon'
			%span
				news
	=link_to posts_category_path(@category.id), remote: true do
		.feed_btn
			=render 'svg/feed_icon'
			%span
				feed
			
#main_contents.articles
	=render @articles
	
-if @not_found == true
	.not_found
		%h2 
			no news yet. 
			time to explore!!
		%p
			or click here to post your own article :)
 


	

	