

.sub_function_wrapper
	.sub_function_main_section.post_section
		-if current_user
			.post_url_form.on_feed
				.show_post_modal_btn.on_feed
					%span.title
						=t 'form.url.caption'
					=render 'svg/plus_icon_circle'


							
		.post_form_block.feed
		
		
		#main_contents.posts
			=render @posts
			-if @posts.count < 30
				.scroll_btn.stop_loading
					NO MORE POSTS	
			-else
				.scroll_btn.posts
					LOAD MORE	
	
	.sub_function_sidebar
		%h2
			WHO TO FOLLOW
		.new_users_section
			-unless @new_users.empty?
				= render partial: "users/card", collection: @new_users, as: :user
				
:javascript
	$('.scroll_btn.posts').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_posts_path}",
				type: "GET",
				data: {existing_posts: $('#main_contents').find('.post').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})