
.feed_section
	.post_section
		-if current_user
			.post_url_form.on_feed
				=render 'shared/url_form_feed'
							
		#post_form_block
		
		
		#main_contents.posts
			=render @posts

	.feed_sidebar
		%h2
			WHO TO FOLLOW
		.new_users_section
			-unless @new_users.empty?
				= render partial: "users/card", collection: @new_users, as: :user

	
	
	

