// home/top.html.haml uses the same structure

-content_for(:featured_article) do
	"show the featured article"
	
		
.sub_function_wrapper
	.sub_function_main_section
		#main_contents.articles
			.title
				%span
					=t ('article_index.title.week')
				%span.divider
					\|
				%span
					#{@category.name}
			-if @articles.offset(1).empty?
				.result_not_found
					%h4.not_found_content
						=t('form.url.caption')
					#create_post_btn.show_post_modal_btn
						=t ('form.post.title')
						
						
			-else
				=render @articles.offset(1)
				-if @articles.count < 30
					.scroll_btn.stop_loading
						NO MORE ARTICLES	
				-else
					.scroll_btn.categorized_articles
						LOAD MORE	
						
	.sub_function_sidebar
		%h2
			=t ('sidebar.title.recent_articles')
		.recent_article_section
			-if @recent_articles.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_articles')
			-else
				= render partial: "articles/side_recent_article", collection: @recent_articles, as: :article

:javascript
	$('.scroll_btn.categorized_articles').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_categorized_articles_path}",
				type: "GET",
				data: {existing_articles : $('#main_contents').find('.article').length,
						category_id : "#{@category.id}"},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})