// home/top.html.haml uses the same structure

-content_for(:featured_article) do
	"show the featured article"
	
-if @sns_mode == "on"
	:css 
		.article .article_wrapper .best_post{
			display: block;
		}
	
		
.sub_function_wrapper
	.sub_function_main_section
		#main_contents.articles
			.title
				.mode_switch_block.desktop
					-if @mode == "off"
						.mode_switch
							%i.fa.fa-toggle-on.fa-2x
						.model_title
							=t('article_index.title.comment_off')
							
					-else
						.mode_switch
							%i.fa.fa-toggle-on.fa-2x.fa-rotate-180.active
						.model_title
							=t('article_index.title.comment')
							
				.mode_switch_block.mobile
					=render 'shared/mode_switch_mobile', mode: @mode

			-if @articles.offset(1).empty?
				.result_not_found
					%h4.not_found_content
						=t('form.url.caption')
					.show_post_modal_btn.on_header.btn
						=t ('form.post.title')
						
						
			-else
				=render @articles.offset(1)
				-if @articles.count < 30
					.scroll_btn.stop_loading
						=t('scroll.no_more')	
				-else
					.scroll_btn.categorized_articles.articles
						=t('scroll.load')	
						
	.sub_function_sidebar
		.title_block
			%h2
				=t ('sidebar.title.recent_articles')
		.recent_article_section
			-if @recent_articles.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_articles')
			-else
				= render partial: "articles/side_recent_article", collection: @recent_articles, as: :article


-if @mode == "on"
	:javascript
		$('.article').addClass('on');
		
:javascript
	$('.scroll_btn.articles').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_articles_path}",
				type: "GET",
				data: {existing_articles : $('#main_contents').find('.article').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})
	$('.mode_switch_block.desktop').click(function(){
		var $switch = $(this).find('i');
		var $state = $(this).find('.model_title');
		if($switch.hasClass('active')){
			$switch.removeClass('active').removeClass('fa-rotate-180');
			$state.text("#{t('article_index.title.comment_off')}");
			$('.article').removeClass('on');
			Cookies.set('mode', "off");
		} else{
			$switch.addClass('active').addClass('fa-rotate-180');
			$state.text("#{t('article_index.title.comment')}");	
			$('.article').addClass('on');
			Cookies.set('mode', "on");
		}
	});
	
	$('.mode_switch_block.mobile .mode_switch').click(function(){
		if($(this).hasClass('active')){
			return false;
			
		} else{
			$('.mode_switch_block.mobile .mode_switch').removeClass('active');
			$(this).addClass('active');
			
			if($(this).hasClass('on')){
				$('.article').addClass('on');
				Cookies.set('mode', "on");
			} else{
				$('.article').removeClass('on');
				Cookies.set('mode', "off");
			}
		}
	});