// home/top.html.haml uses the same structure

				 
#main_contents.articles
	-unless @articles.empty?
		=render 'articles/best_article', article: @articles.first
		=render @articles.offset(1)
	
	// = render partial: "articles/best_article", collection: @articles, as: :article
	// = render partial: "articles/test_article", collection: @articles, as: :article	