#index_nav{class: "#{@category.name}"}
	=link_to articles_category_path(@category.id), remote: true do
		.news_btn
			=render 'svg/news_icon'
			%span
				news
	=link_to posts_category_path(@category.id), remote: true do
		.feed_btn.active
			=render 'svg/feed_icon'
			%span
				feed

.feed_section
	.post_section
		#post_url_form
			=render 'shared/url_form'
							
		#post_form_block
		
		
		#main_contents.posts
			=render @posts
	.feed_sidebar

	
	