// categories/articles.html.haml uses the same structure
// index_nav for top page
-content_for(:featured_article) do
	"show the featured article"
	
.sub_function_wrapper
	.sub_function_main_section
		#main_contents.articles
			=render @articles.offset(1)
			
	.sub_function_sidebar
		%h2
			RECENT POST
		.recent_post_section
			=render "posts/recent_post", post: @recent_post
			