// categories/articles.html.haml uses the same structure
// index_nav for top page
#index_nav.all
	=link_to root_path do
		.news_btn.active
			=render 'svg/news_icon'
			%span
				news
	=link_to all_posts_categories_path do
		.feed_btn
			=render 'svg/feed_icon'
			%span
				feed
				
#main_contents.articles
	=render @articles
	
