// categories/articles.html.haml uses the same structure
// index_nav for top page
#index_nav
	=link_to root_path do
		.news_btn.active
			=render 'svg/news_icon'
			%span
				news
	=link_to all_posts_categories_path do
		.feed_btn
			=render 'svg/feed_icon'
			%span
				feed
				
#main_contents.articles
	=render 'articles/best_article', article: @articles.first
	=render @articles.offset(1)
	
-if @not_found == true
	.not_found
		%h2 
			no news yet. 
			time to explore!!
		%p
			or click here to post your own article :)
 
 
//rendering javascript
 
= render 'scrolll_js/scroll_articles', category: @category
= render 'scrolll_js/fix_sidebar'
 
 
:javascript
	
	if(#{ @not_found == true }){
		$.ajax({
			url: "/tags/articles_not_found",
			type: "GET",
			dataType: 'script',
		})
		// $('#main_contents').append("#{escape_javascript(render('shared/articles_not_found'))}");
	}


	var model = $('#main_contents').attr('class');

	$('#sub_menu').click(function(){
		if($(this).hasClass("open")){
			$('.dropdown').hide();
			$(this).removeClass("open");
			$(this).find("i").removeClass("fa-times");
			$(this).find("i").addClass("fa-caret-down");
		} else {
			$('.dropdown').fadeIn();
			$(this).addClass("open");
			$(this).find("i").removeClass("fa-caret-down");
			$(this).find("i").addClass("fa-times");
		}
	})
