// categories/articles.html.haml uses the same structure
// index_nav for top page

				
#main_contents.articles
	=render 'articles/best_article', article: @articles.first
	=render @articles.offset(1)