.comment_ddm.ddm
	.comment_ddm_wrapper

		-if current_user && comment.user.id == current_user.id
			.comment_user_menu
				.comment_edit_btn.ddm_btn.show_comment_edit_modal_btn
					EDIT
				.comment_delete_btn.ddm_btn
					DELETE
					
		.regular_user_menu
			.report_btn.ddm_btn.show_report_modal_btn{data: {type: "comment"}}
				REPORT
		
		
:javascript
	$(".comment_edit_btn").click(function(){
		$(this).parents(".comment").find(".comment_edit_form").show();
		$(this).parents(".comment_ddm").hide();
	});
	
	$(".comment_delete_btn").click(function(){
		$(this).parents(".comment_ddm").find(".delete").show();
		$(this).parents(".comment_ddm").find(".option_modal").fadeIn();
	});
	
	$('.comment_ddm .option_modal').click(function (event) {
	  if(!$(event.target).closest('.delete').length && !$(event.target).is('.delete')) {
		 $(".option_modal").hide();
		 $(".comment_ddm").hide();
	  }     
	});
	
	$('.comment_ddm .option_modal .cancel_btn').click(function(){
		$(".option_modal").hide();
		$(".comment_ddm").hide();	
	});
	
	// $('.comment_edit_link').click(function () {
	// 	$(this).parent('.comment').find('.content').html("#{ escape_javascript(simple_format(comment.content))}");
	// 	var height = $(this).parent('.comment').find('.content').css("height");
	// 	$(this).parent(".comment").find('.content').attr("data-height", height);
	// });