#locale_ddm.ddm
	.country
		=link_to t('country.united_states'), change_country_path(country_name: "United States"), class: "country_link", method: :post
		=link_to t('country.japan'), change_country_path(country_name: "Japan"), class: "country_link", method: :post
		
	.language
		=link_to "English", change_language_path(code: 'en'), class: "language_link", method: :post
		=link_to "日本語", change_language_path(code: 'ja'), class: "language_link", method: :post
	
			
:javascript
	$('.country').find(".country_link_" + #{@country.id}).addClass("selected");
	$('.language').find(".language_link_" + #{@language.id}).addClass("selected");
	

	
