#locale_ddm.ddm
    .country
        -Country.all.each do |country|
            =link_to country.name, change_country_path(country.id), class: "country_link_#{country.id}", method: :post

    .language
        -Language.all.each do |language|
            =link_to language.name, change_language_path(language.id), class: "language_link_#{language.id}", method: :post
    
            
:javascript
    $('.country').find(".country_link_" + #{@country.id}).addClass("selected");
    $('.language').find(".language_link_" + #{@language.id}).addClass("selected");
    