#locale_ddm.ddm
	.country
		-Country.all.each do |country|
			=link_to country_name_helper(country.name), change_country_path(country: country.name, country_id: country.id), class: "country_link_#{country.id}", method: :post

	.language
		-Language.all.each do |language|
			=link_to language_name_helper(language.name), change_language_path(locale: language.code, language_id: language.id), class: "language_link_#{language.id}", method: :post
	
			
:javascript
	$('.country').find(".country_link_" + #{@country.id}).addClass("selected");
	$('.language').find(".language_link_" + #{@language.id}).addClass("selected");
	

	
