
.mobile_ddm_header.mobile_notification_ddm
	.mobile_ddm_header_wrapper
		%h2.mobile_ddm_title
			=t ('dropdown.notifications')
		.close_mobile_ddm_btn
			=render 'svg/close_icon'

-if current_user
	.mobile_notification_ddm.ddm.mobile_ddm
		.mobile_notification_ddm_wrapper.ddm_wrapper
			.notifications.notification_list_for_ddm.mobile_notifications
				-if current_user.notifications.empty?
					.notification_empty
						=t('not_found.no_notifications')
				-else        
					=render @notifications
					-if @notifications.count < 30
						.scroll_btn.stop_loading
							=t ('scroll.no_more')	
					-else
						.scroll_btn.mobile_notifications
							=t ('scroll.load')	
						


