-if current_user
	.mobile_ddm_header.mobile_menu_ddm
		.mobile_ddm_header_wrapper
			%h2.mobile_ddm_title
				=t('dropdown.mobile_menu.title')
			.close_mobile_ddm_btn
				=render 'svg/close_icon'
	.mobile_menu_ddm.ddm.mobile_ddm
		.mobile_menu_ddm_wrapper.ddm_wrapper
			.menu_block
				.menu_option.search_bar
					=form_tag search_path(country: @country.name), method: "get" do
						=text_field_tag :keyword, params[:keyword], placeholder: t('dropdown.mobile_menu.search')
						=button_tag type: "submit" do
							%i.fa.fa-search.form_icon
				=link_to all_posts_categories_path, class: "menu_option" do
					=render 'svg/mobile_news_icon'
					%span
						#{t('dropdown.mobile_menu.feed')}・#{current_user.feed_notifications.where(check: false).count}
				=link_to ranking_user_path, class: "menu_option" do
					=render 'svg/mobile_trophy_icon'
					%span
						=t('dropdown.mobile_menu.ranking')
				=link_to tags_path, class: "menu_option ddm_btn" do
					=render 'svg/mobile_tag_icon'
					%span
						=t('dropdown.mobile_menu.trending_tags')
				
				=link_to favorite_index_tags_path, class: "menu_option ddm_btn" do
					=render 'svg/mobile_favorite_tag_icon'
					%span
						=t('dropdown.mobile_menu.favorite_tags')
