-if current_user
	#mobile_notification_ddm.ddm
		.mobile_notification_ddm_wrapper.ddm_wrapper
			.title_block
				%h2
					Notifications
				.close_ddm_btn
					=render 'svg/close_icon'
			
			.notifications.notification_list_for_ddm.mobile_notifications
				-if current_user.notifications.empty?
					.notification_empty
						You haven't received any notifications yet.
				-else        
					=render @notifications
					-if @notifications.count < 30
						.scroll_btn.stop_loading
							NO MORE NOTIFICATIONS	
					-else
						.scroll_btn.mobile_notifications
							LOAD MORE	
						


:javascript
	$('#mobile_notification_link').click(function () {
		$(".ddm").hide();
		$('#mobile_notification_ddm').show();
		$('body').addClass('fixed');
		return false;
	});


	$('.close_ddm_btn').click(function (event) {
		$('#mobile_notification_ddm').hide();
		$('body').removeClass('fixed');
	});
	
	$('.scroll_btn.mobile_notifications').click(function(e){
		e.stopPropagation();
		var stop_loading = $(this).hasClass('stop_loading');
		console.log($('.notifications').find('.notification').length);
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_mobile_notifications_path}",
				type: "GET",
				data: {existing_notifications: $('.mobile_notifications').find('.notification').length,
				},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})