.post_ddm.ddm
	.post_ddm_wrapper
		-if current_user && post.user.id == current_user.id
			.post_user_menu
				.edit_btn.ddm_btn
					EDIT
				.delete_btn.ddm_btn
					DELETE
					
		.regular_user_menu
			.report_btn.ddm_btn
				REPORT
		

				

	
			

		