.post_ddm.ddm
	.post_ddm_wrapper
		-if post.user.id == current_user.id
			.post_user_menu
				=link_to "EDIT", edit_article_post_path(post.id), remote: true
				.delete_btn.ddm_btn
					DELETE
					
		.regular_user_menu
			.report_btn.ddm_btn
				REPORT
		
		.option_modal
			.delete
				%h2
					Are you sure you want to delete your post?
				.delete_option
					=link_to "YES", post_path(post), method: :delete
					.cancel_btn.ddm_btn
						NO
				
			.report
			
:javascript
	$(".post_ddm .delete_btn").click(function(){
	   $(this).parents(".post_ddm").find(".option_modal").fadeIn();
	   $(this).parents(".post_ddm").find(".delete").show();
	});
	
	$('.post_ddm .option_modal').click(function (event) {
	   if(!$(event.target).closest('.delete').length && !$(event.target).is('.delete')) {
		 $(".option_modal").hide();
		 $(".post_ddm").hide();
	   }     
	});
	
	$('.post_ddm .option_modal .cancel_btn').click(function(){
		$(".option_modal").hide();
		$(".post_ddm").hide();	
	});
		
			
	
			

		