
.profile_option_ddm.ddm
	.profile_option_wrapper
		-if current_user
			.user_info_section
				.user_image_xl_square.profile_image
					=user_image_lg_helper(current_user)
				.user_info_block
					%h2.user_name
						=current_user.name
					%p.credential
						=current_user.credential
					%p.stats
						%span
							=t('like', count: current_user.liked_count)
						%span
							=t('follower', count: current_user.followers.count)
						%span
							=t('following', count: current_user.following.count)
			.profile_option_block
				=link_to t('dropdown.profile_option.profile'), user_path(current_user), class: "profile_option ddm_btn" 
				=link_to t('dropdown.profile_option.setting'), edit_setting_user_path(current_user.id), class: "profile_option ddm_btn" 
				=link_to t('dropdown.profile_option.social_media'), edit_sns_setting_user_path(current_user.id), class: "profile_option ddm_btn" 

			-if current_user.admin == true
				.admin_option_block
					-if current_user.country.name == "Japan"
						=link_to "Auto Post", drafts_admins_path
					-elsif current_user.country.name == "United States"
						=link_to "Auto Post USA", auto_post_usa_admins_path					
					=link_to "Manual Post", url_forms_admins_path
					=link_to "Reports", reports_admins_path
					=link_to "Announcement", newsb_notifications_index_admins_path
			.footer
				=link_to t('dropdown.profile_option.about'), about_page_path, class: "sub_profile_option", target: "_blank"
				路
				=link_to t('dropdown.profile_option.contact'), contact_page_path, class: "sub_profile_option", target: "_blank" 
				路
				=link_to t('dropdown.profile_option.terms'), terms_page_path, class: "sub_profile_option", target: "_blank"
				路
				=link_to t('dropdown.profile_option.privacy'), privacy_page_path, class: "sub_profile_option", target: "_blank" 
				路
				=link_to t('dropdown.profile_option.logout'), destroy_user_session_path, class: "sub_profile_option" 

				%br
				%span.copy_right_statement
					&copy; 2017 newsb!
		-else
			.profile_option_block
				=link_to t('dropdown.profile_option.about'), about_page_path, class: "profile_option ddm_btn" 
				=link_to t('dropdown.profile_option.contact'), contact_page_path, class: "profile_option ddm_btn" 
				=link_to t('dropdown.profile_option.terms'), terms_page_path, class: "profile_option ddm_btn" 
				=link_to t('dropdown.profile_option.privacy'), privacy_page_path, class: "profile_option ddm_btn" 

			
