.reply_ddm.ddm
	.reply_ddm_wrapper

		.regular_user_menu
			.report_btn.ddm_btn
				REPORT
				
		-if reply.user.id == current_user.id
			.reply_user_menu
				=link_to "EDIT", edit_reply_path(reply.id), remote: true
				.delete_btn.ddm_btn
					DELETE
		
		.option_modal
			.delete
				%h2
					Are you sure you want to delete your reply?
				.delete_option
					=link_to "YES", reply_path(reply), method: :delete
					.cancel_btn.ddm_btn
						NO
				
			.report
		
:javascript
	$(".reply_ddm .delete_btn").click(function(){
	   $(this).parents(".reply_ddm").find(".option_modal").fadeIn();
	   $(this).parents(".reply_ddm").find(".delete").show();
	});
	
	$('.reply_ddm .option_modal').click(function (event) {
	   if(!$(event.target).closest('.delete').length && !$(event.target).is('.delete')) {
		 $(".option_modal").hide();
		 $(".reply_ddm").hide();
	   }     
	});
	
	$('.reply_ddm .option_modal .cancel_btn').click(function(){
		$(".option_modal").hide();
		$(".reply_ddm").hide();	
	});
		
			
	
			

		