.unlock_sns_ddm.ddm
	.unlock_sns_ddm_wrapper
		.description
			You haven't connected your SNS account yet. 
			=link_to "SNS setting page", edit_sns_setting_user_path(current_user.id), class: "sns_setting_link"
			.skip_btn
				Maybe, later
		
:javascript
	$(".sns_connect_btn.locked").click(function(e){
		if($(event.target).is('.sns_setting_link')){
			stopPropagation();
		}
	   $(this).find(".unlock_sns_ddm").show();
	   return false;
	});
	
	
	
	$('.sns_connect_btn .skip_btn').click(function (event) {
	   $(this).parents('.unlock_sns_ddm').hide();   
	   return false;
	});
			
	
	
			

		