
.feed_optimizer
  optimize your wall with hashtags!!
   
  =form_tag '/optimized_index', method: :get, remote: true do
    -tags.each do |tag|
      =label_tag do
        .tag_pill
          =check_box_tag "tag_ids[]", tag.id, true, style: "display: none;"
          .tag_content.give_me_short_ellipsis
            = tag.name
    =submit_tag "save change", class: "save_btn"