.general_footer
	.footer_container
		.footer_menu
			.footer_menu_block
				=link_to "newsb!-TOP", root_path , class: "footer_menu_item"
				=link_to "About", about_page_path, class: "footer_menu_item"
				=link_to "Contact", contact_page_path, class: "footer_menu_item"
				=link_to "Terms", terms_page_path, class: "footer_menu_item"
				=link_to "Privacy", privacy_page_path, class: "footer_menu_item"
				=link_to "Cookie", cookie_policy_page_path, class: "footer_menu_item"
			%h2.footer_menu_block_title.logo
				newsb!
			%p
				&copy; 2017 NEWSB
				
			