
-if current_user 
	.icon.mobile_icon#mobile_profile_option_link.user_image_xs
		%span
			=user_image_helper(current_user)


			
	.icon#mobile_locale_link.mobile_icon
		%span
			=render "svg/locale_icon"
			
	.icon#mobile_post_link.mobile_icon
		%span.show_post_modal_btn
			=render 'svg/create_post_icon'
			
	.icon#mobile_notification_link.mobile_icon.mobile_notification_icon
		%span
			=render "shared/mobile_notification_icon"

	.icon.mobile_icon#mobile_menu_link
		%span
			=render "svg/menu_icon"			
	
	
-else

	.icon.mobile_icon.login_icon.login_signup_link
		%span
			=render 'svg/profile_icon_bold'
		
	.icon#mobile_locale_link.mobile_icon
		%span
			=render "svg/locale_icon"
			
	.icon#mobile_post_link.mobile_icon.login_signup_link
		%span
			=render 'svg/create_post_icon'
			
	.icon.mobile_icon.login_signup_link
		%span
			=render "svg/mobile_notification_icon"
			
	.icon.mobile_icon.login_signup_link
		%span
			=render "svg/menu_icon"

:javascript
	$('.mobile_notification_icon').click(function () {
		// ボタンが押されたら、モーダルウィンドウを表示
		$.ajax({
			url: "#{check_notifications_users_path}",
			type: "POST",
			dataType: 'script',
		})
		$('.mobile_notification_icon .notifications_count').hide();
		return false;
	});