
=link_to root_path, class: "icon" do
	=render "svg/mobile_home_icon"
	
.icon#mobile_locale_link
	%span
		=render "svg/globe_icon"
		
.icon#mobile_post_link
	%span.create_post_btn
		+
		
=link_to tags_path, class: "icon" do
	=render "svg/mobile_tag_icon"
	
.icon#mobile_notification_link
	%span
		=render "svg/mobile_notification_icon"
	