.url_form_title
	%i.fa.fa-pencil
	Make Post | What's happening in the world today?
	
=form_tag "/posts/load_url", method: :get, autocomplete: :off, remote: true do
	= url_field_tag :placeholder_url, "", placeholder: "https://paste_your&url.to/start!", class: "url_form"

:css 
	#post_url_form form input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset;
	}
	
:javascript
	$('#post_url_form input').keyup(function(e) {
		$.ajax({
			url: "/posts/load_url",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		});
		return false;
	});