!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{name: "turbolinks-cache-control", content: "no-preview"}
		%title Newsparty
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application'

	%body
		.flex_container
		
			=render 'layouts/header'

			-if yield(:sidebar).empty?
				.flex_wrapper.clearfix  
					#sidebar_left.hidden-xs
						=render "/sidebars/left_profile", user: current_user, trending_tags: @trending_tags
					#main_container
						=yield
			
			-elsif yield(:profile).empty? == false
				=render 'users/profile', user: @user
				.flex_wrapper.clearfix 
					#main_container
						=yield
			
			-else
				.flex_wrapper.clearfix 
					#main_container
						=yield
		
		#mobile_footer
			=render 'layouts/mobile_header'
			
								
